{% assign pc_padding_top=section.settings.pc_padding_top %}
{% assign pc_padding_bottom=section.settings.pc_padding_bottom %}
{% assign mobile_padding_top=section.settings.mobile_padding_top %}
{% assign mobile_padding_bottom=section.settings.mobile_padding_bottom %}
{% assign content_bg_color=section.settings.content_bg_color %}
{% assign overall_bg_color=section.settings.overall_bg_color %}
{% assign jump_id = section.settings.jump_id %}

<style>
  .download-support-{{section.id}} { 
    width: 1200px;
    margin: 0 auto;
    background-color: {{overall_bg_color}};
    padding-top:{{pc_padding_top}}px; 
    padding-bottom:{{pc_padding_bottom}}px;
  }
  .download-support-{{section.id}} .drop-icon {
    width: 20px;
    height: 20px;
  }
  .download-support-{{section.id}} .icon-info {
    width: 16px;
    height: 16px;
  }
  .download-support-{{section.id}} .drop-icon-close {
    transform: rotate(180deg);
  } 
  .download-support-{{section.id}} .download-support-heading {
    font-family: "Montserrat-Bold";
    font-weight: bold;
    font-size:32px;
    line-height:39.01px; 
    color: rgba(0, 0, 0, 1);
  }
  .download-support-{{section.id}} .item-title-time .item-title {
    font-family: "Montserrat-Semibold";
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    color: rgba(0, 0, 0, 1);
  }
  .download-support-{{section.id}} .item-title-time .item-time {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height:17.07px;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 8px;
  }
  .download-support-{{section.id}} .download-btn {
    font-family: "Montserrat-Semibold";
    font-weight:600;
    font-size:14px;
    line-height:17.07px;
    text-decoration: underline;
    color: #546599;
  }
  .download-support-{{section.id}} .download-btn:hover {
    color: #0059f5;
  }
  .download-support-{{section.id}} .drop-btn-text {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height:17.07px;
    color: rgba(0, 0, 0, 1);
  }
  .download-support-{{section.id}} .drop-down-text {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height:24px;
    color: rgba(0, 0, 0, 1);

  }
  .download-support-{{section.id}} .subheading {
    padding: 8px 10px;
    font-size: 15px;
  }
  .download-support-{{section.id}} .subtitle {
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
  }
  .download-support-{{section.id}} .tooltip {
    position: relative;
    display: flex;
    align-items: center;
  }

  .download-support-{{section.id}} .tooltipText {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 0; 
    opacity: 0;
    transition: opacity 0.3s;
  }

  .download-support-{{section.id}} .tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }
  @media (max-width: 960px) {
    .download-support-{{section.id}}  {
      padding-top:{{mobile_padding_top}}px;
      padding-bottom:{{mobile_padding_bottom}}px;
      padding-left: 25px;
      padding-right: 25px;
      width: 100%;
    }
    .download-support-{{section.id}} .item-title-time .item-title {
      font-size: 16px;
    }
    .download-support-{{section.id}} .download-support-heading {
      font-family: "Montserrat-Bold";
      font-weight: bold;
      font-size: 18px;
      line-height:27px
    }
    .download-support-{{section.id}} .item-title-time  .item-title {
      font-size: 14px;
      line-height: 17.07px;
    }
    .download-support-{{section.id}} .item-title-time .item-time {
      font-size:12px;
      line-height:14.63px;
    }
    .download-support-{{section.id}} .download-btn  {
      font-size:12px;
      line-height:14.63px;
    }
    .download-support-{{section.id}} .drop-btn-text {
      font-size: 12px;
      line-height:14.63px;
    }
    .download-support-{{section.id}} .drop-down-text {
      line-height:12px;
      line-height:18px;
    }
    .download-support-{{section.id}} .tooltipText {
      width: 160px;
      bottom: 100%; 
    }
  } 
</style>
<div class="download-support-{{section.id}}">
  <div id="{{jump_id}}"></div>
  <div class="download-support-heading tw-mb-6 md:tw-mb-5">{{section.settings.heading}}</div>
  <div class="subheading tw-mb-6">{{section.settings.subheading}}</div>
  <div class="subtitle tw-mb-6">Version History</div>
  <div class="download-support-items">
    {% for block in section.blocks%}
    {% assign title =block.settings.title %}
    {% assign time =block.settings.time %}
    {% assign button_text=block.settings.button_text %}
    {% assign button_link=block.settings.button_link %}
    {% assign drop_down_guide_text=block.settings.drop_down_guide_text %}
    {% assign drop_down_text=block.settings.drop_down_text %}
    <div
      class="download-support-item rounded-xl tw-flex tw-flex-col tw-px-[60px] tw-py-[15px] md:tw-px-5 md:tw-py-[15px] tw-mb-5 md:tw-mb-[15px]"
      style="background-color: {{content_bg_color}}">
      <div
        class="tw-cursor-pointer support-item-title tw-flex lg:tw-items-center tw-justify-between ">
        <div class="item-title-time md:tw-flex md:tw-flex-col md:tw-mb-5  ">
          {% if title %}
          <span class="item-title lg:tw-mr-5 md:tw-mb-[5px]">{{title}}</span>
          {% endif %}
        </div>
        {% if block.settings.button_link %}
          <div class="item-btn tw-flex md:tw-justify-between md:tw-ml-2 tw-items-center">
            <div class="drop-btn tw-flex tw-items-center">
              <svg t="1712458362907" class="drop-icon tw-cursor-pointer" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2680" width="32" height="32">
                <path d="M511.609097 961.619254M511.906879 662.759609 511.906879 662.759609 129.831974 280.679587c-14.788821-14.762215-38.777165-14.762215-53.585429 0-14.788821 14.812357-14.788821 38.799678 0 53.607942l405.851425 405.805376c0.867764 1.107217 1.824555 2.190899 2.843768 3.206018 14.808264 14.788821 38.795585 14.788821 53.585429 0l408.230612-408.226518c14.807241-14.808264 14.807241-38.795585 0-53.584406-14.767332-14.785751-38.754652-14.785751-53.562916 0L511.906879 662.759609 511.906879 662.759609zM511.906879 662.759609" fill="#8a8a8a" p-id="2681"></path>
              </svg>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="drop-down-text tw-hidden">
        {% if block.settings.button_link %}
        <div class="link-item tw-grid lg:tw-grid-cols-3 md:tw-grid-cols-2">
          <a class="download-btn tw-mr-9 tw-flex lg:tw-items-center tw-cursor-pointer" href="{{block.settings.button_link}}" download="{{block.settings.button_link}}" target="_blank">
            <span class="tw-m-2">{{ block.settings.button_text }}</span>
          </a>
          <div class="md:tw-hidden">{{block.settings.time}}</div>
          <div class="tooltip md:tw-justify-end">
            <svg t="1712458593116" class="tw-mr-2 icon-info" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8840" width="32" height="32"><path d="M512 981.333333C252.8 981.333333 42.666667 771.2 42.666667 512S252.8 42.666667 512 42.666667s469.333333 210.133333 469.333333 469.333333-210.133333 469.333333-469.333333 469.333333z m0-85.333333c212.074667 0 384-171.925333 384-384S724.074667 128 512 128 128 299.925333 128 512s171.925333 384 384 384z m0-85.333333a42.666667 42.666667 0 1 1 0-85.333334 42.666667 42.666667 0 0 1 0 85.333334z m42.624-190.250667a42.666667 42.666667 0 1 1-85.248-3.498667 168.96 168.96 0 0 1 16.042667-63.573333c12.693333-27.072 32.234667-48.725333 59.818666-61.162667C589.525333 472.192 618.666667 433.130667 618.666667 405.333333a106.666667 106.666667 0 0 0-213.333334 0 42.666667 42.666667 0 1 1-85.333333 0 192 192 0 0 1 384 0c0 63.829333-50.602667 131.669333-123.690667 164.629334-7.146667 3.221333-12.970667 9.685333-17.642666 19.626666a91.52 91.52 0 0 0-6.826667 22.037334 76.842667 76.842667 0 0 0-1.216 8.789333z" p-id="8841" fill="#515151"></path></svg>
            <button class="tooltipButton">Description</button>
            <span class="tooltipText">{{block.settings.description}}</span> 
          </div>
        </div>
        {% endif %}
        {% if block.settings.button_link2 %}
        <div class="link-item tw-grid lg:tw-grid-cols-3 md:tw-grid-cols-2">
          <a class="download-btn tw-mr-9  tw-flex lg:tw-items-center tw-cursor-pointer" href="{{block.settings.button_link2}}" download="{{block.settings.button_link2}}" target="_blank">
            <span class="tw-m-2">{{ block.settings.button_text2 }}</span>
          </a>
          <div class="md:tw-hidden">{{block.settings.time2}}</div>
          <div class="tooltip md:tw-justify-end">
            <svg t="1712458593116" class="tw-mr-2 icon-info" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8840" width="32" height="32"><path d="M512 981.333333C252.8 981.333333 42.666667 771.2 42.666667 512S252.8 42.666667 512 42.666667s469.333333 210.133333 469.333333 469.333333-210.133333 469.333333-469.333333 469.333333z m0-85.333333c212.074667 0 384-171.925333 384-384S724.074667 128 512 128 128 299.925333 128 512s171.925333 384 384 384z m0-85.333333a42.666667 42.666667 0 1 1 0-85.333334 42.666667 42.666667 0 0 1 0 85.333334z m42.624-190.250667a42.666667 42.666667 0 1 1-85.248-3.498667 168.96 168.96 0 0 1 16.042667-63.573333c12.693333-27.072 32.234667-48.725333 59.818666-61.162667C589.525333 472.192 618.666667 433.130667 618.666667 405.333333a106.666667 106.666667 0 0 0-213.333334 0 42.666667 42.666667 0 1 1-85.333333 0 192 192 0 0 1 384 0c0 63.829333-50.602667 131.669333-123.690667 164.629334-7.146667 3.221333-12.970667 9.685333-17.642666 19.626666a91.52 91.52 0 0 0-6.826667 22.037334 76.842667 76.842667 0 0 0-1.216 8.789333z" p-id="8841" fill="#515151"></path></svg>
            <button class="tooltipButton">Description</button>
            <span class="tooltipText">{{block.settings.description2}}</span> 
          </div>
        </div>
        {% endif %}
        {% if block.settings.button_link3 %}
        <div class="link-item tw-grid lg:tw-grid-cols-3 md:tw-grid-cols-2">
          <a class="download-btn tw-mr-9  tw-flex lg:tw-items-center tw-cursor-pointer" href="{{block.settings.button_link3}}" download="{{block.settings.button_link3}}" target="_blank">
            <span class="tw-m-2">{{ block.settings.button_text3 }}</span>
          </a>
          <div class="md:tw-hidden">{{block.settings.time3}}</div>
          <div class="tooltip md:tw-justify-end">
            <svg t="1712458593116" class="tw-mr-2 icon-info" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8840" width="32" height="32"><path d="M512 981.333333C252.8 981.333333 42.666667 771.2 42.666667 512S252.8 42.666667 512 42.666667s469.333333 210.133333 469.333333 469.333333-210.133333 469.333333-469.333333 469.333333z m0-85.333333c212.074667 0 384-171.925333 384-384S724.074667 128 512 128 128 299.925333 128 512s171.925333 384 384 384z m0-85.333333a42.666667 42.666667 0 1 1 0-85.333334 42.666667 42.666667 0 0 1 0 85.333334z m42.624-190.250667a42.666667 42.666667 0 1 1-85.248-3.498667 168.96 168.96 0 0 1 16.042667-63.573333c12.693333-27.072 32.234667-48.725333 59.818666-61.162667C589.525333 472.192 618.666667 433.130667 618.666667 405.333333a106.666667 106.666667 0 0 0-213.333334 0 42.666667 42.666667 0 1 1-85.333333 0 192 192 0 0 1 384 0c0 63.829333-50.602667 131.669333-123.690667 164.629334-7.146667 3.221333-12.970667 9.685333-17.642666 19.626666a91.52 91.52 0 0 0-6.826667 22.037334 76.842667 76.842667 0 0 0-1.216 8.789333z" p-id="8841" fill="#515151"></path></svg>
            <button class="tooltipButton">Description</button>
            <span class="tooltipText">{{block.settings.description3}}</span> 
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script type="module">
  var isMbile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  $(function() {
    if(isMbile) {
      $(".download-support-{{section.id}} .tooltipButton").on("touchstart", function(e){
        $(this).next().css("visibility", "visible");
      });
      $(".download-support-{{section.id}} .tooltipButton").on("touchend", function(e){
        $(this).next().css("visibility", "hidden");
      });
    }
    $(".download-support-{{section.id}} .tooltipButton").hover(function(){
        $(this).next().css("visibility", "visible");
    }, function(){
        $(this).next().css("visibility", "hidden");
    });
    $('.download-support-{{section.id}} .support-item-title').click(function(){
      $(this).find('.drop-icon').toggleClass('drop-icon-close')
      $(this).parent().children(".drop-down-text").slideToggle()
    })
  })
</script>
{% schema %}
{
  "name": "download_support",
  "settings": [
    {
      "type": "text",
      "id": "jump_id",
      "label": {
        "en-US": "Jump ID",
        "zh-CN": "跳转ID"
      }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en-US": "heading",
        "zh-CN": "标题"
      }
    },
    {
      "type": "text",
      "id": "subheading",
      "label": {
        "en-US": "subheading",
        "zh-CN": "副标题"
      }
    },
    {
      "type": "color",
      "default": "#F0F8FF",
      "id": "overall_bg_color",
      "label": {
        "en-US": "Overall background color",
        "zh-CN": "整体背景色"
      }
    },
    {
      "type": "color",
      "default": "#F9F9F9",
      "id": "content_bg_color",
      "label": {
        "en-US": "content bg color",
        "zh-CN": "内容背景色"
      }
    },
    {
      "type": "header",
      "content": {
        "zh-CN": "间距",
        "en-US": "padding"
      }
    },
    {
      "type": "range",
      "id": "pc_padding_top",
      "label": {
        "en-US": "PC Padding top",
        "zh-CN": "PC 上间距"
      },
      "unit": "px",
      "step": 2,
      "min": 0,
      "max": 200,
      "default": 60
    },
    {
      "type": "range",
      "id": "pc_padding_bottom",
      "label": {
        "en-US": "PC Padding bottom",
        "zh-CN": "PC 下间距"
      },
      "unit": "px",
      "step": 2,
      "min": 0,
      "max": 200,
      "default": 60
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": {
        "en-US": "Mobile Padding top",
        "zh-CN": "Mobile 上间距"
      },
      "unit": "px",
      "step": 2,
      "min": 0,
      "max": 200,
      "default": 30
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": {
        "en-US": "Mobile Padding bottom",
        "zh-CN": "Mobile 下间距"
      },
      "unit": "px",
      "step": 2,
      "min": 0,
      "max": 200,
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "header",
      "name": {
        "en-US": "Column Content ",
        "zh-CN": "栏目内容"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en-US": "title",
            "zh-CN": "标题"
          },
          "default": "Firmware Name"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": {
            "en-US": "link text",
            "zh-CN": "链接文字1"
          },
          "default": "download"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "en-US": "Button link2",
            "zh-CN": "按钮链接1"
          }
        },
        {
          "type": "text",
          "id": "time",
          "label": {
            "en-US": "time one",
            "zh-CN": "时间1"
          },
          "default": "2022-03-11"
        },
        {
          "type": "text",
          "id": "description",
          "label": {
            "en-US": "Description one",
            "zh-CN": "Description one"
          }
        },
        {
          "type": "text",
          "id": "button_text2",
          "label": {
            "en-US": "link text two",
            "zh-CN": "链接文字2"
          },
          "default": "download"
        },
        {
          "type": "url",
          "id": "button_link2",
          "label": {
            "en-US": "Button link two",
            "zh-CN": "按钮链接2"
          }
        },
        {
          "type": "text",
          "id": "time2",
          "label": {
            "en-US": "time two",
            "zh-CN": "时间2"
          },
          "default": "2022-03-11"
        },
        {
          "type": "text",
          "id": "description2",
          "label": {
            "en-US": "Description two",
            "zh-CN": "Description two"
          }
        },
        {
          "type": "text",
          "id": "button_text3",
          "label": {
            "en-US": "link text three",
            "zh-CN": "链接文字3"
          },
          "default": "download"
        },
        {
          "type": "url",
          "id": "button_link3",
          "label": {
            "en-US": "Button link three",
            "zh-CN": "按钮链接3"
          }
        },
        {
          "type": "text",
          "id": "time3",
          "label": {
            "en-US": "time three",
            "zh-CN": "时间3"
          },
          "default": "2022-03-11"
        },
        {
          "type": "text",
          "id": "description3",
          "label": {
            "en-US": "Description two",
            "zh-CN": "Description two"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "creality download support"
    }
  ]
}
{% endschema %}