

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-510878017287881934.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-510878017287881934.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-510878017287881934.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-510878017287881934.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-510878017287881934.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-510878017287881934.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-510878017287881934.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-510878017287881934.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-510878017287881934.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-510878017287881934.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-510878017287881934.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-510878017287881934.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-510878017287881934.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-510878017287881934.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-510878017287881934.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-510878017287881934.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-510878017287881934.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-510878017287881934.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-510878017287881934.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-510878017287881934.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-510878017287881934.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-510878017287881934.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-510878017287881934.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-510878017287881934.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-510878017287881934.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-510878017287881934.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-510878017287881934.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-510878017287881934.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-510878017287881934.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-510878017287881934.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-510878017287881934.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-510878017287881934.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-510878017287881934.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-510878017287881934.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-510878017287881934.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-510878017287881934.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-510878017287881934.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-510878017287881934.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-510878017287881934.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-510878017287881934.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-510878017287881934.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-510878017287881934.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-510878017287881934.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-510878017287881934.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-510878017287881934.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-510878017287881934.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-510878017287881934.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-510878017287881934.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-510878017287881934.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-510878017287881934.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-510878017287881934.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-510878017287881934.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-510878017287881934.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-510878017287881934.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-510878017287881934.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-510878017287881934.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-510878017287881934.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-510878017287881934.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-510878017287881934.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-510878017287881934.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-510878017287881934.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-510878017287881934.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-510878017287881934.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-510878017287881934.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-510878017287881934.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-510878017287881934.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-510878017287881934.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-510878017287881934.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-510878017287881934.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-510878017287881934.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-510878017287881934.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-510878017287881934.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-510878017287881934.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-510878017287881934.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-510878017287881934.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-510878017287881934.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-510878017287881934.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-510878017287881934.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-510878017287881934.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-510878017287881934.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-510878017287881934.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-510878017287881934.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-510878017287881934.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-510878017287881934.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-510878017287881934.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-510878017287881934 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-510878017287881934 .gp-pointer-events-none{pointer-events:none}.gps-510878017287881934 .gp-invisible{visibility:hidden}.gps-510878017287881934 .gp-absolute{position:absolute}.gps-510878017287881934 .gp-relative{position:relative}.gps-510878017287881934 .gp-inset-0{inset:0}.gps-510878017287881934 .gp-left-0{left:0}.gps-510878017287881934 .gp-top-0{top:0}.gps-510878017287881934 .gp-z-0{z-index:0}.gps-510878017287881934 .gp-z-1{z-index:1}.gps-510878017287881934 .gp-z-\[90\]{z-index:90}.gps-510878017287881934 .\!gp-m-0{margin:0!important}.gps-510878017287881934 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510878017287881934 .gp-mb-0{margin-bottom:0}.gps-510878017287881934 .\!gp-inline{display:inline!important}.gps-510878017287881934 .gp-flex{display:flex}.gps-510878017287881934 .gp-inline-flex{display:inline-flex}.gps-510878017287881934 .gp-grid{display:grid}.gps-510878017287881934 .\!gp-hidden{display:none!important}.gps-510878017287881934 .gp-hidden{display:none}.gps-510878017287881934 .gp-h-0{height:0}.gps-510878017287881934 .gp-h-5{height:20px}.gps-510878017287881934 .gp-h-full{height:100%}.gps-510878017287881934 .gp-w-5{width:20px}.gps-510878017287881934 .gp-w-full{width:100%}.gps-510878017287881934 .gp-w-max{width:-moz-max-content;width:max-content}.gps-510878017287881934 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-510878017287881934 .\!gp-max-w-full{max-width:100%!important}.gps-510878017287881934 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-510878017287881934 .gp-max-w-full{max-width:100%}.gps-510878017287881934 .gp-flex-1{flex:1 1 0%}.gps-510878017287881934 .gp-cursor-pointer{cursor:pointer}.gps-510878017287881934 .gp-flex-col{flex-direction:column}.gps-510878017287881934 .gp-flex-wrap{flex-wrap:wrap}.gps-510878017287881934 .gp-items-start{align-items:flex-start}.gps-510878017287881934 .gp-items-center{align-items:center}.gps-510878017287881934 .gp-justify-center{justify-content:center}.gps-510878017287881934 .gp-gap-y-0{row-gap:0}.gps-510878017287881934 .gp-overflow-hidden{overflow:hidden}.gps-510878017287881934 .gp-break-words{overflow-wrap:break-word}.gps-510878017287881934 .\!gp-rounded-none{border-radius:0!important}.gps-510878017287881934 .gp-rounded-none{border-radius:0}.gps-510878017287881934 .\!gp-pb-0{padding-bottom:0!important}.gps-510878017287881934 .gp-text-center{text-align:center}.gps-510878017287881934 .gp-leading-\[0\]{line-height:0}.gps-510878017287881934 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-510878017287881934 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-510878017287881934 .gp-line-through{text-decoration-line:line-through}.gps-510878017287881934 .gp-no-underline{text-decoration-line:none}.gps-510878017287881934 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-510878017287881934 .gp-opacity-25{opacity:.25}.gps-510878017287881934 .gp-opacity-30{opacity:.3}.gps-510878017287881934 .gp-opacity-75{opacity:.75}.gps-510878017287881934 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510878017287881934 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510878017287881934 .gp-duration-200{transition-duration:.2s}.gps-510878017287881934 .gp-duration-300{transition-duration:.3s}.gps-510878017287881934 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510878017287881934 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-510878017287881934 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-510878017287881934 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-510878017287881934 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-510878017287881934 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-510878017287881934 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-510878017287881934 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-510878017287881934 .tablet\:\!gp-hidden{display:none!important}.gps-510878017287881934 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510878017287881934 .mobile\:\!gp-hidden{display:none!important}.gps-510878017287881934 .mobile\:gp-hidden{display:none}}.gps-510878017287881934 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-510878017287881934 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-510878017287881934 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-510878017287881934 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-510878017287881934 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510878017287881934 .\[\&_p\]\:gp-inline p{display:inline}.gps-510878017287881934 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-510878017287881934 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510878017287881934 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNQ9-0a255"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:auto;--pt:var(--g-s-4xl);--pl:var(--g-s-2xl);--pb:var(--g-s-4xl);--pr:var(--g-s-2xl);--pt-mobile:56px;--pl-mobile:var(--g-s-2xl);--pb-mobile:56px;--pr-mobile:var(--g-s-2xl);--pt-tablet:var(--g-s-4xl);--pl-tablet:var(--g-s-2xl);--pb-tablet:var(--g-s-4xl);--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNQ9-0a255 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g35gsg9F2p gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gklrlYBZUp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gklrlYBZUp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyqsVyRid3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gpM7uHi3jW "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpM7uHi3jW_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gU-yPF5SSf "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggU-yPF5SSf_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '9245060432177' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['falcon2-22w-laser-engraver-cutter']
                assign productId = '9245060432177' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '9245060432177' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['falcon2-22w-laser-engraver-cutter']
              assign productId = '9245060432177' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g7zGthRH6X" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="g7zGthRH6X"   gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id="g7zGthRH6X"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="g7zGthRH6X gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKGfKJ21dY gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="goR6B7gpR8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goR6B7gpR8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwDKFqruFP gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        class="gp-product-price group-data-[state=loading]:gp-invisible"
        gp-data='{"priceType":"regular","uid":"gH4W7g5s_F","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:gp-hidden "
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-s)"
        data-hidden="false"
      >
        
    <div
      id="p-price-gH4W7g5s_F"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:right;--ta-mobile:center;--c:#C6502F;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsZ8M5Qjwy gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        class="gp-product-price group-data-[state=loading]:gp-invisible"
        gp-data='{"priceType":"compare","uid":"gH5U9PwzKk","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:gp-hidden "
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-gH5U9PwzKk"
        class=" "
        
      >
      <div  >
        <div
          type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#666666;--tdt:1;--ta:right;--ta-mobile:center;--c:#666666;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:500;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;word-break:break-word;overflow:hidden"
        >
      {% if variant.compare_at_price  %} 
        {{ variant.compare_at_price | money}}
      {% else %}
        0
      {% endif %}
    </div>
      </div>
    </div>
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gINvgZ1kiD"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gINvgZ1kiD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gehY2vSWSC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
    <gp-product-images-v2
      gp-data='
    {
      "id":"guQCp2v4OO",
      "setting":{"arrowIcon":"","borderActive":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":"false","width":"1px 1px 1px 1px"},"clickOpenLightBox":{"desktop":false,"mobile":false,"tablet":false},"dragToScroll":true,"ftArrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z\" fill=\"currentColor\"/>\n    </svg>","ftArrowIconColor":"#000000","ftClickOpenLightBox":{"desktop":"none"},"ftDotActiveColor":{"desktop":"line-3","mobile":"line-3","tablet":"line-3"},"ftDotColor":{"desktop":"bg-1","mobile":"bg-1","tablet":"bg-1"},"ftDotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"ftDotSize":{"desktop":12,"mobile":12,"tablet":12},"ftDotStyle":{"desktop":"none","mobile":"none","tablet":"none"},"ftNavigationPosition":{"desktop":"none","mobile":"none","tablet":"none"},"hoverEffect":"none","loop":{"desktop":true,"mobile":true,"tablet":true},"navigationPosition":{"desktop":"inside","mobile":"inside","tablet":"inside"},"otherImage":0,"pauseOnHover":true,"speed":1,"type":{"desktop":"images","mobile":"images","tablet":"images"},"typeDisplay":"all-images","zoom":1.5,"zoomType":"default"},
      "styles":{"align":{"desktop":"center","mobile":"center","tablet":"center"},"aspectHeight":{"desktop":0,"mobile":0,"tablet":0},"aspectWidth":{"desktop":0,"mobile":0,"tablet":0},"dotActiveColor":{"desktop":"highlight"},"dotColor":{"desktop":"bg-1"},"ftAspectHeight":{"desktop":0,"mobile":0,"tablet":0},"ftAspectWidth":{"desktop":0,"mobile":0,"tablet":0},"ftLayout":{"desktop":"fill","mobile":"fill","tablet":"cover"},"ftShape":{"desktop":{"shape":"original","shapeLinked":true,"width":"100%"},"mobile":{"shape":"original","shapeLinked":true,"width":"311px"},"tablet":{"shape":"original","shapeLinked":true,"width":"100%"}},"itemSpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"layout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"position":{"desktop":"only-feature","mobile":"only-feature","tablet":"only-feature"},"ratioLayout":{"desktop":{},"mobile":{},"tablet":{}},"ratioLayoutRight":{"desktop":{},"mobile":{},"tablet":{}},"shape":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeFor1Col":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeFor2Col":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"50%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeForBottom":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"20%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeForFtOnly":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"spacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"verticalLayout":{"desktop":false,"mobile":false,"tablet":false},"verticalLayoutRow":{"desktop":true,"mobile":true,"tablet":true}}, "productUrl":{{product.url | json | escape}}, "product":{{product | json | escape}}, "collectionUrl": {{ collection.url | json | escape }}, "collection": {{ collection | json | escape}}
    }
  '
      section-id="{{section.id}}"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:52px"
      class="gp-overflow-hidden"
    >
      <div
        class="{%- if product.media.size > 1 -%} gp-grid gp-w-full !gp-m-0 gp-relative {%- else -%} gp-w-full !gp-m-0 gp-relative {%- endif -%}"
        {%- if product.media.size > 1 -%}
        style="--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- else -%}
        style="--gtc:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- endif -%}
      >
        
    {% capture featureImageOnlyOne %}
      
        {% assign featureMedia = variant.featured_media %}
        {% unless featureMedia %}
        {% assign featureMedia = product.featured_media %}
        {% endunless %}
        {% if product.media.size > 1 %}
          
          {% assign featureMedia = variant.featured_media %}
          {% unless featureMedia %}
          {% assign featureMedia = product.featured_media %}
          {% endunless %}
        
        {% endif %}
        {% assign largestRatio = 0 %}
        {% assign height = featureMedia.height | times: 1.0 %}
        {% assign width = featureMedia.width | times: 1.0 %}
        {% assign ratio = height | divided_by: width %}
        {% if ratio > largestRatio %}
          {% assign largestRatio = ratio %}
        {% endif %}
        {% assign productImageWidth = 0 %}
        {% case featureMedia.media_type %}
          {% when 'image' %}
            {% assign productImageWidth = featureMedia.width %}
          {% else %}
            {% assign productImageWidth = featureMedia.preview_image.width %}
        {% endcase %}
        <div 
          class='gp-feature-image-carousel gp-feature-image-only' 
          style="--o:0;--o-tablet:0;--o-mobile:0;--d:flex;--d-mobile:flex;--d-tablet:flex;--jc:center;--jc-tablet:center;--jc-mobile:center"
        >
          <div 
            class="gp-relative"
            style="--w:100%;--w-tablet:100%;--w-mobile:311px"
          >
            
      
    
            <div 
              type="gp-feature-image-only"
              product-id="{{product.id}}"
              product-media="{{product.media.size}}"
              class="gp-image-item gp-ft-image-item gp-group gp-z-0 gp-flex !gp-max-w-full gp-w-full gp-relative gp-items-start gp-justify-center gp-overflow-hidden gp-featured-image-wrapper"
              style="--h:auto;--h-tablet:auto;--h-mobile:auto;width:{{productImageWidth}}px"
            >
              <div 
                class="gp-w-full  {% if featureMedia.media_type == 'image' %} {{ 'gp-h-0' }} {% else %} {{ 'gp-h-full !gp-pb-0' }} {% endif %} gp-relative" 
                style="--pb: calc(({%if largestRatio == 0%} 100 / 100 {%else%} {{largestRatio}} {%endif%})*100%);--pb-tablet: calc(({%if largestRatio == 0%} 100 / 100 {%else%} {{largestRatio}} {%endif%})*100%);--pb-mobile: calc(({%if largestRatio == 0%} 100 / 100 {%else%} {{largestRatio}} {%endif%})*100%); {% if featureMedia.media_type == 'video' or featureMedia.media_type == 'external_video' %} {{ 'display: flex; align-items: center; justify-content: center' }} {% endif %}"
              >
                
    {% case featureMedia.media_type %}
      {% when 'image' %}
        
      
    {% assign src = featureMedia.src %}
    
    
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      isNotLazyload="true"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity {{shouldHidden}}"
      src="{{src | image_url}}" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset="{{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w"
      sizes="(max-width: 768px) 50vw, 100vw"
      style="--aspect:{{featureMedia.width}}/{{featureMedia.height}};--aspect-tablet:{{featureMedia.width}}/{{featureMedia.height}};--aspect-mobile:{{featureMedia.width}}/{{featureMedia.height}};--objf:fill;--objf-tablet:cover;--objf-mobile:fill"
    />
  {%- else -%}
    <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity {{shouldHidden}} gp_lazyload"
      data-src="{{src | image_url}}" data-srcset="{%- if src != null -%}
              {{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}" base-src="{{src | image_url}}"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:{{featureMedia.width}}/{{featureMedia.height}};--aspect-tablet:{{featureMedia.width}}/{{featureMedia.height}};--aspect-mobile:{{featureMedia.width}}/{{featureMedia.height}};--objf:fill;--objf-tablet:cover;--objf-mobile:fill"
    />
  {%- endif -%}
  
      
      
    
      {% when 'external_video' %}
        {% assign mediaSourceVideo = featureMedia | external_video_url %}
        
    <iframe
      width="100%" height="100%"
      class="feature-video gp-w-full gp-h-full gp-relative"
      src="{{mediaSourceVideo}}"
      controls="true"
      allowfullscreen="true"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      autoplay="false"
      alt="{{featureMedia.alt}}"
      style="--aspect:;--aspect-tablet:;--aspect-mobile:"
    >
    </iframe>
  
      {% when 'video' %}
        {% assign mediaSourceVideo = featureMedia.sources.last.url %}
        
    
    <video
      id="gp-video-undefined"
      class="lazy gp-w-full"
      style="width:100%;max-height:100%"
      controls
      
      
      
      title="{{featureMedia.alt}}"
      preload="none"
      data-src="{{mediaSourceVideo}}"
      poster=""
      playsinline
    >
      
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
      {% when 'model' %}
        
    <model-viewer
      class="gp-w-full gp-h-full model-viewer gp-z-[90]"
      width="100%"
      
      
      
      
      src="{% if featureMedia.sources.first.url contains '.glb' %}{{ featureMedia.sources.first.url }}{% else %}{{featureMedia.sources.last.url}}{% endif %}"
      alt="{{featureMedia.preview_image.alt}}"
      camera-controls="true"
      poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      data-js-focus-visible=""
      data-shopify-feature="1.12"
      ar-status="not-presenting"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
      {% else %}
        {{ featureMedia | media_tag }}
    {% endcase %}
    
              </div>
            </div>
          </div>
        </div>
      
    {% endcapture %}
    {% if product.media.size > 1 %}
      
      {{ featureImageOnlyOne }}
    {% else %}
      {{ featureImageOnlyOne }}
    {% endif %}
  
         
      </div>
    </gp-product-images-v2>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-images-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6rOZxCq92 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g31Ssqd5RT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:-90px;--mb:72px;--ml-mobile:auto;--mb-mobile:var(--g-s-2xl);--cg:31px;--cg-mobile:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g31Ssqd5RT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvq8s6flWk gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g67UJqr5ql"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/e2bcba8b-ea09-41f6-bed2-d259b73e9c91/-/format/auto/" width="64" height="64" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:64/64;--aspect-tablet:64/64;--aspect-mobile:64/64;--objf:fill;--w:100%;--w-tablet:45px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/e2bcba8b-ea09-41f6-bed2-d259b73e9c91/-/format/auto/" data-srcset="https://ucarecdn.com/e2bcba8b-ea09-41f6-bed2-d259b73e9c91/-/format/auto/ 768w,https://ucarecdn.com/e2bcba8b-ea09-41f6-bed2-d259b73e9c91/-/format/auto/ 1024w,https://ucarecdn.com/e2bcba8b-ea09-41f6-bed2-d259b73e9c91/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="64" height="64" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:64/64;--aspect-tablet:64/64;--aspect-mobile:64/64;--objf:fill;--w:100%;--w-tablet:45px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkc6QLNuFF gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g68ydsXj5b "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg68ydsXj5b_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g6_i_r415M "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6_i_r415M_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g1e-uErzou"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:20px;--mb:72px;--ml-mobile:auto;--mb-mobile:var(--g-s-2xl);--cg:31px;--cg-mobile:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1e-uErzou gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbJcvLGCVU gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gF_ZYlsEmm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/d19e9d25-6fad-4ce6-9837-066e692eb124/-/format/auto/" width="64" height="64" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:64/64;--aspect-tablet:64/64;--aspect-mobile:64/64;--objf:fill;--w:100%;--w-tablet:45px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/d19e9d25-6fad-4ce6-9837-066e692eb124/-/format/auto/" data-srcset="https://ucarecdn.com/d19e9d25-6fad-4ce6-9837-066e692eb124/-/format/auto/ 768w,https://ucarecdn.com/d19e9d25-6fad-4ce6-9837-066e692eb124/-/format/auto/ 1024w,https://ucarecdn.com/d19e9d25-6fad-4ce6-9837-066e692eb124/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="64" height="64" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:64/64;--aspect-tablet:64/64;--aspect-mobile:64/64;--objf:fill;--w:100%;--w-tablet:45px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gF7wADrVjG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gdWDJnOH03 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdWDJnOH03_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ghOOIheQ3z "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghOOIheQ3z_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g8AAvTU5RI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:20px;--mb:72px;--ml-mobile:auto;--mb-mobile:var(--g-s-2xl);--cg:31px;--cg-mobile:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8AAvTU5RI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2qicT89Vo gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gnwJtgayPm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/37ca79fa-2139-43b8-9dc7-5f4b009d0ffb/-/format/auto/" width="64" height="64" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:64/64;--aspect-tablet:64/64;--aspect-mobile:64/64;--objf:fill;--w:100%;--w-tablet:45px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/37ca79fa-2139-43b8-9dc7-5f4b009d0ffb/-/format/auto/" data-srcset="https://ucarecdn.com/37ca79fa-2139-43b8-9dc7-5f4b009d0ffb/-/format/auto/ 768w,https://ucarecdn.com/37ca79fa-2139-43b8-9dc7-5f4b009d0ffb/-/format/auto/ 1024w,https://ucarecdn.com/37ca79fa-2139-43b8-9dc7-5f4b009d0ffb/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="64" height="64" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:64/64;--aspect-tablet:64/64;--aspect-mobile:64/64;--objf:fill;--w:100%;--w-tablet:45px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gErz1w4hPK gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gVq8_Poz4y "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggVq8_Poz4y_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g7CJ7QIHDO "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7CJ7QIHDO_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gwaAS2lIMU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:-90px;--ml-mobile:auto;--cg:31px;--cg-mobile:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwaAS2lIMU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gybSjcAGKG gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gQDa1roLv_"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/ca7b93a8-737d-44d9-b13a-15f1075ef27d/-/format/auto/" width="64" height="64" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:64/64;--aspect-tablet:64/64;--aspect-mobile:64/64;--objf:fill;--w:100%;--w-tablet:45px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/ca7b93a8-737d-44d9-b13a-15f1075ef27d/-/format/auto/" data-srcset="https://ucarecdn.com/ca7b93a8-737d-44d9-b13a-15f1075ef27d/-/format/auto/ 768w,https://ucarecdn.com/ca7b93a8-737d-44d9-b13a-15f1075ef27d/-/format/auto/ 1024w,https://ucarecdn.com/ca7b93a8-737d-44d9-b13a-15f1075ef27d/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="64" height="64" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:64/64;--aspect-tablet:64/64;--aspect-mobile:64/64;--objf:fill;--w:100%;--w-tablet:45px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmttcOgnxc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gT23xm8gT2 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggT23xm8gT2_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g9BBYVAHyR "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg9BBYVAHyR_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)" class="gjzocY2v6x ">
      
    <gp-countdown-timer
     class="gp-flex "
     gp-data='{"behaviour":"evergreen","dateStandard":"2023-05-19T04:18:40.461Z","dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_blank"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":6,"endTime":1715907347628,"hours":0,"mins":0,"startTime":1682741920461},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gjzocY2v6x","builderData":{"advanced":{"border":{"border":"solid","borderType":"none","color":"#121212","isCustom":true,"width":"0px","position":"all"},"boxShadow":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":false,"op":{"desktop":"100%"},"rounded":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-2xl)"},"padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"label":"CountDown Timer","settings":{"behaviour":"evergreen","dateStandard":"2023-05-19T04:18:40.461Z","dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_blank"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":6,"endTime":1715907347628,"hours":0,"mins":0,"startTime":1682741920461},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"rgba(243, 243, 243, 0)","borderState":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false,"width":"0px"}},"colorLabel":"#666666","colorNumber":"#242424","horizontalGap":"auto","itemPadding":{"custom":{"desktop":{"horizontal":"16px","vertical":"8px"}}},"labelTypo":{"attrs":{"color":"#666666"},"type":"paragraph-1"},"labelTypography":{"custom":{"desktop":{"fontFamily":"body","fontSize":"16px","fontStyle":"normal","fontWeight":"400","letterSpacing":"1px","lineHeight":"24px"},"mobile":{"fontSize":"14px","fontWeight":"400","lineHeight":"21px"},"tablet":{"fontSize":"16px","lineHeight":"180%"}}},"numTypo":{"attrs":{"color":"#C6502F"},"custom":{"fontFamily":"Open Sans","fontSize":{"desktop":"21px","mobile":"19px","tablet":"21px"},"fontStyle":"normal","fontWeight":"700","letterSpacing":"normal","lineHeight":"150%"},"type":"heading-2"},"numTypography":{"custom":{"desktop":{"fontFamily":"heading","fontSize":"19px","fontStyle":"normal","fontWeight":"700","letterSpacing":"0.6px","lineHeight":"31.5px"},"mobile":{"fontFamily":"heading","fontSize":"19px","fontWeight":"700","lineHeight":"28.5px"},"tablet":{"fontFamily":"heading","fontSize":"24px","fontWeight":"400"}}},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"-5px"},"tag":"Countdown","uid":"gjzocY2v6x","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:auto;--jc:center">
        <a
            href="#"
            target="_blank"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--pl:16px;--pr:16px;--pt:8px;--pb:8px;--bs:none;--bw:0px;--bc:transparent;--bg:rgba(243, 243, 243, 0)"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    <div
      id="day"
        class="gjzocY2v6x "
        style="--mb:-5px;--c:#242424"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#C6502F;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="gjzocY2v6x "
        style="--c:#666666"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1"
          style="--w:100%;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjzocY2v6x_dayLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:8px;--pb:8px;--bs:none;--bw:0px;--bc:transparent;--bg:rgba(243, 243, 243, 0)"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    <div
      id="hour"
        class="gjzocY2v6x "
        style="--mb:-5px;--c:#242424"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#C6502F;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="gjzocY2v6x "
        style="--c:#666666"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1"
          style="--w:100%;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjzocY2v6x_hourLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:8px;--pb:8px;--bs:none;--bw:0px;--bc:transparent;--bg:rgba(243, 243, 243, 0)"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    <div
      id="minute"
        class="gjzocY2v6x "
        style="--mb:-5px;--c:#242424"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#C6502F;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="gjzocY2v6x "
        style="--c:#666666"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1"
          style="--w:100%;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjzocY2v6x_minuteLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:8px;--pb:8px;--bs:none;--bw:0px;--bc:transparent;--bg:rgba(243, 243, 243, 0)"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    <div
      id="second"
        class="gjzocY2v6x "
        style="--mb:-5px;--c:#242424"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#C6502F;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="gjzocY2v6x "
        style="--c:#666666"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1"
          style="--w:100%;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjzocY2v6x_secondLabel }}</div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
      
      
    <div
      parentTag="Col" id="gHfvB6D7vJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:457px;--w-tablet:400px;--w-mobile:270px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHfvB6D7vJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfRgq1UTkC gp-relative gp-flex gp-flex-col"
    >
      
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Buy It Now","outOfStockLabel":"Out of stocks","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' 
       gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
    >
        
  <gp-button >
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--ta:center"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gQzRTtRgAP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #7d7d7d;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 24px;
      border-top-left-radius: 24px;
      border-top-right-radius: 8px;
      
    }

    .gQzRTtRgAP:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
    }

    .gQzRTtRgAP:hover .gp-button-icon {
      color: #C6502F;
    }

     .gQzRTtRgAP .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gQzRTtRgAP:hover .gp-button-price {
      color: #C6502F;
    }

    .gQzRTtRgAP .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gQzRTtRgAP .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gQzRTtRgAP:hover .gp-product-dot-price {
      color: #C6502F;
    }
  </style>
    <button
      type="submit" data-id="gQzRTtRgAP" aria-label="Buy It Now"
      name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
      data-state="idle"
      class="gQzRTtRgAP gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc tcustomizer-submit-button"
      style="--hvr-bg:#ffffff;--bg:#C6502F;--bblr:8px;--bbrr:24px;--btlr:24px;--btrr:8px;--w:100%;--w-tablet:457px;--w-mobile:457px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--hvr-c:#C6502F;--c:var(--g-c-text-3, text-3);--size:24px;--size-tablet:24px;--size-mobile:18px;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:normal"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:24px;--size-tablet:24px;--size-mobile:18px"
      >
        {{ section.settings.ggQzRTtRgAP_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button >
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--ta:center"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gQzRTtRgAP-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #7d7d7d;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 24px;
      border-top-left-radius: 24px;
      border-top-right-radius: 8px;
      
    }

    .gQzRTtRgAP-sold-out:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
    }

    .gQzRTtRgAP-sold-out:hover .gp-button-icon {
      color: #C6502F;
    }

     .gQzRTtRgAP-sold-out .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gQzRTtRgAP-sold-out:hover .gp-button-price {
      color: #C6502F;
    }

    .gQzRTtRgAP-sold-out .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gQzRTtRgAP-sold-out .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gQzRTtRgAP-sold-out:hover .gp-product-dot-price {
      color: #C6502F;
    }
  </style>
    <button
      type="button" data-id="gQzRTtRgAP-sold-out" aria-label="Out of stocks"
      gp-data-hidden="{% if variant.available %}true{% endif %}"
      data-state="idle"
      class="gQzRTtRgAP-sold-out gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-pointer-events-none"
      style="--hvr-bg:#ffffff;--bg:#C6502F;--bblr:8px;--bbrr:24px;--btlr:24px;--btrr:8px;--w:100%;--w-tablet:457px;--w-mobile:457px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--hvr-c:#C6502F;--c:var(--g-c-text-3, text-3);--size:24px;--size-tablet:24px;--size-mobile:18px;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:normal"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:24px;--size-tablet:24px;--size-mobile:18px"
      >
        {{ section.settings.ggQzRTtRgAP_outOfStockLabel }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      
      
    <div
      parentTag="Col" id="gwuV7fuiB2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-s);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwuV7fuiB2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkFb9cKNZw gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gkEL-CwBBB"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M437.31 181.809V211.992C463.439 214.597 483.912 236.707 483.911 263.51V459.789C483.911 488.339 460.684 511.566 432.133 511.566H79.7789C51.2294 511.566 28.002 488.339 28.002 459.789V263.51C28.002 236.707 48.474 214.596 74.6029 211.992V181.809C74.6029 157.344 79.4039 133.59 88.8705 111.207C98.0059 89.607 111.077 70.216 127.72 53.5733C144.364 36.9306 163.754 23.8608 185.354 14.7246C207.737 5.25802 231.49 0.457031 255.957 0.457031C280.423 0.457031 304.177 5.25802 326.559 14.7246C348.159 23.8599 367.55 36.9306 384.193 53.5733C400.835 70.2169 413.905 89.607 423.043 111.207C432.51 133.589 437.31 157.344 437.31 181.809ZM66.1542 263.51V459.789C66.1542 467.313 72.2546 473.415 79.7797 473.415H432.136C439.661 473.415 445.762 467.315 445.762 459.789V263.51C445.762 257.819 442.27 252.944 437.312 250.905C435.716 250.249 433.969 249.885 432.136 249.885H418.236H399.16H112.757H93.6813H79.7806C77.947 249.885 76.2006 250.25 74.6047 250.905C69.6461 252.944 66.1542 257.819 66.1542 263.51ZM255.957 38.6084C176.87 38.6084 112.756 102.721 112.756 181.809V211.733H399.159V181.809C399.159 102.722 335.045 38.6084 255.957 38.6084ZM200.502 324.75C200.502 294.172 225.38 269.293 255.959 269.293C286.539 269.293 311.416 294.172 311.415 324.75C311.415 348.786 296.046 369.294 274.62 376.973V412.924V420.367C274.62 425.016 272.956 429.276 270.191 432.586C266.692 436.776 261.43 439.444 255.545 439.444C249.622 439.444 244.33 436.745 240.832 432.509C238.107 429.21 236.47 424.98 236.47 420.367V412.808V376.669C215.478 368.763 200.502 348.474 200.502 324.75ZM238.652 324.75C238.652 334.309 246.401 342.057 255.959 342.057C265.517 342.057 273.265 334.309 273.265 324.75C273.265 315.192 265.516 307.443 255.959 307.443C246.401 307.443 238.652 315.192 238.652 324.75Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g20dst5Tve gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gsn15_DHqX "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#666666;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:0.4px;--size:12px;--size-tablet:12px;--size-mobile:11px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggsn15_DHqX_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0B4gaVQ.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQ.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRR23wRmYJp8I5zzw.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3wRmYJp8I5.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTVOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTUGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTVOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTUGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-510878017287881934 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/crealityfalconca/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=510877926472811458&sectionId=510878017287881934)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggpM7uHi3jW_text","label":"ggpM7uHi3jW_text","default":"<p>Top Recommendation</p>"},{"type":"html","id":"ggU-yPF5SSf_text","label":"ggU-yPF5SSf_text","default":"<span style=\"color:#3C3C3C;\">Falcon2 22W 4 in 1 Desk Engraver</span>&nbsp;<br><span style=\"color:#E98E78;\">with Offline Creation</span>"},{"type":"html","id":"gg68ydsXj5b_text","label":"gg68ydsXj5b_text","default":"<span style=\"color:#3C3C3C;\"><strong>Fast and Productive</strong></span>"},{"type":"html","id":"gg6_i_r415M_text","label":"gg6_i_r415M_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(60,60,60);font-size:14px;\">Engrave at 25000mm/min for Faster Creation</span></p>"},{"type":"html","id":"ggdWDJnOH03_text","label":"ggdWDJnOH03_text","default":"<span style=\"color:#3C3C3C;\"><strong>Integrated Air Assist</strong></span>"},{"type":"html","id":"gghOOIheQ3z_text","label":"gghOOIheQ3z_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(60,60,60);font-size:14px;\">Ensures A Cleaner Result and Protects the Laser Lens.</span></p>"},{"type":"html","id":"ggVq8_Poz4y_text","label":"ggVq8_Poz4y_text","default":"<span style=\"color:#3C3C3C;\"><strong>Hassle-Free Assembly</strong></span>"},{"type":"html","id":"gg7CJ7QIHDO_text","label":"gg7CJ7QIHDO_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(60,60,60);font-size:14px;\">Only 3 Steps for Beginners!</span></p>"},{"type":"html","id":"ggT23xm8gT2_text","label":"ggT23xm8gT2_text","default":"<span style=\"color:#3C3C3C;\"><strong>Colorful Engraving</strong></span>"},{"type":"html","id":"gg9BBYVAHyR_text","label":"gg9BBYVAHyR_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(60,60,60);font-size:14px;\">Produces Hundreds of Colors that Bring Your Works to Life</span></p>"},{"type":"html","id":"ggjzocY2v6x_dayLabel","label":"ggjzocY2v6x_dayLabel","default":"Days"},{"type":"html","id":"ggjzocY2v6x_hourLabel","label":"ggjzocY2v6x_hourLabel","default":"Hrs"},{"type":"html","id":"ggjzocY2v6x_minuteLabel","label":"ggjzocY2v6x_minuteLabel","default":"Mins"},{"type":"html","id":"ggjzocY2v6x_secondLabel","label":"ggjzocY2v6x_secondLabel","default":"Secs"},{"type":"html","id":"ggjzocY2v6x_weekLabel","label":"ggjzocY2v6x_weekLabel","default":"Weeks"},{"type":"html","id":"ggQzRTtRgAP_label","label":"ggQzRTtRgAP_label","default":"Buy It Now"},{"type":"html","id":"ggQzRTtRgAP_outOfStockLabel","label":"ggQzRTtRgAP_outOfStockLabel","default":"Out of stocks"},{"type":"html","id":"ggsn15_DHqX_text","label":"ggsn15_DHqX_text","default":"<p>Guaranteed safe checkout</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
