

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-510878016499352782.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-510878016499352782.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-510878016499352782.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-510878016499352782.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-510878016499352782.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-510878016499352782.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-510878016499352782.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-510878016499352782.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-510878016499352782.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-510878016499352782.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-510878016499352782.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-510878016499352782.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-510878016499352782.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-510878016499352782.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-510878016499352782.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-510878016499352782.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-510878016499352782.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-510878016499352782.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-510878016499352782.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-510878016499352782.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-510878016499352782.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-510878016499352782.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-510878016499352782.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-510878016499352782.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-510878016499352782.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-510878016499352782.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-510878016499352782.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-510878016499352782.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-510878016499352782.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-510878016499352782.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-510878016499352782.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-510878016499352782.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-510878016499352782.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-510878016499352782.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-510878016499352782.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-510878016499352782.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-510878016499352782.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-510878016499352782.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-510878016499352782.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-510878016499352782.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-510878016499352782.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-510878016499352782.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-510878016499352782.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-510878016499352782.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-510878016499352782.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-510878016499352782.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-510878016499352782.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-510878016499352782.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-510878016499352782.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-510878016499352782.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-510878016499352782.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-510878016499352782.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-510878016499352782.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-510878016499352782.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-510878016499352782.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-510878016499352782.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-510878016499352782.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-510878016499352782.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-510878016499352782.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-510878016499352782.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-510878016499352782.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-510878016499352782.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-510878016499352782.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-510878016499352782.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-510878016499352782.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-510878016499352782.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-510878016499352782.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-510878016499352782.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-510878016499352782.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-510878016499352782.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-510878016499352782.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-510878016499352782.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-510878016499352782.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-510878016499352782.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-510878016499352782 .gp-absolute{position:absolute}.gps-510878016499352782 .gp-relative{position:relative}.gps-510878016499352782 .gp-inset-0{inset:0}.gps-510878016499352782 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-510878016499352782 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-510878016499352782 .gp-z-1{z-index:1}.gps-510878016499352782 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510878016499352782 .gp-mb-0{margin-bottom:0}.gps-510878016499352782 .gp-flex{display:flex}.gps-510878016499352782 .gp-grid{display:grid}.gps-510878016499352782 .\!gp-hidden{display:none!important}.gps-510878016499352782 .gp-hidden{display:none}.gps-510878016499352782 .gp-h-full{height:100%}.gps-510878016499352782 .gp-w-full{width:100%}.gps-510878016499352782 .gp-max-w-full{max-width:100%}.gps-510878016499352782 .gp-flex-col{flex-direction:column}.gps-510878016499352782 .gp-items-center{align-items:center}.gps-510878016499352782 .\!gp-justify-center{justify-content:center!important}.gps-510878016499352782 .gp-gap-y-0{row-gap:0}.gps-510878016499352782 .gp-overflow-hidden{overflow:hidden}.gps-510878016499352782 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510878016499352782 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510878016499352782 .gp-duration-200{transition-duration:.2s}.gps-510878016499352782 .gp-duration-300{transition-duration:.3s}.gps-510878016499352782 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-510878016499352782 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-510878016499352782 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-510878016499352782 .tablet\:gp-relative{position:relative}.gps-510878016499352782 .tablet\:\!gp-hidden{display:none!important}.gps-510878016499352782 .tablet\:gp-hidden{display:none}.gps-510878016499352782 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-510878016499352782 .mobile\:gp-relative{position:relative}.gps-510878016499352782 .mobile\:\!gp-hidden{display:none!important}.gps-510878016499352782 .mobile\:gp-hidden{display:none}.gps-510878016499352782 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-510878016499352782 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-510878016499352782 .tablet\:\[\&\>\*\>\*\]\:\!gp-justify-start>*>*{justify-content:flex-start!important}}@media (max-width:767px){.gps-510878016499352782 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-510878016499352782 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510878016499352782 .\[\&_p\]\:gp-inline p{display:inline}.gps-510878016499352782 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510878016499352782 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gWdyz3HmFC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:auto;--pt:auto;--pb:auto;--pt-mobile:56px;--pb-mobile:56px;--pt-tablet:auto;--pb-tablet:auto;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWdyz3HmFC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwbWAo0WxI gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:0px">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_510875100333999042-ec519b0a-ffff-4e54-8cc8-fa1aaebe18c0.jpg","height":781,"src":"https://cdn.shopify.com/s/files/1/0850/5776/5681/files/gempages_510875100333999042-ec519b0a-ffff-4e54-8cc8-fa1aaebe18c0.jpg?v=1714040603","storage":"FILE_CONTENT","width":2000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_510875100333999042-ec519b0a-ffff-4e54-8cc8-fa1aaebe18c0.jpg","height":781,"src":"https://cdn.shopify.com/s/files/1/0850/5776/5681/files/gempages_510875100333999042-ec519b0a-ffff-4e54-8cc8-fa1aaebe18c0.jpg?v=1714040603","storage":"FILE_CONTENT","width":2000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":543,"src":"https://ucarecdn.com/63adc92e-ad39-4067-bf6d-272d3402d13f/-/format/auto/","width":375},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"grvI7IV2M_","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="grvI7IV2M_ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/63adc92e-ad39-4067-bf6d-272d3402d13f/-/format/auto/" />
        
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_510875100333999042-ec519b0a-ffff-4e54-8cc8-fa1aaebe18c0.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2000/781;--aspect-tablet:2000/781;--aspect-mobile:375/543;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/63adc92e-ad39-4067-bf6d-272d3402d13f/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_510875100333999042-ec519b0a-ffff-4e54-8cc8-fa1aaebe18c0.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2000/781;--aspect-tablet:2000/781;--aspect-mobile:375/543;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0)"
              > 
              <div class="hero-banner-bg-parallax"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "gempages_510875100333999042-ec519b0a-ffff-4e54-8cc8-fa1aaebe18c0.jpg" | file_url }});--bgi-mobile:url(https://ucarecdn.com/63adc92e-ad39-4067-bf6d-272d3402d13f/-/format/auto/);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0"
          > </div>
          </div>
          
          
      
      
    <div
      id
        style="--cg:var(--g-s-2xl);--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-start mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:start;--o:0"
      class="goqlA72y96 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJcQkmWCZQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--pt:var(--g-s-4xl);--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:122px;--pl-mobile:var(--g-s-2xl);--pb-mobile:122px;--pr-mobile:var(--g-s-2xl);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, 12fr);--w:710px;--w-tablet:600px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJcQkmWCZQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTZf_225Zc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gZ8QDu8WD- "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:40px;--pl:0px;--pr:0px;--pl-mobile:auto;--pr-mobile:auto"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#ffffff;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:35px;--size-tablet:38px;--size-mobile:33px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZ8QDu8WD-_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gLJrbGFJGl "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:40px;--pl:0px;--pr:0px;--pl-mobile:auto;--pr-mobile:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Amiri, 'Amiri'), var(--g-font-body, body);--weight:400;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLJrbGFJGl_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:start;--o:1;--d-mobile:none"
      class="gE9if4yAxd gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUutLU.woff) format('woff');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7acnpd8CGxBHp2VkaY_zpg.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* arabic */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUrtLMS7JNKIjk.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EFD-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUgtLMS7JNKIjk.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUutLMS7JNK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7acnpd8CGxBHp2VkaY6zp5gGDAbnCA.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EFD-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7acnpd8CGxBHp2VkaYxzp5gGDAbnCA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v27/J7acnpd8CGxBHp2VkaY_zp5gGDAb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRR23wRmYJp8I5zzw.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3wRmYJp8I5.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-510878016499352782 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/crealityfalconca/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=510877926472811458&sectionId=510878016499352782)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZ8QDu8WD-_text","label":"ggZ8QDu8WD-_text","default":"<strong>Five Safety Protections</strong>"},{"type":"html","id":"ggLJrbGFJGl_text","label":"ggLJrbGFJGl_text","default":"<p><span style=\"color:#F7F4F4;font-size:20px;\">Compatible with Various Systems and Software, including Windows and macOS systems, and software such as LaserGRBL and LightBurn.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
