    {% if fulfillment.item_count == item_count %} 
    {% capture email_title %}Your order is on the way{% endcapture %}
    {% capture email_body %}Your order is on the way. Track your shipment to see the delivery status.{% endcapture %}
    {% elsif fulfillment.item_count > 1 %} 
    {% if fulfillment_status == 'fulfilled' %}
        {% capture email_title %}The last items in your order are on the way{% endcapture %}
        {% capture email_body %}The last items in your order are on the way. Track your shipment to see the delivery status.{% endcapture %}
    {% else %}
        {% capture email_title %}Some items in your order are on the way{% endcapture %}
        {% capture email_body %}Some items in your order are on the way. Track your shipment to see the delivery status.{% endcapture %}
    {% endif %}
    {% else %} 
    {% if fulfillment_status == 'fulfilled' %}
        {% capture email_title %}The last item in your order is on the way{% endcapture %}
        {% capture email_body %}The last item in your order is on the way. Track your shipment to see the delivery status.{% endcapture %}
    {% else %}
        {% capture email_title %}One item in your order is on the way{% endcapture %}
        {% capture email_body %}One item in your order is on the way. Track your shipment to see the delivery status.{% endcapture %}
    {% endif %}
    {% endif %}

    {% capture email_emphasis %}Estimated delivery date: <strong>{{fulfillment.estimated_delivery_at | date: format: 'date'}}</strong>{% endcapture %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell { background: {{ shop.email_accent_color }}; }
        a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
        .border {
        border-bottom: 1px solid #eee;
        }
        .no-border {
        border: none;
        }

        .falcon-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0 40px 0;
        border-bottom: 1px solid #eee;
        }
        
        .falcon-logo {
        font-weight: bold;
        font-size: 20px;
        color: #000;
        text-decoration: none;
        }
        
        @media screen and (min-width: 600px) {
          .falcon-header {
            flex-direction: row !important;
            justify-content: space-between !important;
          }
            .falcon-nav {
            display: flex;
            gap: 24px;
            }
            .price-pc-show {
              display: none;
            }
        }
        
        @media screen and (max-width: 599px) {
          .falcon-header {
            flex-direction: column !important;
            justify-content: center !important;
          }
            .falcon-nav {
            display: flex;
            gap: 24px;
            margin-top: 14px;
            }
            .price-mb-show {
              display: none;
            }
        }

        .a-link {
            font-family: Arial;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-offset: 0%;
            text-decoration-thickness: 0%;
            color: #51545A;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        }

        .regular__text {
            font-family: Arial;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            color: #8D9095;
        }
        
        .big__text{
        font-family: Arial;
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 16px;
        }
        .key {
        text-align: left;
        }

        .value {
        color: #1E1E1E; 
        font-weight: 500;
        text-align: right;
        }
        .order-details-table {
        width: 100%;
        border-collapse: collapse;
        }


    .button__text {
        display: flex;
        padding: 8px 20px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        border-radius: 44px;
        background: #0BB3FB;
        color: #FFF;
        font-family: Arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 11px 23px;
    }
        .sub_button__text {
        display: flex;
        padding: 8px 20px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 44px;
        background: #EAEBED;
        color: #1E1E1E;
        font-family: Arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 11px 23px;
    }

        .discount_text {
            font-family: Arial;
            font-weight: 700;
            font-style: Bold;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
        }

            .price-bold {
      font-family: Arial;
      font-weight: 700;
      font-style: Bold;
      font-size: 14px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      color: #1E1E1E; 
    }


            /* 订单列表表格列宽控制 */
    .order-list__item__cell table {
      width: 100%;
      table-layout: fixed;
    }
    .order-list__item__cell-row {
        display: flex;
        align-items: center;
    }
    
    .order-list__product-description-cell {
      flex: 1;
    }
    
    /* 数量和价格列强制对齐 */
    .order-list__item__cell table .number-cell {
      width: 40px !important;
      min-width: 40px !important;
      max-width: 40px !important;
      text-align: right !important;
    }
    
    /* 确保产品描述单元格内容正确布局 */
    .order-list__product-description-cell > div {
      width: 100%;
    }

    </style>
    </head>

    <body>

        <table class="body">
        <tr>
            <td style="display: flex; gap: 24px; flex-direction: column;">
            <table class="header row" style="margin: 40px 0 0 0">
    <tr>
        <td class="header__cell">
        <center>

            <table class="container">
            <tr>
                <td>

                                                        <div class=" falcon-header">
                  <div class="shop-name__cell" style="text-align: center;">
                      <img src="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/logo.png?v=1755582950" alt="{{ shop.name }}" width="144px">
                  </div>
                
                    <div class="falcon-nav">
                      <a href="https://uk.crealityfalcon.com/collections/engraver" class="a-link">Laser Engraver</a>
                      <a href="https://uk.crealityfalcon.com/collections/accessories" class="a-link">Accessories</a>
                      <a href="https://uk.crealityfalcon.com/pages/materials-sale-for-laser-engraver" class="a-link">Materials</a>
                    </div>
                    </div>

                </td>
            </tr>
            </table>

        </center>
        </td>
    </tr>
    </table>

            <table class="row content">
    <tr>
        <td class="content__cell" style="padding: 0;">
        <center>
            <table class="container border">
            <tr>
                <td>
                
                <div class="big__text">{{ email_title }}</div>
                <p class="regular__text">{{ email_body }}</p>
                {% if fulfillment.estimated_delivery_at %}
                <p>{{ email_emphasis }}</p>
                {% endif %}
                {% if order_status_url %}
                <table class="row actions" style="margin-top: 24px;">
    <tr>
        <td class="empty-line">&nbsp;</td>
    </tr>
            <tr >
                <td class="actions__cell" style="padding-bottom: 40px;">
                <table align="center" class="row button">
                    <tr style="display: flex; gap: 8px; justify-content: center;">
                    <td class="button__cell" style="background: transparent;flex: 1;"><a href="{{ order_status_url }}" class="button__text">View your order</a></td>
                    <td class="link__cell" style="flex: 1;"><a href="{{ shop.url }}" class="sub_button__text">Visit our store</a></td>
                    </tr>
                </table>
                </td>
            </tr>
    </table>

            {% else %}
              {% if shop.url %}
    <table class="row actions">
      <tr>
        <td class="actions__cell">
          <table class="button main-action-cell">
            <tr>
              <td class="button__cell"><a href="{{ shop.url }}" class="button__text">Visit our store</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
{% endif %}

                {% endif %}


                </td>
            </tr>
            </table>
        </center>
        </td>
    </tr>
    </table>
                {% if fulfillment.tracking_numbers.size > 0 %}
                <table class="row section">
    <tr>
        <td class="section__cell" style="padding: 0;">
        <center>
            <table class="container border">
            <tr>
                <td style="padding-bottom: 40px;">
                <div class="big__text">Order details</div>
                <table class="order-details-table">
                    <tr class="order-details-row">
                            {% if fulfillment.tracking_numbers.size == 1 and fulfillment.tracking_company and fulfillment.tracking_url %}
                            <td class="key regular__text">{{ fulfillment.tracking_company }} tracking number: </td>
                            <td class="regular__text value">
                                <a href="{{ fulfillment.tracking_url }}" class="a-link value">{{ fulfillment.tracking_numbers.first }}</a>
                            </td>
                            {% elsif fulfillment.tracking_numbers.size == 1 %}
                            <td class="key regular__text">Tracking number: </td>
                            <td class="regular__text value">
                                {{ fulfillment.tracking_numbers.first }}
                            </td>
                            {% else %}
                            <td class="key regular__text">{{ fulfillment.tracking_company }} tracking numbers:<br /></td>
                            <td class="regular__text value">
                                {% for tracking_number in fulfillment.tracking_numbers %}
                                    {% if fulfillment.tracking_urls[forloop.index0] %}
                                    <a href="{{ fulfillment.tracking_urls[forloop.index0] }}" class="a-link value">
                                        {{ tracking_number }}
                                    </a>
                                    {% else %}
                                        {{ tracking_number }}
                                    {% endif %}
                                    <br/>
                                {% endfor %}
                            </td>
                            {% endif %}
                    </td>
                    </tr>
                </table>
                </td>
            </tr>
            </table>
        </center>
        </td>
    </tr>
    </table>
    {% endif %}

            <table class="row section">
    <tr>
        <td class="section__cell" style="padding: 0px;">
        <center>
            <table class="container">
            <tr>
                <td>
                <div class="big__text">Order summary</div>
                </td>
            </tr>
            </table>
            <table class="container">
            <tr>
                <td>
                
                
    <table class="row">
        {% for line in fulfillment.fulfillment_line_items %}
        
    {% comment %} Skip child add-ons since they will be rendered under the parent line item {% endcomment %}
    {% unless line.line_item.nested_line_child? %}

    {% assign is_parent = false %}
    {% if line.line_item.bundle_parent? or line.line_item.nested_line_parent? %}
        {% assign is_parent = true %}
    {% endif %}

    <tr class="order-list__item">
        <td class="order-list__item__cell">
        <table >
        <tr class='order-list__item__cell-row'>

            {% if false and is_parent %}
            <td class="order-list__parent-image-cell">
                {% if line.line_item.image %}
                <img src="{{ line.line_item | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image no-border"/>
                {% else %}
                <div class="order-list__no-image-cell">
                    <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="60" height="60" class="order-list__no-product-image no-border"/>
                </div>
                {% endif %}
            </td>
            {% else %}
            <td class="order-list__image-cell">
                {% if line.line_item.image %}
                <img src="{{ line.line_item | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image no-border"/>
                {% else %}
                <div class="order-list__no-image-cell">
                    <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="60" height="60" class="order-list__no-product-image no-border"/>
                </div>
                {% endif %}
            </td>
            {% endif %}
            <td class="order-list__product-description-cell">
            <div style="display: flex; flex-direction: column; gap: 8px;">
            {% if line.line_item.presentment_title %}
                {% assign line_title = line.line_item.presentment_title %}
            {% elsif line.line_item.title %}
                {% assign line_title = line.line_item.title %}
            {% else %}
                {% assign line_title = line.line_item.product.title %}
            {% endif %}
            {% if line.quantity < line.line_item.quantity %}
                {% capture line_display %}
                {{ line.quantity }} of {{ line.line_item.quantity }}
                {% endcapture %}
            {% else %}
                {% assign line_display = line.line_item.quantity %}
            {% endif %}

            <span class="order-list__item-title price-bold">{{ line_title }}</span>

            {% if line.line_item.variant.title != 'Default Title' and is_parent == false %}
                <span class="order-list__item-variant regular__text">{{ line.line_item.variant.title }}</span>
            {% elsif line.line_item.variant.title != 'Default Title' and line.line_item.nested_line_parent? %}
                <span class="order-list__item-variant regular__text">{{ line.line_item.variant.title }}</span>
            {% elsif line.line_item.variant.title != 'Default Title' and line.line_item.bundle_parent? and false == false %}
                <span class="order-list__item-variant regular__text">{{ line.line_item.variant.title }}</span>
            {% endif %}

            {% if false %}
                {% for child_line in line.line_item.bundle_components %}
                
    {% if true %}
    {% assign css_class = 'order-list__bundle-item' %}
    {% else %}
    {% assign css_class = 'order-list__deliverable-item_abandoned' %}
    {% endif %}

    <table>
    <tr class="order-list__item">
        <td class="{{ css_class }}">
        <table>
            <td class="order-list__image-cell">
            {% if child_line.image %}
                <img src="{{ child_line | img_url: 'compact_cropped' }}" align="left" width="40" height="40" class="order-list__product-image small no-border"/>
            {% else %}
                <div class="order-list__no-image-cell small">
                <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}"align="left" width="40" height="40" class="order-list__no-product-image small no-border"/>
                </div> 
            {% endif %}
            </td>

            <td class="order-list__product-description-cell">
            {% if child_line.product.title %}
                {% assign item_title = child_line.product.title %}
            {% else %}
                {% assign item_title = child_line.title %}
            {% endif %}

            {% assign item_display = child_line.quantity %}

              <span class="order-list__item-title price-bold">{{ item_title }}</span>

            {% if child_line.variant.title != 'Default Title'%}
                <span class="order-list__item-variant regular__text">{{ child_line.variant.title }}</span>
            {% endif %}
            </td>

            <td class="number-cell">
            <span class="number price-bold">&times;{{ item_display }}</span>
            </td>
        </table>
        </td>
    </tr>
    </table>
                {% endfor %}
            {% else %}
                {% for group in line.line_item.groups %}
                {% if group.deliverable? %}
                    <span class="order-list__item-variant regular__text">For: {{ group.display_title }}</span>
                {% else %}
                    <span class="order-list__item-variant regular__text">Part of: {{ group.display_title }}</span>
                {% endif %}
                {% endfor %}
            {% endif %}


            {% if line.line_item.selling_plan_allocation %}
                <span class="order-list__item-variant regular__text">{{ line.line_item.selling_plan_allocation.selling_plan.name }}</span>
            {% endif %}

            {% if line.line_item.refunded_quantity > 0 %}
                <span class="order-list__item-refunded">Refunded</span>
            {% endif %}

            {% if line.line_item.discount_allocations %}
                {% for discount_allocation in line.line_item.discount_allocations %}
                {% if discount_allocation.discount_application.target_selection != 'all' %}
                    <span class="order-list__item-variant regular__text">
                        Coupon Code&nbsp;:&nbsp;
                        <span class="discount_text">
                            {{ discount_allocation.discount_application.title | upcase }}
                            (-{{ discount_allocation.amount | money }})
                        </span>
                    </span>
                {% endif %}
                {% endfor %}
            {% endif %}

                </div>
            </td>

            <td class="number-cell">
                <span class="number price-bold">&times;{{ line_display }}</span>
            </td>

            {% if line.line_item.nested_line_parent? %}
            {% for child_line in line.line_item.nested_lines %}
                
    {% if false %}
    {% assign css_class = 'order-list__bundle-item' %}
    {% else %}
    {% assign css_class = 'order-list__deliverable-item_abandoned' %}
    {% endif %}

    <table>
    <tr class="order-list__item">
        <td class="{{ css_class }}">
        <table>
            <td class="order-list__image-cell">
            {% if child_line.image %}
                <img src="{{ child_line | img_url: 'compact_cropped' }}" align="left" width="40" height="40" class="order-list__product-image small no-border"/>
            {% else %}
                <div class="order-list__no-image-cell small">
                <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="40" height="40" class="order-list__no-product-image small no-border"/>
                </div>
            {% endif %}
            </td>

            <td class="order-list__product-description-cell">
            {% if child_line.product.title %}
                {% assign item_title = child_line.product.title %}
            {% else %}
                {% assign item_title = child_line.title %}
            {% endif %}

            {% assign item_display = child_line.quantity %}

                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="order-list__item-title" style="font-family: Arial; color: #1E1E1E; font-weight: 700;">{{ item_title }}</span>
                    <span class="order-list__item-title" style="font-family: Arial; color: #1E1E1E; font-weight: 700;">&times;{{ item_display }}</span>
                </div>

            {% if child_line.variant.title != 'Default Title'%}
                <span class="order-list__item-variant regular__text">{{ child_line.variant.title }}</span>
            {% endif %}
            </td>
        </table>
        </td>
    </tr>
    </table>
            {% endfor %}
            {% endif %}
        </table>
        </td>
    </tr>

    {% endunless %}

        {% endfor %}
    </tr>
    </table>


                </td>
            </tr>
            </table>
        </center>
        </td>
    </tr>
    </table>

            <table class="row footer container" style="margin: 0 auto">
    <tr>
        <td class="footer__cell" style="padding: 24px 0;">
        <center>
            <table class="container">
            <tr>
                <td>
                
                    <tr e-block-id="67ab038700f85ae0ef000006">
                <td bgcolor="#ffffff" align="center">
                <table role="presentation" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td width="24" class="rw16"></td>
                        <td class="mwn vam rw50" style="vertical-align: middle;" valign="middle">
                        <a e-editable="image_url_1" href="https://www.facebook.com/CrealityFalconOfficial" target="_blank">
                            <img e-editable="image_1" src="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/Facebook.png?v=1756093936" width="40" border="0" style="display: block; width: 32px; max-width: none !important;" class="image" alt="Facebook">
                        </a>
                        </td>
                        <td width="24" class="rw16"></td>
                        <td class="mwn vam rw50" style="vertical-align: middle;" valign="middle">
                        <a e-editable="image_url_2" href="https://x.com/CrealityFalcon" target="_blank">
                            <img e-editable="image_2" src="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/X.png?v=1756093936" width="40" border="0" style="display: block; width: 32px; max-width: none !important;" class="image" alt="Facebook">
                        </a>
                        </td>
                        <td width="24" class="rw16"></td>
                        <td class="mwn vam rw50" style="vertical-align: middle;" valign="middle">
                        <a e-editable="image_url_3" href="https://www.instagram.com/falconlaser.official" target="_blank">
                            <img e-editable="image_3" src="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/Instagram.png?v=1756093936" width="40" border="0" style="display: block; width: 32px; max-width: none !important;" class="image" alt="Facebook">
                        </a>
                        </td>
                        <td width="24" class="rw16"></td>
                        <td class="mwn vam rw50" style="vertical-align: middle;" valign="middle">
                        <a e-editable="image_url_4" href="https://www.youtube.com/@FalconLaserOfficial" target="_blank">
                            <img e-editable="image_4" src="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/Youtube.png?v=1756093936" width="40" border="0" style="display: block; width: 32px; max-width: none !important;" class="image" alt="Facebook">
                        </a>
                        </td>
                        <td width="24" class="rw16"></td>
                        <td class="mwn vam rw50" style="vertical-align: middle;" valign="middle">
                        <a e-editable="image_url_5" href="https://www.tiktok.com/@falconlaserofficial target="_blank">
                            <img e-editable="image_5" src="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/TikTok.png?v=1756093936" width="40" border="0" style="display: block; width: 32px; max-width: none !important;" class="image" alt="Facebook">
                        </a>
                        </td>
                        <td width="25" class="rw16"></td>
                    </tr>
                    </tbody>
                </table>
                </td>
            </tr>

            <!-- Existing footer content -->
            <table class="row footer" style="border: none;">
                <tr>
                <td class="footer__cell" style="padding: 0px;">
                    <center>
                    <table class="container" >
                        <tr>
                        <td style="padding-top: 14px; padding-bottom: 40px; text-align: center;">
                            <p class="disclaimer__subtext">If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}" style="color: #0BB3FB;text-decoration: underline;">{{ shop.email }}</a></p>
                        </td>
                        </tr>
                    </table>
                    </center>
                </td>
                </tr>
            </table>

                </td>
            </tr>
            </table>
        </center>
        </td>
    </tr>
    </table>

    <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

            </td>
        </tr>
        </table>
    </body>
    </html>
