{% style %}
  .footer {
    background-color: #fff;
    padding-bottom: calc(80px + var(--product-nav-bar--height, 0px));
    padding-top: 80px;
  }

  .footer .container {
    padding: 0;
  }

  .footer .footer-menu {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
  }

  .footer .footer-menu .footer-menu-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .footer .footer-menu .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer .footer-menu .contact-item {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 20px 1fr;
    gap: 4px;
  }

  .footer .footer-menu .contact-item svg {
    fill: none;
    stroke: #1e1e1e;
  }

  .footer .footer-menu .contact-item .contact-icon {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer .footer-menu .contact-item .contact-icon-phone svg {
    width: 20px;
    height: 20px;
  }

  .footer .footer-menu .contact-item .contact-icon-address svg,
  .footer .footer-menu .contact-item .contact-icon-email svg {
    width: 16px;
    height: 16px;
  }

  .footer .footer-menu .contact-item .contact-title {
    grid-column: 2;
    grid-row: 1;
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .footer .footer-menu .contact-item .contact-content {
    grid-column: 2;
    grid-row: 2;
    color: #8d9095;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .footer .footer-links {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  .footer .footer-links-left {
  }

  .footer .footer-links-left img {
    max-height: 24px;
  }

  .footer .footer-links-left a:after {
    display: none;
  }

  .footer .footer-links-right {
    display: flex;
    column-gap: 20px;
    row-gap: 8px;
    flex-wrap: wrap;
  }

  .footer .footer-links-right a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer .footer-links-right svg {
    height: 20px;
    width: 20px;
    fill: none;
    stroke: none;
  }

  .footer .footer-links-payIcon {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .footer .footer-links-payIcon span {
    display: flex;
    align-items: center;
  }

  .footer .footer-links-payIcon svg {
    height: 22px;
    width: auto;
    fill: none;
    stroke: initial;
  }

  .footer .footer-desc {
    border-top: 1px solid #eaebed;
    margin-top: 24px;
    padding-top: 24px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  .footer .footer-desc-copyright span {
    color: #8d9095;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .footer .footer-desc .cooperation-tag {
    padding-left: 24px;
  }

  .footer p {
    color: #1e1e1e;
    font-size: 14px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  .footer ul {
    display: grid;
    row-gap: 12px;
  }

  .footer a {
    color: #8d9095;
    font-size: 12px;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .footer a,
  .footer a:after {
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .footer a:after {
    background: #1e1e1e;
    bottom: 0;
    content: '';
    height: 1px;
    position: absolute;
    right: 0;
    width: 0;
  }

  .footer a:hover {
    color: #1e1e1e;
  }

  .footer a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
  }

  @media (min-width: 1920px) {
    .container {
      margin: 0 auto !important;
      max-width: 62.5vw !important;
      width: 62.5vw !important;
      padding: 0;
    }
  }
  @media (min-width: 901px) and (max-width: 1920px) {
    .container {
      padding: 0;
    }
  }
  @media (max-width: 900px) {
    .footer .container {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      max-width: 100% !important;
      padding-left: 6.4vw;
      padding-right: 6.4vw;
      width: 100% !important;
    }
  }

  @media (min-width: 901px) {
    .lg\:hidden {
      display: none;
    }
  }

  @media (max-width: 900px) {
    /* mobile specific styles */
    .footer {
      padding-top: 6.4vw;
    }
    .footer ul {
      display: none;
    }
    .footer ul.active {
      display: grid;
    }
    .footer .footer-menu {
      flex-direction: column;
      gap: 0;
      margin-bottom: 12.8vw;
    }
    .footer .footer-menu .footer-menu-item {
      border-bottom: 0.267vw solid #e5e5e5;
      padding: 4.267vw 0;
    }
    .footer a {
      font-size: 3.733vw;
    }
    .footer .footer-menu .footer-menu-item svg {
      width: 6.4vw;
      height: 6.4vw;
      stroke: none;
      transition: transform 0.3s ease;
    }
    .footer .footer-menu .footer-menu-item svg.active {
      transform: rotate(45deg);
    }
    .footer .footer-menu .footer-menu-item p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      font-weight: 500;
      line-height: 150%;
    }
    .footer .footer-menu .footer-menu-item ul {
      margin-top: 3.2vw;
    }
    .footer .footer-links {
      flex-direction: column;
    }
    .footer .footer-desc {
      flex-direction: column-reverse;
      margin-top: 5.333vw;
      padding-top: 5.333vw;
    }
  }

  @media (min-width: 1920px) {
    .footer {
      padding-bottom: calc(4.167vw + var(--product-nav-bar--height, 0px));
      padding-top: 4.167vw;
    }
    .footer .footer-menu {
      gap: 2.083vw;
      margin-bottom: 4.167vw;
    }
    .footer .footer-menu .contact-list {
      gap: 0.625vw;
    }
    .footer .footer-menu .contact-item {
      grid-template-columns: 1.042vw 1fr;
      grid-template-rows: 1.042vw 1fr;
      gap: 0.208vw;
    }
    .footer .footer-menu .contact-item .contact-icon-phone svg {
      width: 1.042vw;
      height: 1.042vw;
    }
    .footer .footer-menu .contact-item .contact-icon-address svg,
    .footer .footer-menu .contact-item .contact-icon-email svg {
      width: 0.833vw;
      height: 0.833vw;
    }
    .footer .footer-menu .contact-item .contact-title {
      font-size: 0.729vw;
    }
    .footer .footer-menu .contact-item .contact-content {
      font-size: 0.625vw;
    }
    .footer .footer-links {
      gap: 0.833vw;
    }
    .footer .footer-links-left img {
      max-height: 1.25vw;
    }
    .footer .footer-links-right {
      column-gap: 1.042vw;
      row-gap: 0.417vw;
    }
    .footer .footer-links-right svg {
      height: 1.042vw;
      width: 1.042vw;
    }
    .footer .footer-links-payIcon {
      gap: 0.417vw;
    }
    .footer .footer-links-payIcon svg {
      height: 1.146vw;
    }
    .footer .footer-desc {
      border-top: 0.052vw solid #eaebed;
      margin-top: 1.25vw;
      padding-top: 1.25vw;
      gap: 0.833vw;
    }
    .footer .footer-desc-copyright span {
      font-size: 0.625vw;
    }
    .footer .footer-desc .cooperation-tag {
      padding-left: 1.25vw;
    }
    .footer p {
      font-size: 0.729vw;
      margin-bottom: 0.625vw;
    }
    .footer ul {
      row-gap: 0.625vw;
    }
    .footer a {
      font-size: 0.625vw;
    }
    .footer a:after {
      height: 0.052vw;
    }
  }
{% endstyle %}

<footer class="footer">
  <div class="container">
    <nav class="footer-menu" role="navigation">
      {% for link in linklists[section.settings.menu].links %}
        <div class="footer-menu-item list">
          <p>
            {{ link.title }}
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="expand-icon lg:hidden transition ">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8002 7.0002C12.8002 6.55837 12.442 6.2002 12.0002 6.2002C11.5584 6.2002 11.2002 6.55837 11.2002 7.0002V11.2002L7.0002 11.2002C6.55837 11.2002 6.2002 11.5584 6.2002 12.0002C6.2002 12.442 6.55837 12.8002 7.0002 12.8002H11.2002V17.0002C11.2002 17.442 11.5584 17.8002 12.0002 17.8002C12.442 17.8002 12.8002 17.442 12.8002 17.0002V12.8002H17.0002C17.442 12.8002 17.8002 12.442 17.8002 12.0002C17.8002 11.5584 17.442 11.2002 17.0002 11.2002L12.8002 11.2002V7.0002Z" fill="#8D9095"></path>
            </svg>
          </p>
          <ul class="menu-list">
            {% for childlink in link.links %}
              <li class="menu-item">
                <a class="" href="{{ childlink.url }}">{{ childlink.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      <div class="footer-menu-item contact-list">
        <div class="contact-item">
          <div class="contact-icon contact-icon-address">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M3.28612 11.3335C2.07969 11.6869 1.3335 12.175 1.3335 12.7142C1.3335 13.7926 4.31826 14.6668 8.00016 14.6668C11.6821 14.6668 14.6668 13.7926 14.6668 12.7142C14.6668 12.175 13.9206 11.6869 12.7142 11.3335" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8.00016 11.3335C8.00016 11.3335 12.1668 8.59285 12.1668 5.4244C12.1668 3.16506 10.3013 1.3335 8.00016 1.3335C5.69898 1.3335 3.8335 3.16506 3.8335 5.4244C3.8335 8.59285 8.00016 11.3335 8.00016 11.3335Z" stroke="#1E1E1E" stroke-linejoin="round"/>
              <path d="M8 6.75C8.69035 6.75 9.25 6.19035 9.25 5.5C9.25 4.80965 8.69035 4.25 8 4.25C7.30965 4.25 6.75 4.80965 6.75 5.5C6.75 6.19035 7.30965 6.75 8 6.75Z" stroke="#1E1E1E" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="contact-title">Address</div>
          <div class="contact-content">{{ section.settings.address }}</div>
        </div>

        <div class="contact-item">
          <div class="contact-icon contact-icon-phone">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M6.96021 3.3335C7.25649 3.3335 7.52944 3.49416 7.67326 3.75319L8.67081 5.55011C8.80141 5.78539 8.80757 6.06997 8.6872 6.31067L7.72619 8.23273C7.72619 8.23273 8.00469 9.66454 9.17023 10.8301C10.3358 11.9956 11.7628 12.2693 11.7628 12.2693L13.6846 11.3085C13.9254 11.188 14.2102 11.1943 14.4456 11.3251L16.2476 12.327C16.5063 12.4709 16.6668 12.7437 16.6668 13.0397V15.1085C16.6668 16.1621 15.6882 16.923 14.69 16.5861C12.6398 15.8944 9.45738 14.5772 7.44027 12.5601C5.42312 10.5429 4.10597 7.36049 3.41419 5.31031C3.07737 4.31207 3.83829 3.3335 4.8918 3.3335H6.96021Z" stroke="#1E1E1E" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="contact-title">Phone</div>
          <div class="contact-content">{{ section.settings.phone }}</div>
        </div>

        <div class="contact-item">
          <div class="contact-icon contact-icon-email">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none">
              <path d="M0.5 11.9998C0.5 12.4601 0.873096 12.8332 1.33333 12.8332H14.6667C15.1269 12.8332 15.5 12.4601 15.5 11.9998V6.99984V1.99984C15.5 1.5396 15.1269 1.1665 14.6667 1.1665H8H1.33333C0.873096 1.1665 0.5 1.5396 0.5 1.99984V6.99984V11.9998Z" stroke="#1E1E1E" stroke-linejoin="round"/>
              <path d="M0.916504 2L7.41402 7.15249C7.61063 7.3084 7.88734 7.31316 8.08921 7.16411L15.0832 2" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="contact-title">Email</div>
          <div class="contact-content">{{ section.settings.email }}</div>
        </div>
      </div>
    </nav>
    <div class="footer-links">
      <div class="footer-links-left">
        <a class="" href="https://www.creality.com/">
          <img
            src="{{ section.settings.logo |  img_url: 'master' }}"
            alt="Creality Falcon Logo"
            loading="lazy"
            width="100%"
            height="100%"
          >
        </a>
      </div>
      <div class="footer-links-right">
        <a class="" href="{{ section.settings.instagram_link }}" target="_blank">
          <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.9845 21.999H11.0165C10.0639 21.999 8.95784 21.999 7.87181 21.9336C6.3164 21.9685 4.81003 21.3884 3.67976 20.3192C2.61051 19.1891 2.03078 17.6825 2.06671 16.1271C2 14.9223 2 13.7028 2 12.522V11.472C2 10.2966 2 9.0704 2.06671 7.8696C2.0307 6.31396 2.61098 4.80714 3.68109 3.67748C4.81065 2.60922 6.3162 2.03001 7.87047 2.06573C8.93783 1.99902 10.0239 1.99902 10.9538 1.99902H13.0445C13.9784 1.99902 15.0551 1.99902 16.1278 2.0644C17.6839 2.02818 19.1912 2.60847 20.3212 3.67881C21.3895 4.80898 21.9691 6.31481 21.9343 7.8696C22.0023 9.08375 22.001 10.3139 21.9996 11.504V12.0057C21.9996 12.1898 21.9996 12.3739 21.9996 12.5581C21.9996 13.7282 21.9996 14.9383 21.9343 16.1324C21.9693 17.6883 21.3892 19.1952 20.3199 20.3259C19.1892 21.3952 17.6823 21.9754 16.1265 21.9403C15.0431 21.9937 13.9798 21.999 12.9845 21.999ZM11.9971 6.86894C10.9825 6.86894 9.99062 7.16976 9.14689 7.73337C8.30316 8.29698 7.64547 9.09808 7.25693 10.0354C6.8684 10.9728 6.76647 12.0042 6.96403 12.9995C7.16159 13.9947 7.64977 14.9091 8.36687 15.6269C9.08396 16.3448 9.99778 16.8339 10.9928 17.0325C11.9878 17.2311 13.0194 17.1303 13.9571 16.7427C14.8948 16.3551 15.6966 15.6983 16.2611 14.8551C16.8256 14.0119 17.1274 13.0204 17.1285 12.0057C17.1285 10.6443 16.588 9.33852 15.6259 8.37534C14.6637 7.41217 13.3585 6.87035 11.9971 6.86894ZM17.3339 5.46C17.0964 5.46 16.8643 5.53042 16.6668 5.66237C16.4694 5.79431 16.3154 5.98185 16.2246 6.20127C16.1337 6.42069 16.1099 6.66213 16.1562 6.89506C16.2026 7.12799 16.3169 7.34196 16.4849 7.50989C16.6528 7.67783 16.8668 7.79219 17.0997 7.83853C17.3326 7.88486 17.574 7.86108 17.7935 7.77019C18.0129 7.67931 18.2004 7.5254 18.3323 7.32793C18.4643 7.13046 18.5347 6.89829 18.5347 6.6608C18.5347 6.34394 18.4095 6.03992 18.1863 5.81499C17.9632 5.59006 17.6601 5.46246 17.3433 5.46H17.3339ZM11.9971 15.3332C11.3374 15.3332 10.6926 15.1376 10.144 14.7711C9.59553 14.4046 9.16801 13.8836 8.91555 13.2742C8.66309 12.6647 8.59704 11.994 8.72574 11.347C8.85444 10.6999 9.17212 10.1056 9.6386 9.63909C10.1051 9.17261 10.6994 8.85493 11.3464 8.72622C11.9934 8.59752 12.6641 8.66358 13.2736 8.91604C13.8831 9.1685 14.404 9.59602 14.7705 10.1446C15.137 10.6931 15.3326 11.338 15.3326 11.9977C15.3328 12.4358 15.2467 12.8697 15.0791 13.2746C14.9116 13.6794 14.6659 14.0473 14.3562 14.3571C14.0464 14.667 13.6787 14.9128 13.2739 15.0805C12.8691 15.2483 12.4353 15.3332 11.9971 15.3332Z" fill="#51545A"></path>
            </svg>
          </div>
        </a>
        <a class="" href="{{ section.settings.pinterest_link }}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M6.60203 18.4924C6.48745 17.4548 6.57147 16.4553 6.79299 15.494L7.70961 11.5494C7.54411 11.039 7.45655 10.5066 7.4499 9.97007C7.4499 8.68828 8.06098 7.77272 9.03871 7.77272C9.71089 7.77272 10.2074 8.24576 10.2074 9.14606C10.2074 9.43599 10.1514 9.76152 10.0393 10.1227L9.63451 11.4426C9.55812 11.6969 9.51993 11.9284 9.51993 12.1369C9.51993 13.0525 10.2227 13.5713 11.1164 13.5713C12.7052 13.5713 13.8433 11.9233 13.8433 9.78695C13.8433 7.40649 12.2851 5.88819 9.97824 5.88819C7.41171 5.88819 5.78471 7.55909 5.78471 9.87851C5.78471 10.817 6.07497 11.6867 6.63258 12.2819C6.44925 12.587 6.25065 12.6481 5.96039 12.6481C5.04377 12.6481 4.17298 11.351 4.17298 9.59621C4.17298 6.55197 6.6173 4.13336 10.0393 4.13336C13.6294 4.13336 15.8904 6.6359 15.8904 9.72592C15.8904 12.8312 13.6906 15.1659 11.3226 15.1659C10.8714 15.1739 10.4244 15.0767 10.0174 14.882C9.61028 14.6873 9.25427 14.4005 8.9776 14.0443L8.51165 15.9517C8.25958 16.9283 7.87765 17.8592 7.27421 18.7518C8.64712 19.1792 10.1014 19.2778 11.5196 19.0399C12.9377 18.802 14.28 18.2341 15.4377 17.3821C16.5955 16.5302 17.5364 15.4182 18.1843 14.1358C18.8322 12.8535 19.169 11.4369 19.1674 10.0006C19.1694 8.33717 18.7176 6.70465 17.8607 5.27836C17.0037 3.85207 15.774 2.68592 14.3035 1.90517C12.833 1.12442 11.1773 0.758564 9.51435 0.846908C7.85136 0.935252 6.24389 1.47446 4.8646 2.4066C3.48532 3.33874 2.38633 4.62861 1.68568 6.13764C0.985041 7.64667 0.70922 9.31784 0.887847 10.9717C1.06647 12.6255 1.6928 14.1994 2.69955 15.5245C3.7063 16.8495 5.05543 17.8756 6.60203 18.4924Z" fill="#51545A"/>
          </svg>
        </a>
        <a class="" href="{{ section.settings.tiktok_link }}" target="_blank">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <g clip-path="url(#clip0_3886_71524)">
                <path d="M8.0271 0.679458C8.82764 0.667236 9.62208 0.673347 10.4165 0.667236C10.4654 1.60222 10.8015 2.55555 11.4859 3.21554C12.1704 3.89386 13.1359 4.20553 14.077 4.30941V6.77216C13.197 6.7416 12.3109 6.55827 11.5104 6.17939C11.1621 6.0205 10.8382 5.81884 10.5204 5.61106C10.5143 7.39549 10.5265 9.17991 10.5082 10.9582C10.4593 11.8138 10.1782 12.6632 9.68319 13.366C8.88264 14.5393 7.49544 15.3032 6.07156 15.3276C5.19769 15.3765 4.32381 15.1382 3.57826 14.6982C2.34383 13.971 1.47607 12.6388 1.34773 11.2088C1.33551 10.9032 1.3294 10.5977 1.34162 10.2982C1.45162 9.13713 2.02606 8.02492 2.91827 7.26715C3.9327 6.38716 5.35046 5.9655 6.67656 6.21606C6.68878 7.12049 6.65211 8.02492 6.65211 8.92936C6.04712 8.7338 5.33824 8.7888 4.80658 9.15546C4.42159 9.40602 4.12826 9.79101 3.97548 10.2249C3.84715 10.5366 3.88381 10.8788 3.88992 11.2088C4.03659 12.211 5.00213 13.0543 6.02879 12.9626C6.71322 12.9565 7.3671 12.5593 7.72154 11.9788C7.83765 11.7771 7.96599 11.5693 7.9721 11.331C8.03321 10.2371 8.00876 9.14935 8.01487 8.05548C8.02098 5.59273 8.00876 3.13609 8.0271 0.679458Z" fill="#51545A"></path>
              </g>
              <defs>
                <clipPath id="clip0_3886_71524">
                  <rect width="16" height="16" fill="white" transform="translate(0.00146484 0.000488281)"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
        </a>
        <a class="" href="{{ section.settings.facebook_link }}" target="_blank">
          <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.6836 22.999H9.67448V11.999H7V8.20795H9.67448V5.97521C9.67448 2.88212 10.4896 0.999023 14.0326 0.999023H16.9783V4.79664H15.1355C13.7562 4.79664 13.6887 5.32045 13.6887 6.31569V8.21319H17L16.6077 11.999H13.6862L13.6836 22.999Z" fill="#51545A"></path>
            </svg>
          </div>
        </a>

        <a class="" href="{{ section.settings.youtube_link }}" target="_blank">
          <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.9929 20.4095C8.8595 20.4466 5.72706 20.2786 2.61562 19.9066C2.10657 19.7701 1.64247 19.5019 1.27005 19.1289C0.897623 18.756 0.630014 18.2916 0.494161 17.7823C0.149244 15.8743 -0.018615 13.9384 -0.00727364 11.9995C-0.01862 10.0596 0.149238 8.12279 0.494161 6.21377C0.630014 5.70454 0.897623 5.24009 1.27005 4.86717C1.64247 4.49425 2.10657 4.22602 2.61562 4.08948C5.72713 3.71846 8.85955 3.55096 11.9929 3.58805C15.1268 3.55088 18.2597 3.71933 21.3716 4.09234C21.8796 4.23054 22.3427 4.49935 22.7146 4.87203C23.0865 5.24472 23.3544 5.70828 23.4916 6.21662C23.8366 8.12468 24.0044 10.0605 23.993 11.9995C24.0044 13.9384 23.8365 15.8743 23.4916 17.7823C23.3551 18.2912 23.0873 18.7553 22.7149 19.1282C22.3426 19.501 21.8789 19.7694 21.3701 19.9066C18.2587 20.2786 15.1263 20.4465 11.9929 20.4095ZM9.60857 8.40948V15.588L15.8229 11.9723L9.60857 8.40948Z" fill="#51545A"></path>
            </svg>
          </div>
        </a>
        <a class="" href="{{ section.settings.twitter_link }}" target="_blank">
          <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.0227 1.99902H21.0895L14.3894 10.4708L22.2715 21.999H16.0999L11.2661 15.0072L5.73507 21.999H2.66642L9.83279 12.9375L2.27148 1.99902H8.59977L12.9691 8.38979L18.0227 1.99902ZM16.9463 19.9683H18.6457L7.67639 3.92313H5.85281L16.9463 19.9683Z" fill="#51545A"></path>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="footer-desc">
      <div class="footer-desc-copyright">
        <span>{{ section.settings.copyright }}</span>
      </div>
      <div class="footer-links-payIcon">
        <span>
          <svg width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M34.2273 2.81818C34.2273 1.54204 33.1852 0.5 31.9091 0.5H2.81818C1.54204 0.5 0.5 1.54204 0.5 2.81818V19.1818C0.5 20.458 1.54204 21.5 2.81818 21.5H31.9091C33.1852 21.5 34.2273 20.458 34.2273 19.1818V2.81818Z" fill="white" stroke="#F5F6F7"></path>
            <path d="M21.8203 7.63672C22.0021 6.72763 21.8203 6.09126 21.2749 5.54581C20.7294 4.90945 19.7294 4.63672 18.4567 4.63672H14.7294C14.4567 4.63672 14.2749 4.81854 14.1839 5.09126L12.8203 14.2731C12.8203 14.4549 12.9112 14.6367 13.093 14.6367H15.5476L15.9112 11.5458L17.5476 9.54581L21.8203 7.63672Z" fill="#003087"></path>
            <path d="M21.8161 7.63672L21.6342 7.81854C21.1797 10.364 19.6342 11.2731 17.4524 11.2731H16.4524C16.1797 11.2731 15.9979 11.4549 15.907 11.7276L15.3615 15.2731L15.1797 16.1822C15.1797 16.364 15.2706 16.5458 15.4524 16.5458H17.3615C17.6342 16.5458 17.8161 16.364 17.8161 16.1822V16.0913L18.1797 13.9094V13.8185C18.1797 13.6367 18.4524 13.4549 18.6342 13.4549H18.907C20.8161 13.4549 22.2706 12.7276 22.6342 10.5458C22.8161 9.63672 22.7251 8.90945 22.2706 8.36399C22.1797 7.90945 21.9979 7.72763 21.8161 7.63672Z" fill="#3086C8"></path>
            <path d="M21.2699 7.45437C21.179 7.36346 21.0881 7.36346 20.9972 7.36346C20.9062 7.36346 20.8153 7.36346 20.7244 7.27255C20.4517 7.18164 20.0881 7.18164 19.7244 7.18164H16.9972C16.9063 7.18164 16.8153 7.18164 16.8153 7.27255C16.6335 7.36346 16.5426 7.45437 16.5426 7.63619L15.9062 11.6362V11.7271C15.9062 11.4544 16.179 11.2725 16.4517 11.2725H17.6335C19.9062 11.2725 21.3608 10.3635 21.8153 7.818V7.63619C21.7244 7.54528 21.5426 7.45437 21.3608 7.45437H21.2699Z" fill="#012169"></path>
          </svg>
        </span>
        <span>
          <svg width="36" height="22" viewBox="0 0 36 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M34.9538 2.81818C34.9538 1.54204 33.9118 0.5 32.6357 0.5H3.54474C2.2686 0.5 1.22656 1.54204 1.22656 2.81818V19.1818C1.22656 20.458 2.2686 21.5 3.54474 21.5H32.6357C33.9118 21.5 34.9538 20.458 34.9538 19.1818V2.81818Z" fill="white" stroke="#F5F6F7"></path>
            <path d="M26.5451 9.27237H26.2724C25.9087 10.1815 25.636 10.636 25.3633 11.9996H27.0906C26.8178 10.636 26.8178 9.99965 26.5451 9.27237ZM29.1815 14.636H27.636C27.5451 14.636 27.5451 14.636 27.4542 14.5451L27.2724 13.7269L27.1815 13.5451H24.9996C24.9087 13.5451 24.8178 13.5451 24.8178 13.7269L24.5451 14.5451C24.5451 14.636 24.4542 14.636 24.4542 14.636H22.5451L22.7269 14.1815L25.3633 7.99964C25.3633 7.5451 25.636 7.36328 26.0906 7.36328H27.4542C27.5451 7.36328 27.636 7.36328 27.636 7.5451L28.9087 13.4542C28.9996 13.8178 29.0906 14.0906 29.0906 14.4542C29.1815 14.5451 29.1815 14.5451 29.1815 14.636ZM16.9996 14.3633L17.3633 12.7269C17.4542 12.7269 17.5451 12.8178 17.5451 12.8178C18.1815 13.0906 18.8178 13.2724 19.4542 13.1815C19.636 13.1815 19.9087 13.0906 20.0906 12.9996C20.5451 12.8178 20.5451 12.3633 20.1815 11.9996C19.9996 11.8178 19.7269 11.7269 19.4542 11.5451C19.0906 11.3633 18.7269 11.1815 18.4542 10.9087C17.3633 9.99964 17.7269 8.72692 18.3633 8.09055C18.9087 7.72692 19.1815 7.36328 19.9087 7.36328C20.9996 7.36328 22.1815 7.36328 22.7269 7.5451H22.8178C22.7269 8.09055 22.636 8.5451 22.4542 9.09055C21.9996 8.90874 21.5451 8.72692 21.0906 8.72692C20.8178 8.72692 20.5451 8.72692 20.2724 8.81783C20.0906 8.81783 19.9996 8.90874 19.9087 8.99965C19.7269 9.18146 19.7269 9.45419 19.9087 9.63601L20.3633 9.99964C20.7269 10.1815 21.0906 10.3633 21.3633 10.5451C21.8178 10.8178 22.2724 11.2724 22.3633 11.8178C22.5451 12.636 22.2724 13.3633 21.5451 13.9087C21.0906 14.2724 20.9087 14.4542 20.2724 14.4542C18.9996 14.4542 17.9996 14.5451 17.1815 14.2724C17.0906 14.4542 17.0906 14.4542 16.9996 14.3633ZM13.8178 14.636C13.9087 13.9996 13.9087 13.9996 13.9996 13.7269C14.4542 11.7269 14.9087 9.63601 15.2724 7.63601C15.3633 7.45419 15.3633 7.36328 15.5451 7.36328H17.1815C16.9996 8.45419 16.8178 9.27237 16.5451 10.2724C16.2724 11.636 15.9996 12.9996 15.636 14.3633C15.636 14.5451 15.5451 14.5451 15.3633 14.5451M5.36328 7.5451C5.36328 7.45419 5.5451 7.36328 5.63601 7.36328H8.72692C9.18146 7.36328 9.5451 7.63601 9.63601 8.09055L10.4542 12.0906C10.4542 12.1815 10.4542 12.1815 10.5451 12.2724C10.5451 12.1815 10.636 12.1815 10.636 12.1815L12.5451 7.5451C12.4542 7.45419 12.5451 7.36328 12.636 7.36328H14.5451C14.5451 7.45419 14.5451 7.45419 14.4542 7.5451L11.636 14.1815C11.5451 14.3633 11.5451 14.4542 11.4542 14.5451C11.3633 14.636 11.1815 14.5451 10.9996 14.5451H9.63601C9.5451 14.5451 9.45419 14.5451 9.45419 14.3633L7.99964 8.72692C7.81783 8.5451 7.5451 8.27237 7.18146 8.18146C6.63601 7.90874 5.63601 7.72692 5.45419 7.72692L5.36328 7.5451Z" fill="#142688"></path>
          </svg>
        </span>
        <span>
          <svg width="36" height="22" viewBox="0 0 36 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M34.6824 2.81818C34.6824 1.54204 33.6403 0.5 32.3642 0.5H3.27326C1.99712 0.5 0.955078 1.54204 0.955078 2.81818V19.1818C0.955078 20.458 1.99712 21.5 3.27326 21.5H32.3642C33.6403 21.5 34.6824 20.458 34.6824 19.1818V2.81818Z" fill="white" stroke="#F5F6F7"></path>
            <path d="M14.182 17.364C17.6965 17.364 20.5456 14.5149 20.5456 11.0004C20.5456 7.48582 17.6965 4.63672 14.182 4.63672C10.6675 4.63672 7.81836 7.48582 7.81836 11.0004C7.81836 14.5149 10.6675 17.364 14.182 17.364Z" fill="#EB001B"></path>
            <path d="M21.4554 17.364C24.97 17.364 27.8191 14.5149 27.8191 11.0004C27.8191 7.48582 24.97 4.63672 21.4554 4.63672C17.9409 4.63672 15.0918 7.48582 15.0918 11.0004C15.0918 14.5149 17.9409 17.364 21.4554 17.364Z" fill="#F79E1B"></path>
            <path d="M20.5463 11.0002C20.5463 8.81836 19.4554 6.90927 17.8191 5.81836C16.1827 7.00018 15.0918 8.90927 15.0918 11.0002C15.0918 13.0911 16.1827 15.0911 17.8191 16.182C19.4554 15.0911 20.5463 13.182 20.5463 11.0002Z" fill="#FF5F00"></path>
          </svg>
        </span>
        <span>
          <svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.0907 0C32.0907 0 32.9089 0.818182 32.9089 1.81818V18.1818C32.9089 19.1818 32.0907 20 31.0907 20H1.99982C0.999822 20 0.181641 19.1818 0.181641 18.1818V1.81818C0.181641 0.818182 0.999822 0 1.99982 0H31.0907Z" fill="#006FCF"></path>
            <path d="M19.2832 17.214V9.55859L32.9087 9.57041V11.685L31.3341 13.3686L32.9087 15.0659V17.225H30.3941L29.0577 15.7504L27.7305 17.2304L19.2832 17.2122V17.214Z" fill="white"></path>
            <path d="M20.1934 16.3751V10.4023H25.2588V11.7778H21.8334V12.7123H25.177V14.0651H21.8334V14.9833H25.2588V16.3751H20.1934Z" fill="#006FCF"></path>
            <path d="M25.2324 16.376L28.0351 13.386L25.2324 10.4023H27.4015L29.1142 12.296L30.8324 10.4033H32.9079V10.4496L30.1652 13.386L32.9079 16.2923V16.3769H30.8106L29.0679 14.4651L27.3424 16.3778H25.2324V16.376Z" fill="#006FCF"></path>
            <path d="M19.9176 2.76367H23.2031L24.3567 5.38276V2.76367H28.4113L29.1113 4.7264L29.8122 2.76367H32.9086V10.4191H16.5449L19.9176 2.76367Z" fill="white"></path>
            <path d="M20.5396 3.59375L17.8887 9.56284H19.7069L20.2069 8.36739H22.9159L23.4159 9.56284H25.2796L22.6396 3.59375H20.5396ZM20.7669 7.02739L21.5623 5.12739L22.3559 7.02739H20.7669Z" fill="#006FCF"></path>
            <path d="M25.2559 9.56375V3.59375L27.8113 3.60284L29.1277 7.27284L30.4513 3.59466H32.9095V9.56284L31.3277 9.57739V5.47739L29.8331 9.56284H28.3877L26.864 5.46375V9.56375H25.2568H25.2559Z" fill="#006FCF"></path>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" fill="none">
            <g clip-path="url(#clip0_2488_52601)">
              <path opacity="0.07" d="M35 0.000488281H3C1.3 0.000488281 0 1.30049 0 3.00049V21.0005C0 22.7005 1.4 24.0005 3 24.0005H35C36.7 24.0005 38 22.7005 38 21.0005V3.00049C38 1.30049 36.6 0.000488281 35 0.000488281Z" fill="black"></path>
              <path d="M35 1.00049C36.1 1.00049 37 1.90049 37 3.00049V21.0005C37 22.1005 36.1 23.0005 35 23.0005H3C1.9 23.0005 1 22.1005 1 21.0005V3.00049C1 1.90049 1.9 1.00049 3 1.00049H35Z" fill="white"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5.00049H15V16.5005C15 17.1635 14.7366 17.7994 14.2678 18.2683C13.7989 18.7371 13.163 19.0005 12.5 19.0005H9V7.50049C9 6.83745 9.26339 6.20156 9.73223 5.73272C10.2011 5.26388 10.837 5.00049 11.5 5.00049Z" fill="#006EBC"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5 5.00049H22V16.5005C22 17.1635 21.7366 17.7994 21.2678 18.2683C20.7989 18.7371 20.163 19.0005 19.5 19.0005H16V7.50049C16 6.83745 16.2634 6.20156 16.7322 5.73272C17.2011 5.26388 17.837 5.00049 18.5 5.00049Z" fill="#F00036"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5 5.00049H29V16.5005C29 17.1635 28.7366 17.7994 28.2678 18.2683C27.7989 18.7371 27.163 19.0005 26.5 19.0005H23V7.50049C23 6.83745 23.2634 6.20156 23.7322 5.73272C24.2011 5.26388 24.837 5.00049 25.5 5.00049Z" fill="#2AB419"></path>
              <path d="M10.7556 14.5005C9.69561 14.5005 8.63361 14.1965 8.09961 13.5135L8.87961 12.8375C8.94761 13.9705 12.4246 14.0775 12.4246 12.6475V9.50052H14.2266V12.6475C14.2266 13.3755 13.6526 13.9695 12.6536 14.2795C12.1876 14.4235 11.2886 14.5005 10.7556 14.5005ZM18.8716 14.5005C18.1976 14.5005 17.4836 14.3935 16.9066 14.1345C15.9586 13.7095 15.5946 12.9285 15.6066 11.9355C15.6186 10.9215 16.0426 10.1535 17.0746 9.77052C18.3936 9.28052 20.4176 9.50952 21.0006 10.0405V11.0125C20.4286 10.4915 19.0426 10.1145 18.0816 10.5525C17.5876 10.7785 17.3446 11.4695 17.3376 12.0005C17.3316 12.5605 17.5826 13.2525 18.0816 13.4975C19.0346 13.9645 20.4716 13.5375 21.0006 13.0565V14.0665C20.6426 14.3215 19.7476 14.5005 18.8716 14.5005ZM27.5506 11.9135C27.9206 11.6785 28.1326 11.3465 28.1326 10.9085C28.1326 10.4705 28.0166 10.2215 27.7846 9.96952C27.5786 9.76252 27.2046 9.50052 26.5466 9.50052H23.0006V14.5005H26.5466C27.2426 14.5005 27.6436 14.2705 27.8616 14.0855C28.1446 13.8355 28.2876 13.5555 28.2876 13.1255C28.2876 12.6945 28.1326 12.2175 27.5506 11.9135ZM25.6446 11.6325H24.2166V10.1885H25.7116C26.6676 10.1885 26.6556 11.6325 25.6446 11.6325ZM25.9326 13.7895H24.2166V12.2765H25.9326C26.9186 12.2765 27.0156 13.7895 25.9326 13.7895Z" fill="white"></path>
            </g>
            <defs>
              <clipPath id="clip0_2488_52601">
                <rect width="38" height="24" fill="white" transform="translate(0 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" fill="none">
            <g clip-path="url(#clip0_2488_52610)">
              <path opacity="0.07" d="M35 0.000488281H3C1.3 0.000488281 0 1.30049 0 3.00049V21.0005C0 22.7005 1.4 24.0005 3 24.0005H35C36.7 24.0005 38 22.7005 38 21.0005V3.00049C38 1.30049 36.6 0.000488281 35 0.000488281Z" fill="black"></path>
              <path d="M35 1.00049C36.1 1.00049 37 1.90049 37 3.00049V21.0005C37 22.1005 36.1 23.0005 35 23.0005H3C1.9 23.0005 1 22.1005 1 21.0005V3.00049C1 1.90049 1.9 1.00049 3 1.00049H35Z" fill="white"></path>
              <path d="M3.57 7.16053H2V12.6605H3.57C4.4 12.6605 5 12.4605 5.53 12.0305C6.16 11.5105 6.53 10.7305 6.53 9.92053C6.52 8.29053 5.31 7.16053 3.57 7.16053ZM4.83 11.3005C4.49 11.6005 4.06 11.7405 3.36 11.7405H3.07V8.10053H3.36C4.05 8.10053 4.47 8.22053 4.83 8.54053C5.2 8.87053 5.42 9.38053 5.42 9.91053C5.42 10.4405 5.2 10.9705 4.83 11.3005ZM7.02 7.16053H8.09V12.6605H7.02V7.16053ZM10.71 9.27053C10.07 9.03053 9.88 8.87053 9.88 8.58053C9.88 8.23053 10.22 7.97053 10.68 7.97053C11 7.97053 11.27 8.10053 11.54 8.42053L12.1 7.69053C11.64 7.29053 11.09 7.08053 10.48 7.08053C9.51 7.08053 8.76 7.76053 8.76 8.66053C8.76 9.42053 9.11 9.81053 10.11 10.1705C10.53 10.3205 10.74 10.4205 10.85 10.4805C11.06 10.6205 11.17 10.8205 11.17 11.0505C11.17 11.5005 10.82 11.8305 10.34 11.8305C9.83 11.8305 9.42 11.5705 9.17 11.1005L8.48 11.7705C8.97 12.5005 9.57 12.8205 10.38 12.8205C11.49 12.8205 12.28 12.0805 12.28 11.0105C12.3 10.1205 11.93 9.72053 10.71 9.27053ZM12.63 9.92053C12.63 11.5405 13.9 12.7905 15.53 12.7905C15.99 12.7905 16.39 12.7005 16.87 12.4705V11.2105C16.44 11.6405 16.06 11.8105 15.58 11.8105C14.5 11.8105 13.73 11.0305 13.73 9.91053C13.73 8.85053 14.52 8.02053 15.53 8.02053C16.04 8.02053 16.43 8.20053 16.87 8.64053V7.38053C16.4 7.14053 16.01 7.04053 15.55 7.04053C13.94 7.04053 12.63 8.32053 12.63 9.92053ZM25.39 10.8605L23.92 7.16053H22.75L25.08 12.8005H25.66L28.03 7.16053H26.87L25.39 10.8605ZM28.52 12.6605H31.56V11.7305H29.59V10.2505H31.49V9.32053H29.59V8.10053H31.56V7.16053H28.52V12.6605ZM35.81 8.79053C35.81 7.76053 35.1 7.17053 33.86 7.17053H32.27V12.6705H33.34V10.4605H33.48L34.96 12.6705H36.28L34.55 10.3505C35.36 10.1805 35.81 9.63053 35.81 8.79053ZM33.65 9.70053H33.34V8.03053H33.67C34.34 8.03053 34.7 8.31053 34.7 8.85053C34.7 9.40053 34.34 9.70053 33.65 9.70053Z" fill="#231F20"></path>
              <path d="M20.1595 12.8605C20.9369 12.8605 21.6824 12.5517 22.232 12.0021C22.7817 11.4524 23.0905 10.7069 23.0905 9.92953C23.0905 9.15219 22.7817 8.40667 22.232 7.85701C21.6824 7.30734 20.9369 6.99854 20.1595 6.99854C19.3822 6.99854 18.6367 7.30734 18.087 7.85701C17.5373 8.40667 17.2285 9.15219 17.2285 9.92953C17.2285 10.7069 17.5373 11.4524 18.087 12.0021C18.6367 12.5517 19.3822 12.8605 20.1595 12.8605Z" fill="url(#paint0_linear_2488_52610)"></path>
              <path opacity="0.65" d="M20.1595 12.8605C20.9369 12.8605 21.6824 12.5517 22.232 12.0021C22.7817 11.4524 23.0905 10.7069 23.0905 9.92953C23.0905 9.15219 22.7817 8.40667 22.232 7.85701C21.6824 7.30734 20.9369 6.99854 20.1595 6.99854C19.3822 6.99854 18.6367 7.30734 18.087 7.85701C17.5373 8.40667 17.2285 9.15219 17.2285 9.92953C17.2285 10.7069 17.5373 11.4524 18.087 12.0021C18.6367 12.5517 19.3822 12.8605 20.1595 12.8605Z" fill="url(#paint1_linear_2488_52610)"></path>
              <path d="M36.5705 7.50645C36.5705 7.40645 36.5005 7.35645 36.3905 7.35645H36.2305V7.83645H36.3505V7.64645L36.4905 7.83645H36.6305L36.4705 7.63645C36.5305 7.62645 36.5705 7.57645 36.5705 7.50645ZM36.3705 7.57645H36.3505V7.44645H36.3705C36.4305 7.44645 36.4605 7.46645 36.4605 7.50645C36.4605 7.55645 36.4305 7.57645 36.3705 7.57645Z" fill="#231F20"></path>
              <path d="M36.41 7.17651C36.18 7.17651 35.99 7.36651 35.99 7.59651C35.99 7.82651 36.18 8.01651 36.41 8.01651C36.64 8.01651 36.83 7.82651 36.83 7.59651C36.83 7.36651 36.64 7.17651 36.41 7.17651ZM36.41 7.94651C36.23 7.94651 36.07 7.79651 36.07 7.59651C36.07 7.40651 36.22 7.24651 36.41 7.24651C36.59 7.24651 36.74 7.40651 36.74 7.59651C36.74 7.78651 36.59 7.94651 36.41 7.94651Z" fill="#231F20"></path>
              <path d="M37.0006 12.9844C37.0006 12.9844 27.0906 19.8734 8.97656 23.0004H34.9996C35.5272 23.0004 36.0335 22.7919 36.4081 22.4203C36.7828 22.0486 36.9953 21.544 36.9996 21.0164L37.0236 17.9964L37.0006 12.9844Z" fill="#F48120"></path>
            </g>
            <defs>
              <linearGradient id="paint0_linear_2488_52610" x1="21.6565" y1="12.2755" x2="19.6315" y2="9.10454" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F89F20"></stop>
                <stop offset="0.25" stop-color="#F79A20"></stop>
                <stop offset="0.533" stop-color="#F68D20"></stop>
                <stop offset="0.62" stop-color="#F58720"></stop>
                <stop offset="0.723" stop-color="#F48120"></stop>
                <stop offset="1" stop-color="#F37521"></stop>
              </linearGradient>
              <linearGradient id="paint1_linear_2488_52610" x1="21.3375" y1="12.2325" x2="18.3775" y2="6.44654" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F58720"></stop>
                <stop offset="0.359" stop-color="#E16F27"></stop>
                <stop offset="0.703" stop-color="#D4602C"></stop>
                <stop offset="0.982" stop-color="#D05B2E"></stop>
              </linearGradient>
              <clipPath id="clip0_2488_52610">
                <rect width="38" height="24" fill="white" transform="translate(0 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" fill="none">
            <g clip-path="url(#clip0_2488_52619)">
              <path opacity="0.07" d="M35 0.000488281H3C1.3 0.000488281 0 1.30049 0 3.00049V21.0005C0 22.7005 1.4 24.0005 3 24.0005H35C36.7 24.0005 38 22.7005 38 21.0005V3.00049C38 1.30049 36.6 0.000488281 35 0.000488281Z" fill="black"></path>
              <path d="M35 1.00049C36.1 1.00049 37 1.90049 37 3.00049V21.0005C37 22.1005 36.1 23.0005 35 23.0005H3C1.9 23.0005 1 22.1005 1 21.0005V3.00049C1 1.90049 1.9 1.00049 3 1.00049H35Z" fill="white"></path>
              <path d="M12.0005 12.0005V15.7005C12.0005 16.0005 11.8005 16.0005 11.5005 15.9005C9.60047 15.1005 8.50047 12.6005 9.20047 10.5005C9.60047 9.40049 10.4005 8.50049 11.5005 8.10049C11.9005 7.90049 12.0005 8.00049 12.0005 8.30049V12.0005ZM14.0005 12.0005V8.30049C14.0005 8.00049 14.0005 8.00049 14.3005 8.10049C16.4005 8.90049 17.5005 11.4005 16.7005 13.5005C16.3005 14.6005 15.5005 15.5005 14.4005 15.9005C14.0005 16.1005 14.0005 16.0005 14.0005 15.7005V12.0005ZM21.2005 5.00049H13.0005C16.8005 5.00049 19.8005 8.10049 19.8005 12.0005C19.8005 15.9005 16.8005 19.0005 13.0005 19.0005H21.2005C25.0005 19.0005 28.0005 15.9005 28.0005 12.0005C28.0005 8.10049 25.0005 5.00049 21.2005 5.00049Z" fill="#3086C8"></path>
            </g>
            <defs>
              <clipPath id="clip0_2488_52619">
                <rect width="38" height="24" fill="white" transform="translate(0 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="20" viewBox="0 0 32 20" fill="none">
            <rect x="0.33667" y="0.000610352" width="31.67" height="20" rx="3" fill="white"></rect>
            <rect x="0.83667" y="0.50061" width="30.67" height="19" rx="2.5" stroke="black" stroke-opacity="0.07"></rect>
            <path d="M22.7549 11.3201L22.1272 11.7961L21.5012 11.3602C21.5012 11.3144 21.5012 11.2658 21.4984 11.2171C21.4984 11.1713 21.4984 11.1226 21.4955 11.074C21.4555 9.94624 21.1692 8.73835 20.5968 7.8539C20.156 7.17553 19.5921 6.8521 18.9624 6.8521C18.3012 6.8521 17.7631 7.24709 17.1677 8.10578C17.1506 8.13154 17.1305 8.1573 17.1134 8.18592C17.1019 8.20024 17.0933 8.21455 17.0819 8.23172C17.0532 8.27466 17.0246 8.31759 16.996 8.36339C16.7384 8.76411 16.4693 9.23066 16.1774 9.74588C16.1516 9.79453 16.123 9.84319 16.0972 9.89185C16.0886 9.9033 16.0801 9.91761 16.0743 9.92906L16.0142 10.035L15.6593 10.6618C14.8264 12.1359 14.6146 12.4736 14.1995 13.0261C13.4697 13.9964 12.8457 14.3656 12.0242 14.3656C11.051 14.3656 10.4328 13.9449 10.0521 13.3094C9.74008 12.7942 9.58838 12.1159 9.58838 11.343L11.0109 11.3917C11.0109 11.8955 11.1197 12.279 11.2657 12.5137C11.4546 12.8171 11.7322 12.9345 12.0213 12.9345C12.3906 12.9345 12.734 12.8572 13.3866 11.9527C13.9104 11.2285 14.5287 10.2153 14.9437 9.577L15.3359 8.97878L15.4189 8.84711L15.5047 8.71831L15.6479 8.49792C15.8654 8.16589 16.1001 7.81383 16.352 7.47608C16.3806 7.436 16.4092 7.39593 16.4407 7.35586C16.4693 7.31579 16.5008 7.27572 16.5294 7.23851C16.787 6.90934 17.059 6.60308 17.3509 6.35119C17.8804 5.89036 18.45 5.63562 19.0254 5.63562C19.99 5.63562 20.9088 6.19377 21.6129 7.24137C22.3313 8.31187 22.7063 9.6457 22.7492 11.0339C22.7521 11.0797 22.7521 11.1284 22.7521 11.177C22.7549 11.2257 22.7549 11.2715 22.7549 11.3201Z" fill="#0081FB"></path>
            <path d="M10.7098 7.3404C11.3616 6.33717 12.3027 5.63562 13.3818 5.63562C14.0069 5.63562 14.628 5.82024 15.2769 6.34919C15.9865 6.92737 16.743 7.87937 17.6867 9.44848L18.025 10.0115C18.8419 11.3699 19.3065 12.0686 19.5787 12.3984C19.9284 12.8217 20.1468 12.9345 20.4651 12.9345C21.2723 12.9345 21.5004 12.2074 21.5004 11.3599L22.7549 11.3207C22.7549 12.2066 22.5801 12.8575 22.2824 13.3715C21.995 13.8687 21.4346 14.3656 20.4917 14.3656C19.9055 14.3656 19.3863 14.2385 18.8121 13.6978C18.3708 13.2828 17.8547 12.5455 17.4577 11.8829L16.2767 9.91389C15.6842 8.92583 15.1407 8.18879 14.8261 7.85533C14.4878 7.4964 14.0699 7.06705 13.3758 7.06705C12.8139 7.06705 12.3199 7.4569 11.9206 8.05884L10.7098 7.3404Z" fill="url(#paint0_linear_4796_57646)"></path>
            <path d="M13.3809 7.06677C12.8202 7.06677 12.3267 7.45661 11.9283 8.05855C11.3647 8.90923 11.0195 10.1761 11.0195 11.3928C11.0195 11.8946 11.0187 12.2721 11.1626 12.5051L10.0635 13.3103C9.75267 12.7934 9.58838 12.133 9.58838 11.3602C9.58838 9.95482 9.97622 8.47187 10.7098 7.3404C11.3607 6.33717 12.3096 5.63562 13.3866 5.63562L13.3809 7.06677Z" fill="url(#paint1_linear_4796_57646)"></path>
            <path opacity="0.05" d="M15.5047 8.71833L15.4188 8.84713L15.3358 8.9788C15.539 9.27362 15.7709 9.62854 16.0142 10.035L16.0743 9.92908C16.08 9.91763 16.0886 9.90332 16.0972 9.89187C16.1229 9.84321 16.1516 9.79455 16.1773 9.7459C15.9398 9.35662 15.7108 9.01029 15.5047 8.71833ZM16.4407 7.35588C16.4092 7.39595 16.3806 7.43602 16.3519 7.4761C16.5609 7.73656 16.7727 8.03138 16.9959 8.36341C17.0246 8.31761 17.0532 8.27468 17.0818 8.23174C17.0933 8.21457 17.1019 8.20026 17.1133 8.18594C17.1305 8.15732 17.1505 8.13156 17.1677 8.1058C16.9501 7.78522 16.7383 7.49613 16.5294 7.23853C16.5008 7.27574 16.4693 7.31581 16.4407 7.35588Z" fill="#000008"></path>
            <path opacity="0.07" d="M15.5047 8.71829L15.4188 8.84709C15.622 9.13904 15.851 9.48824 16.0972 9.89183C16.1229 9.84317 16.1516 9.79451 16.1773 9.74585C15.9398 9.35658 15.7108 9.01024 15.5047 8.71829ZM16.3519 7.47605C16.5609 7.73652 16.7727 8.03134 16.9959 8.36336C17.0246 8.31757 17.0532 8.27463 17.0818 8.2317C16.8614 7.9054 16.6467 7.61344 16.4407 7.35583C16.4092 7.39591 16.3806 7.43598 16.3519 7.47605Z" fill="#000008"></path>
            <defs>
              <linearGradient id="paint0_linear_4796_57646" x1="21.4108" y1="10.0006" x2="13.1757" y2="10.0006" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0081FB"></stop>
                <stop offset="0.995" stop-color="#0064E1"></stop>
              </linearGradient>
              <linearGradient id="paint1_linear_4796_57646" x1="11.4875" y1="12.3248" x2="11.4875" y2="6.64086" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0081FB"></stop>
                <stop offset="0.995" stop-color="#0064E1"></stop>
              </linearGradient>
            </defs>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="20" viewBox="0 0 32 20" fill="none">
            <rect x="0.0065918" y="0.000610352" width="31.67" height="20" rx="3" fill="white"></rect>
            <rect x="0.506592" y="0.50061" width="30.67" height="19" rx="2.5" stroke="black" stroke-opacity="0.07"></rect>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.711 6.63143C17.3503 6.26194 16.8488 6.06839 16.3298 6.07719H14.192V12.4465H15.0014V9.86886H16.3298C16.8752 9.86886 17.3415 9.68411 17.711 9.32342L17.7989 9.23545C18.4939 8.48767 18.4411 7.32642 17.711 6.63143ZM17.1479 8.75159C16.9456 8.97152 16.6553 9.09469 16.3474 9.08589H15.0014V6.86016H16.3562C16.6465 6.86016 16.9192 6.97452 17.1303 7.17686C17.5614 7.59914 17.5702 8.31172 17.1479 8.75159Z" fill="#3C4043"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1566 7.95103C19.3913 7.95103 18.8106 8.23255 18.4323 8.79558L19.1449 9.24424C19.4089 8.85716 19.7608 8.66362 20.2094 8.66362C20.4909 8.66362 20.7724 8.76919 20.9836 8.96273C21.1947 9.15627 21.3179 9.42019 21.3179 9.69291V9.87765C21.01 9.70171 20.6141 9.61373 20.139 9.61373C19.576 9.61373 19.1273 9.74569 18.793 10.0184C18.4499 10.2911 18.2828 10.643 18.2828 11.1005C18.274 11.514 18.4411 11.901 18.7579 12.165C19.0746 12.4465 19.4704 12.596 19.9455 12.596C20.4997 12.596 20.9396 12.3497 21.2739 11.8483H21.3091V12.4553H22.0833V9.76329C22.0833 9.20026 21.9161 8.75159 21.5642 8.43489C21.2123 8.11818 20.7461 7.95103 20.1566 7.95103ZM20.9132 11.4788C20.6669 11.7251 20.3414 11.8571 20.0071 11.8571C19.7783 11.8659 19.5584 11.7867 19.3737 11.6459C19.2065 11.5228 19.1097 11.3292 19.1097 11.1093C19.1097 10.8718 19.2241 10.6694 19.4352 10.5111C19.6552 10.3615 19.9367 10.2823 20.2622 10.2823C20.7109 10.2735 21.0628 10.3791 21.3179 10.5814C21.3091 10.9245 21.1771 11.2237 20.9132 11.4788Z" fill="#3C4043"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6374 8.09179L24.3882 11.2237H24.3706L23.095 8.09179H22.2152L23.9835 12.1738L22.9806 14.3643H23.8163L26.5083 8.09179H25.6374Z" fill="#3C4043"></path>
            <path d="M12.2441 9.37779C12.2441 9.12877 12.2241 8.87975 12.184 8.6358H8.78271V10.0436H10.7313C10.6512 10.4959 10.3907 10.9024 10.01 11.1565V12.0713H11.1721C11.8534 11.4361 12.2441 10.4959 12.2441 9.37779Z" fill="#4285F4"></path>
            <path d="M8.78287 12.9555C9.75467 12.9555 10.5762 12.6302 11.1723 12.0712L10.0101 11.1564C9.68454 11.38 9.26877 11.5071 8.78287 11.5071C7.84112 11.5071 7.04464 10.8616 6.75911 9.99768H5.56189V10.943C6.17302 12.1779 7.42034 12.9555 8.78287 12.9555Z" fill="#34A853"></path>
            <path d="M6.75925 9.99777C6.60894 9.54546 6.60894 9.05249 6.75925 8.5951V7.65491H5.56183C5.04579 8.68658 5.04579 9.90629 5.56183 10.938L6.75925 9.99777Z" fill="#FBBC04"></path>
            <path d="M8.78287 7.08565C9.29882 7.07549 9.79474 7.27369 10.1654 7.63452L11.1973 6.5876C10.5411 5.96758 9.67953 5.62708 8.78287 5.63725C7.42034 5.63725 6.17302 6.41989 5.56189 7.65485L6.75911 8.60012C7.04464 7.73108 7.84112 7.08565 8.78287 7.08565Z" fill="#EA4335"></path>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
            <rect x="0.346558" y="0.000610352" width="31.67" height="20" rx="3" fill="white"></rect>
            <rect x="0.846558" y="0.50061" width="30.67" height="19" rx="2.5" stroke="black" stroke-opacity="0.07"></rect>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.25926 6.75928C8.99941 7.0608 8.59619 7.28694 8.184 7.25343C8.13024 6.85979 8.33633 6.43264 8.5693 6.17299C8.8202 5.87148 9.26822 5.65371 9.6356 5.63696C9.68041 6.05574 9.51016 6.45776 9.25926 6.75928Z" fill="black"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.62664 7.33719C9.26822 7.31206 8.93669 7.4377 8.67683 7.5382C8.50658 7.60521 8.35425 7.66383 8.24673 7.66383C8.12128 7.66383 7.96895 7.60521 7.7987 7.5382C7.58365 7.45445 7.33276 7.35394 7.06394 7.36232C6.45463 7.37069 5.89012 7.70571 5.5765 8.24174C4.94031 9.31381 5.40625 10.8968 6.02452 11.7678C6.32918 12.2034 6.69656 12.6724 7.17147 12.6556C7.37756 12.6473 7.52989 12.5886 7.69118 12.5216C7.87039 12.4462 8.05856 12.3709 8.35425 12.3709C8.63203 12.3709 8.81124 12.4462 8.99045 12.5216C9.14278 12.5886 9.2951 12.6556 9.52808 12.6473C10.0209 12.6389 10.3345 12.2117 10.6392 11.7846C10.9618 11.3239 11.1051 10.8717 11.132 10.7963V10.7879C11.132 10.7879 11.123 10.7879 11.123 10.7795C11.0155 10.7293 10.1822 10.3607 10.1732 9.36406C10.1643 8.52651 10.8363 8.09936 10.9438 8.03236C10.9528 8.03236 10.9528 8.02398 10.9528 8.02398C10.5227 7.42094 9.85962 7.35394 9.62664 7.33719Z" fill="black"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5407 6.13135H13.0497V12.6056H14.0801V10.3861H15.5049C16.8131 10.3861 17.7271 9.51505 17.7271 8.25035C17.7271 6.98565 16.831 6.13135 15.5407 6.13135ZM15.2719 9.54855H14.0801V6.97727H15.2719C16.1679 6.97727 16.6787 7.4463 16.6787 8.25873C16.6787 9.07115 16.1679 9.54855 15.2719 9.54855Z" fill="black"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1643 7.84833C19.0711 7.84833 18.2557 8.45974 18.2288 9.29729H19.1607C19.2414 8.89526 19.6177 8.63562 20.1374 8.63562C20.7647 8.63562 21.1231 8.92039 21.1231 9.44805V9.80819L19.8328 9.88357C18.6321 9.95058 17.9869 10.428 17.9869 11.2655C17.9869 12.1031 18.659 12.6642 19.6177 12.6642C20.2629 12.6642 20.8632 12.346 21.141 11.8351H21.1589V12.614H22.1177V9.38104C22.1087 8.45136 21.3471 7.84833 20.1643 7.84833ZM21.1231 10.8468C21.1231 11.4498 20.5944 11.8853 19.8955 11.8853C19.3489 11.8853 18.9994 11.6257 18.9994 11.232C18.9994 10.8216 19.3399 10.5871 19.9761 10.5536L21.1231 10.4866V10.8468Z" fill="black"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2808 12.8569C24.8686 13.9876 24.3937 14.3645 23.3901 14.3645C23.3094 14.3645 23.0586 14.3561 22.9958 14.3393V13.5604C23.0586 13.5688 23.2198 13.5772 23.3005 13.5772C23.7575 13.5772 24.0084 13.3929 24.1697 12.9071L24.2593 12.6224L22.512 7.90695H23.5872L24.8058 11.7262H24.8238L26.0424 7.90695H27.0908L25.2808 12.8569Z" fill="black"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
</footer>

<script defer>
  document.addEventListener('DOMContentLoaded', function () {
    // 获取所有expand-icon元素
    const expandIcons = document.querySelectorAll('.footer .footer-menu .expand-icon');

    // 为每个expand-icon添加点击事件
    expandIcons.forEach(function (icon) {
      icon.addEventListener('click', function () {
        // 获取最近的父元素div.footer-menu-item，然后查找其中的menu-list
        const parentItem = this.closest('.footer-menu-item');
        const menuList = parentItem.querySelector('.menu-list, ul:not(.menu-list)');

        // 切换menu-list的显示状态和图标旋转状态
        if (menuList) {
          menuList.classList.toggle('active');
          this.classList.toggle('active');
        }
      });
    });
  });
</script>

{% schema %}
{
  "name": "Home S Footer",
  "settings": [
    {
      "type": "header",
      "content": "Home Footer"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "links menu"
    },
    {
      "type": "text",
      "id": "address",
      "label": "Address",
      "default": "5080 ROBERT J MATHEWS PKWY B EL DORADO HLLS CALIFORNIA 95762 United States"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone",
      "default": "+001 626 239 3346"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "default": "support@crealityfalcon.com"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright",
      "default": "© Creality Falcon, The United States Official Store. All Rights Reserved."
    },
    {
      "type": "header",
      "content": "社交媒体"
    },
    {
      "type": "text",
      "id": "instagram_link",
      "label": "Instagram链接",
      "default": "https://www.instagram.com/creality3d/"
    },
    {
      "type": "text",
      "id": "pinterest_link",
      "label": "Pinterest链接",
      "default": "https://www.pinterest.com/creality3d/"
    },
    {
      "type": "text",
      "id": "tiktok_link",
      "label": "TikTok链接",
      "default": "https://www.tiktok.com/@crealityofficial?spm=..index.footer_1.1"
    },
    {
      "type": "text",
      "id": "facebook_link",
      "label": "Facebook链接",
      "default": "https://www.facebook.com/Creality3d"
    },
    {
      "type": "text",
      "id": "youtube_link",
      "label": "YouTube链接",
      "default": "https://www.youtube.com/c/Creality3D"
    },
    {
      "type": "text",
      "id": "twitter_link",
      "label": "Twitter链接",
      "default": "https://twitter.com/Creality3dP"
    }
  ],
  "presets": [
    {
      "name": "Home S Footer"
    }
  ]
}
{% endschema %}
