<style>
  /**
 * Swiper 5.3.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://swiperjs.com
 *
 * Copyright 2014-2020 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 8, 2020
 */
@font-face{font-family:swiper-icons;src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}:root{--swiper-navigation-size:44px}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:calc(var(--swiper-navigation-size)/ 44 * 27);height:var(--swiper-navigation-size);margin-top:calc(-1 * var(--swiper-navigation-size)/ 2);z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--swiper-navigation-color,var(--swiper-theme-color))}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-next:after,.swiper-button-prev:after{font-family:swiper-icons;font-size:var(--swiper-navigation-size);text-transform:none!important;letter-spacing:0;text-transform:none;font-variant:initial}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:10px;right:auto}.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after{content:'prev'}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{content:'next'}.swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white{--swiper-navigation-color:#ffffff}.swiper-button-next.swiper-button-black,.swiper-button-prev.swiper-button-black{--swiper-navigation-color:#000000}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white{--swiper-pagination-color:#ffffff}.swiper-pagination-black{--swiper-pagination-color:#000000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;transform-origin:50%;animation:swiper-preloader-spin 1s infinite linear;box-sizing:border-box;border:4px solid var(--swiper-preloader-color,var(--swiper-theme-color));border-radius:50%;border-top-color:transparent}.swiper-lazy-preloader-white{--swiper-preloader-color:#fff}.swiper-lazy-preloader-black{--swiper-preloader-color:#000}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0px;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}


 #container-{{section.id}} {
  width: 100%;
  font-family: "Montserrat-Regular";
  font-size: 0;
  line-height: 1;
  background-color: #000;
}
#container-{{section.id}} * {
  box-sizing: border-box;
}
#container-{{section.id}} .mb {
  display: none;
}
#container-{{section.id}} img {
  width: 100%;
  height: auto;
}
#container-{{section.id}} a {
  text-decoration: none;
}
#container-{{section.id}} .bold {
  font-family: Montserrat-Bold;
  font-weight: bold;
}
#container-{{section.id}} .fontBold {
  font-family: Montserrat-Bold;
  font-weight: bold;
}
#container-{{section.id}} .title_pic {
  position: relative;
}
#container-{{section.id}} .title_pic img {
  width: 100%;
  height: auto;
}
#container-{{section.id}} .title_pic .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: Montserrat-Bold;
  text-align: center;
  font-weight: bold;
  font-size: 2.27vw;
  color: #00d3ef;
}
#container-{{section.id}} iframe{
  width: 100%;
  height: 100%;
}
#container-{{section.id}} .section1 {
  width: 100%;
  min-height: 29vw;
  position: relative;
}
#container-{{section.id}} .section2 {
  background-color: #0d0d0d;
  height: 6.25vw;
  position: sticky;
  top: 0;
  z-index: 999;
}
#container-{{section.id}} .section2 .link_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 7vw;
}
#container-{{section.id}} .section2 .link_wrap .link_item {
  font-size: 1.33vw;
  font-family: Medium;
  font-weight: 500;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
#container-{{section.id}} .section2 .link_wrap .link_item img {
  max-width: inherit;
  width: 150%;
  position: absolute;
  top: 50%;
  transform: translate(-45%, -50%);
  left: 50%;
  margin-top: 1.5vw;
}
#container-{{section.id}} .section2 .link_wrap .link_item img {
  display: none;
}
#container-{{section.id}} .section2 .link_wrap .link_item:hover img {
  display: inline-block;
}
#container-{{section.id}} .section3 {
  min-height: 33vw;
}
#container-{{section.id}} .section3 .flash_wrap {
  position: relative;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 3vw;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap .text1 {
  font-size: 1.64vw;
  color: #fff;
  font-family: Montserrat-Bold;
  font-weight: 600;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap .time-wrap {
  margin-left: 1vw;
  display: flex;
  line-height: 1;
  font-size: 2.03vw;
  align-items: center;
  gap: 0.6vw;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap .time-wrap span {
  color: #fff;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap .time-wrap .time-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 3.6vw;
  height: 3.6vw;
  background: #fff;
  font-weight: bold;
  color: #111111;
  line-height: 1;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box {
  width: 50vw;
  margin: 0 auto;
  margin-top: 2.6vw;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap {
  display: flex;
  gap: 0.8vw;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item {
  flex: 1;
  position: relative;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .product_pic {
  width: 100%;
  height: auto;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .discount {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.2vw;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .discount img {
  width: 100%;
  height: auto;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .discount span {
  position: absolute;
  top: 1.7vw;
  width: 100%;
  text-align: center;
  font-size: 1.17vw;
  color: #fff;
  font-weight: 600;
  font-family: Montserrat-Bold;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_detail {
  top: 11.6vw;
  position: absolute;
  width: 100%;
  left: 0;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_detail .sale_price {
  padding-top: 1.4vw;
  display: flex;
  gap: 0.4vw;
  align-items: center;
  justify-content: center;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_detail .sale_price .new_price {
  font-size: 1.17vw;
  color: #000000;
  font-family: Montserrat-Bold;
  font-weight: 600;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_detail .sale_price .old_price {
  font-size: 0.78vw;
  color: #686868;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_progress {
  width: 90%;
  margin: 0 auto;
  margin-top: 0.9vw;
  height: 0.94vw;
  background: #919a90;
  border-radius: 16px;
  position: relative;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_progress .sale_line {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #0fd500;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding-left: 0.5vw;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_progress .sale_line .progress_text {
  font-size: 0.78vw;
  color: #fff;
  white-space: nowrap;
}
#container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_progress .sale_line img {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 0.8vw;
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item {
  margin-bottom: 0.7vw;
  max-height: 4.8vw;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item:last-child {
  margin-bottom: 0;
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item:last-child.check {
  border-bottom: none;
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item.check {
  max-height: 40vw;
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item.check .question {
  background: linear-gradient(4deg, #ff00d2, #ffba41);
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item .question {
  height: 4.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.41vw;
  font-family: Regular;
  font-weight: 400;
  color: #e4e4e4;
  line-height: 1.88vw;
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item .open_wrap {
  position: relative;
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item .open_wrap .open_text {
  font-size: 0.92vw;
  color: #fff;
  width: 40vw;
  margin: 0 auto;
  line-height: 2;
  padding: 2vw 0;
}
#container-{{section.id}} .section3 .drawer_wrap .drawer_item:nth-child(1) .open_wrap .open_text {
  text-align: center;
  width: 100vw;
}
#container-{{section.id}} .section4 {
  min-height: 50vw;
}
#container-{{section.id}} .section4 .gift_wrap {
  position: relative;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .tips_div {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.17vw;
  background: #088FA0;
  border-radius: 36px;
  padding: 1vw 1.8vw;
  color: #fff;
  top: 2.8vw;
  z-index: 3;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box {
  height: 100%;
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift7_icon {
  display: none;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_item {
  position: absolute;
  width: 8vw;
  height: 8vw;
  z-index: 3;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_item img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift1 {
  top: 5.7vw;
  left: 13vw;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift1 .default {
  width: 2.8vw;
  height: auto;
  z-index: 2;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift1 .opened_gift {
  width: 8vw;
  height: auto;
  opacity: 0;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift2 {
  top: 11.7vw;
  left: 37.5vw;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift2 .default {
  width: 2.8vw;
  height: auto;
  z-index: 2;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift2 .opened_gift {
  width: 8vw;
  height: auto;
  opacity: 0;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift3 {
  top: 18.7vw;
  left: 11.5vw;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift3 .default {
  width: 2.8vw;
  height: auto;
  z-index: 2;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift3 .opened_gift {
  width: 8vw;
  height: auto;
  opacity: 0;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift4 {
  top: 31.9vw;
  left: 29.5vw;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift4 .default {
  width: 3.9vw;
  height: auto;
  z-index: 2;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift4 .opened_gift {
  width: 8vw;
  height: auto;
  opacity: 0;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar {
  opacity: 0;
  width: 4vw;
  height: 4vw;
  position: absolute;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  border-radius: 100%;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave {
  background-color: #088FA1;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(1) {
  animation: opac 0.5s ease-in forwards;
  z-index: calc(6 - 1);
  animation-delay: 0.4s-0.4s;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(2) {
  animation: opac 0.6s ease-in forwards;
  z-index: calc(6 - 2);
  animation-delay: 0.8s-0.4s;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(3) {
  animation: opac 0.7s ease-in forwards;
  z-index: calc(6 - 3);
  animation-delay: 1.2s-0.4s;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(4) {
  animation: opac 0.8s ease-in forwards;
  z-index: calc(6 - 4);
  animation-delay: 1.6s-0.4s;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(5) {
  animation: opac 0.9s ease-in forwards;
  z-index: calc(6 - 5);
  animation-delay: 2s-0.4s;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(6) {
  animation: opac 1s ease-in forwards;
  z-index: calc(6 - 6);
  animation-delay: 2.4s-0.4s;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(4) {
  z-index: calc(6 - 4);
  animation: opac 0.88s ease-in forwards;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(5) {
  z-index: calc(6 - 5);
  animation: opac 1s ease-in forwards;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(6) {
  z-index: calc(6 - 6);
  animation: opac 1.12s ease-in forwards;
}
@keyframes opac {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(1, 1);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scale(15, 15);
    opacity: 0;
  }
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .day2 {
  top: 10.4vw;
  left: 26.6vw;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .day4 {
  top: 26.7vw;
  left: 28vw;
}
#container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .day6 {
  top: 39.8vw;
  left: 15.7vw;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap {
  width: 20vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap {
  position: absolute;
  width: 85%;
  height: 11vw;
  top: 5vw;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  padding: 2vw;
  padding-top: 1.5vw;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .title {
  font-size: 1.2vw;
  margin-bottom: 0.8vw;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item {
  flex: 1;
  font-size: 0.75vw;
  margin-top: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  text-align: left;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item img {
  margin-left: 0.5vw;
  width: 1.5vw;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item .gift_code {
  margin-left: 0.5vw;
  color: #00D3EF;
  cursor: pointer;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item span {
  white-space: nowrap;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item .tips {
  font-size: 0.5vw;
  margin-left: 0.2vw;
  margin-top: 0.3vw;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .sign_text {
  width: 100%;
  text-align: left;
  font-size: 0.7vw;
  margin-top: 0.8vw;
  color: #fff;
  line-height: 1.6;
}
#container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .close_btn {
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 2.8vw;
  bottom: 2.4vw;
  left: 50%;
  transform: translateX(-50%);
}
#container-{{section.id}} .section5 {
  position: relative;
  min-height: 30vw;
}
#container-{{section.id}} .section5 .abs_div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#container-{{section.id}} .section5 .abs_div .s5_pic {
  width: 50vw;
  margin: 0 auto;
  position: relative;
}
#container-{{section.id}} .section5 .abs_div .s5_pic a {
  position: absolute;
  width: 7.5vw;
  height: 1.9vw;
  left: 31vw;
  top: 16.7vw;
  z-index: 2;
}
#container-{{section.id}} .section5 .abs_div .s5_pic .saleText {
  position: absolute;
  z-index: 99;
  top: 0vw;
  left: 22.1vw;
  color: #fff;
  width: 6.5vw;
  height: 4vw;
  background-color: #E10D0A;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
#container-{{section.id}} .section5 .abs_div .s5_pic .saleText .tips_text {
  font-size: 1.2vw;
}
#container-{{section.id}} .section5 .abs_div .s5_pic .saleText .text {
  font-size: 1.7vw;
  margin-top: 0.4vw;
}
#container-{{section.id}} .section5 .video_section {
  display: flex;
  justify-content: center;
  margin-top: 2.6vw;
}
#container-{{section.id}} .section5 .video_section .video_wrap {
  position: relative;
  width: 50vw;
  cursor: pointer;
  min-height: 20vw;
}
#container-{{section.id}} .section5 .video_section .video_wrap .play_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3.44vw;
  cursor: pointer;
  height: 3.2vw;
}
#container-{{section.id}} .section5 .video_section .video_wrap .play_btn img {
  width: 100%;
  height: 100%;
}
#container-{{section.id}} .section6 {
  min-height: 38vw;
  position: relative;
}
#container-{{section.id}} .section6 .abs_div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#container-{{section.id}} .section6 .abs_div .title_pic img {
  opacity: 0;
}
#container-{{section.id}} .section6 .abs_div .s6_pic2 {
  width: 50vw;
  margin: 0 auto;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
  margin: 0 auto;
  margin-top: 1.68vw;
  padding-top: 1.8vw;
  padding-bottom: 1.3vw;
  width: 50vw;
  border: 1px solid #00d3ef;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap .swiper-tablist {
  display: flex;
  width: 18vw;
  height: 2.1vw;
  border-radius: 32px;
  overflow: hidden;
  background-color: #656565;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap .swiper-tablist .swiper-tabitem {
  cursor: pointer;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.02vw;
  color: #fff;
  border-radius: 32px;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap .swiper-tablist .swiper-tabitem.slide-check {
  background-color: #00D3EF;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper {
  width: 47vw;
  height: 15.7vw;
  margin: 0 auto;
  margin-top: 1.6vw;
  position: relative;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .link-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  width: 62%;
  right: 0.8vw;
  bottom: 0.8vw;
  height: 8vw;
}
#container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .link-item {
  flex: 1;
  height: 100%;
}

#container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
  object-fit: contain;
}
#container-{{section.id}} .section7 {
  min-height: 40vw;
  position: relative;
}
#container-{{section.id}} .section7 .abs_div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#container-{{section.id}} .section7 .abs_div .title_pic img {
  opacity: 0;
}
#container-{{section.id}} .section7 .abs_div .s7_pic2 {
  width: 50vw;
  margin: 0 auto;
  position: relative;
}
#container-{{section.id}} .section7 .abs_div .flex-wrap {
  width: 50vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  gap: 0.5vw;
  margin-top: 3.3vw;
}
#container-{{section.id}} .section7 .abs_div .flex-wrap .flex-item {
  height: 9vw;
  flex: 1;
  background-color: #fff;
}
#container-{{section.id}} .tips_wrap {
  position: relative;
}
#container-{{section.id}} .tips_wrap .abs_div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 6vw 25vw 0 25vw;
  z-index: 2;
}
#container-{{section.id}} .tips_wrap .mtitle {
  font-size: 1.41vw;
  color: #fff;
}
#container-{{section.id}} .tips_wrap .tips_text {
  margin-top: 1.6vw;
  font-size: 0.94vw;
  line-height: 2;
  color: #fff;
}
#container-{{section.id}} .section9 {
  display: none;
}
#container-{{section.id}} .section10 {
  display: none;
}
#container-{{section.id}} .section11 {
  display: none;
}
#container-{{section.id}} .section12 {
  display: none;
}
#container-{{section.id}} .section13 {
  display: none;
}
#container-{{section.id}} .section14 {
  display: none;
}
#container-{{section.id}} .section15 {
  display: none;
}
#container-{{section.id}} .section16 {
  display: none;
}

@media (min-width: 2560px) {
  #container-{{section.id}} .title-1 {
    font-size: 65px;
  }
}
@media (max-width: 768px) {
  #container-{{section.id}} .mb {
    display: block;
  }
  #container-{{section.id}} .title_pic {
    position: relative;
  }
  #container-{{section.id}} .title_pic img {
    width: 100%;
    height: auto;
  }
  #container-{{section.id}} .title_pic .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6.4vw;
  }
  #container-{{section.id}} .section1 {
    width: 100%;
    min-height: 130vw;
    position: relative;
    z-index: 3;
  }
  
  #container-{{section.id}} .section2 {
    height: 16vw;
    margin-top: -2px;
    top: 90px;
  }
  #container-{{section.id}} .section2 .link_wrap {
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: auto;
    padding: 0 3.4vw;
  }
  #container-{{section.id}} .section2 .link_wrap .link_item {
    font-size: 3.2vw;
  }
  #container-{{section.id}} .section2 .link_wrap .link_item img {
    margin-top: 2.5vw;
  }
  #container-{{section.id}} .section3 {
    position: relative;
    margin-top: -2px;
    height: 185vw;
  }
  #container-{{section.id}} .section3 .title_pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 19vw;
  }
  #container-{{section.id}} .section3 .title_pic img {
    opacity: 0;
  }
  #container-{{section.id}} .section3 .flash_wrap {
    height: 100%;
    position: relative;
    position: relative;
  }
  #container-{{section.id}} .section3 .flash_wrap .bg_pic {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 18vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap .text1 {
    font-size: 3.9vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap .time-wrap {
    margin-left: 3vw;
    display: flex;
    line-height: 1;
    font-size: 4.8vw;
    align-items: center;
    gap: 2.6vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap .time-wrap span {
    color: #fff;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .ender_wrap .time-wrap .time-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 7.5vw;
    height: 7.5vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box {
    width: 94vw;
    margin: 0 auto;
    margin-top: 7.5vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.6vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item {
    flex: auto;
    width: 48%;
    position: relative;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .product_pic {
    width: 100%;
    height: auto;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .discount {
    width: 14vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .discount span {
    position: absolute;
    top: 6vw;
    font-size: 3.6vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_detail {
    top: 47vw;
    position: absolute;
    width: 100%;
    left: 0;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_detail .sale_price {
    padding-top: 3.5vw;
    gap: 2vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_detail .sale_price .new_price {
    font-size: 4vw;
    color: #000000;
    font-family: Montserrat-Bold;
    font-weight: 600;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_detail .sale_price .old_price {
    font-size: 2.6vw;
    color: #686868;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_progress {
    width: 90%;
    margin: 0 auto;
    margin-top: 3vw;
    height: 4vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_progress .sale_line {
    padding-left: 2.4vw;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_progress .sale_line .progress_text {
    font-size: 3.2vw;
    color: #fff;
    white-space: nowrap;
  }
  #container-{{section.id}} .section3 .flash_wrap .abs_div .flash_box .flex-wrap .flex-item .sale_progress .sale_line img {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    width: 2.2vw;
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item {
    margin-bottom: 0.7vw;
    max-height: 4.8vw;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item:last-child {
    margin-bottom: 0;
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item:last-child.check {
    border-bottom: none;
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item.check {
    max-height: 40vw;
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item.check .question {
    background: linear-gradient(4deg, #ff00d2, #ffba41);
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item .question {
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.41vw;
    font-family: Regular;
    font-weight: 400;
    color: #e4e4e4;
    line-height: 1.88vw;
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item .open_wrap {
    position: relative;
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item .open_wrap .open_text {
    font-size: 0.92vw;
    color: #fff;
    width: 40vw;
    margin: 0 auto;
    line-height: 2;
    padding: 2vw 0;
  }
  #container-{{section.id}} .section3 .drawer_wrap .drawer_item:nth-child(1) .open_wrap .open_text {
    text-align: center;
    width: 100vw;
  }
  #container-{{section.id}} .section4 {
    margin-top: -2px;
    min-height: 130vw;
  }
  #container-{{section.id}} .section4 .title_pic {
    height: 25vw;
  }
  #container-{{section.id}} .section4 .title_pic .text {
    line-height: 1.2;
  }
  #container-{{section.id}} .section4 .title_pic img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #container-{{section.id}} .section4 .gift_wrap {
    margin-top: -2px;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .tips_div {
    font-size: 3.2vw;
    padding: 2.5vw 5.4vw;
    top: 8.5vw;
    z-index: 3;
    width: 80%;
    line-height: 1.4;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .tips_div .log_text {
    text-align: center;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_item {
    position: absolute;
    width: 20vw;
    height: 20vw;
    z-index: 3;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_item img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift1 {
    top: 18.5vw;
    left: 21vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift1 .default {
    width: 7vw;
    height: auto;
    z-index: 2;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift1 .opened_gift {
    width: 20vw;
    height: auto;
    opacity: 0;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift2 {
    top: 32vw;
    left: 76.5vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift2 .default {
    width: 7vw;
    height: auto;
    z-index: 2;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift2 .opened_gift {
    width: 20vw;
    height: auto;
    opacity: 0;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift3 {
    top: 48vw;
    left: 18vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift3 .default {
    width: 7vw;
    height: auto;
    z-index: 2;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift3 .opened_gift {
    width: 20vw;
    height: auto;
    opacity: 0;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift4 {
    top: 77vw;
    left: 59vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift4 .default {
    width: 9.8vw;
    height: auto;
    z-index: 2;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift4 .opened_gift {
    width: 20vw;
    height: auto;
    opacity: 0;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar {
    opacity: 0;
    width: 10vw;
    height: 10vw;
    position: absolute;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 100%;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave {
    background-color: #088FA1;
    border-radius: 100%;
    width: 10%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(1) {
    animation: opac 0.5s ease-in forwards;
    z-index: calc(6 - 1);
    animation-delay: 0.4s-0.4s;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(2) {
    animation: opac 0.6s ease-in forwards;
    z-index: calc(6 - 2);
    animation-delay: 0.8s-0.4s;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(3) {
    animation: opac 0.7s ease-in forwards;
    z-index: calc(6 - 3);
    animation-delay: 1.2s-0.4s;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(4) {
    animation: opac 0.8s ease-in forwards;
    z-index: calc(6 - 4);
    animation-delay: 1.6s-0.4s;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(5) {
    animation: opac 0.9s ease-in forwards;
    z-index: calc(6 - 5);
    animation-delay: 2s-0.4s;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(6) {
    animation: opac 1s ease-in forwards;
    z-index: calc(6 - 6);
    animation-delay: 2.4s-0.4s;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(4) {
    z-index: calc(6 - 4);
    animation: opac 0.88s ease-in forwards;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(5) {
    z-index: calc(6 - 5);
    animation: opac 1s ease-in forwards;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .gift_radar .radar-btn .radar-wave.radar-animate:nth-child(6) {
    z-index: calc(6 - 6);
    animation: opac 1.12s ease-in forwards;
  }
  @keyframes opac {
    0% {
      transform: translate3d(-50%, -50%, 0) scale(1, 1);
      opacity: 0.8;
    }
    100% {
      transform: translate3d(-50%, -50%, 0) scale(15, 15);
      opacity: 0;
    }
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .day2 {
    top: 30.5vw;
    left: 52.5vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .day4 {
    top: 67vw;
    left: 55.5vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .abs_div .gift_box .day6 {
    top: 96.5vw;
    left: 28vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap {
    width: 80vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap {
    position: absolute;
    width: 85%;
    height: 44vw;
    top: 20vw;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding-top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
    padding: 8vw;
    padding-top: 6vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .title {
    font-size: 4.8vw;
    margin-bottom: 3.2vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item {
    flex: 1;
    font-size: 3.2vw;
    margin-top: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    text-align: left;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item img {
    margin-left: 2vw;
    width: 6vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item .gift_code {
    margin-left: 2vw;
    color: #00D3EF;
    cursor: pointer;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item span {
    white-space: nowrap;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .text-item .tips {
    font-size: 2vw;
    margin-left: 0.8vw;
    margin-top: 1.2vw;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .text_wrap .sign_text {
    width: 100%;
    text-align: left;
    font-size: 2.8vw;
    margin-top: 3.2vw;
    color: #fff;
    line-height: 1.6;
  }
  #container-{{section.id}} .section4 .gift_wrap .gift_dialog .gift_wrap .abs_div .close_btn {
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 11.2vw;
    bottom: 9.6vw;
    left: 50%;
    transform: translateX(-50%);
  }
  #container-{{section.id}} .section5 {
    position: relative;
    min-height: 70vw;
  }
  #container-{{section.id}} .section5 .abs_div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  #container-{{section.id}} .section5 .abs_div .s5_pic {
    width: 94vw;
    margin: 0 auto;
    position: relative;
  }
  #container-{{section.id}} .section5 .abs_div .s5_pic a {
    position: absolute;
    width: 14vw;
    height: 4vw;
    left: 58vw;
    top: 31vw;
    z-index: 2;
  }
  #container-{{section.id}} .section5 .abs_div .s5_pic .saleText {
    z-index: 999;
    top: 0;
    left: 42.7vw;
    width: 11vw;
    height: 7vw;
  }
  #container-{{section.id}} .section5 .abs_div .s5_pic .saleText .tips_text {
    font-size: 2vw;
  }
  #container-{{section.id}} .section5 .abs_div .s5_pic .saleText .text {
    font-size: 2.8vw;
    margin-top: 0.8vw;
  }
  #container-{{section.id}} .section5 .video_section {
    display: flex;
    justify-content: center;
    margin-top: 2.6vw;
  }
  #container-{{section.id}} .section5 .video_section .video_wrap {
    position: relative;
    width: 50vw;
    cursor: pointer;
    min-height: 20vw;
  }
  #container-{{section.id}} .section5 .video_section .video_wrap .play_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3.44vw;
    cursor: pointer;
    height: 3.2vw;
  }
  #container-{{section.id}} .section5 .video_section .video_wrap .play_btn img {
    width: 100%;
    height: 100%;
  }
  #container-{{section.id}} .section6 {
    min-height: 90vw;
    position: relative;
  }
  #container-{{section.id}} .section6 .abs_div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  #container-{{section.id}} .section6 .abs_div .title_pic img {
    opacity: 0;
  }
  #container-{{section.id}} .section6 .abs_div .s6_pic2 {
    width: 94vw;
    margin: 0 auto;
  }
  #container-{{section.id}} .section6 .abs_div .swiper-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 7.6vw;
    padding-top: 3.6vw;
    padding-bottom: 2.6vw;
    width: 94vw;
    border: 1px solid #00d3ef;
  }
  #container-{{section.id}} .section6 .abs_div .swiper-wrap .swiper-tablist {
    display: flex;
    width: 35vw;
    height: 4.2vw;
    border-radius: 32px;
    overflow: hidden;
    background-color: #656565;
  }
  #container-{{section.id}} .section6 .abs_div .swiper-wrap .swiper-tablist .swiper-tabitem {
    font-size: 2.1vw;
  }
  #container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper {
    width: 89vw;
    height: 30vw;
    margin: 0 auto;
    margin-top: 3vw;
    position: relative;
  }
  #container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  #container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .link-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1.2vw;
    width: 62%;
    right: 1.6vw;
    bottom: 1vw;
    height: 15vw;
  }
  #container-{{section.id}} .section6 .abs_div .swiper-wrap .s5_swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: contain;
    object-fit: contain;
  }
  #container-{{section.id}} .section7 {
    position: relative;
    height: 250vw;
    margin-top: -2vw;
  }
  #container-{{section.id}} .section7 .bg_pic {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #container-{{section.id}} .section7 .abs_div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  #container-{{section.id}} .section7 .abs_div .title_pic img {
    opacity: 0;
  }
  #container-{{section.id}} .section7 .abs_div .s7_pic2 {
    width: 94vw;
    margin: 0 auto;
    position: relative;
  }
  #container-{{section.id}} .section7 .abs_div .flex-wrap {
    width: 94vw;
    gap: 4vw;
    margin-top: 5vw;
    flex-direction: column;
  }
  #container-{{section.id}} .section7 .abs_div .flex-wrap .flex-item {
    width: 100%;
    height: 52vw;
    flex: auto;
  }
  #container-{{section.id}} .tips_wrap {
    position: relative;
  }
  #container-{{section.id}} .tips_wrap .abs_div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 12vw 4vw 0 4vw;
    z-index: 2;
  }
  #container-{{section.id}} .tips_wrap .mtitle {
    font-size: 4.2vw;
    color: #fff;
  }
  #container-{{section.id}} .tips_wrap .tips_text {
    margin-top: 3.6vw;
    font-size: 3vw;
    line-height: 2;
    color: #fff;
  }
  #container-{{section.id}} .section8 {
    display: none;
  }
  #container-{{section.id}} .section9 {
    display: none;
  }
  #container-{{section.id}} .section10 {
    display: none;
  }
  #container-{{section.id}} .section11 {
    display: none;
  }
  #container-{{section.id}} .section12 {
    display: none;
  }
  #container-{{section.id}} .section13 {
    display: none;
  }
  #container-{{section.id}} .section14 {
    display: none;
  }
  #container-{{section.id}} .section15 {
    display: none;
  }
  #container-{{section.id}} .section16 {
    display: none;
  }
}
</style>
<div id="container-{{section.id}}">
  <div class="section1">
      <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_s1_pic1.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s1_pic1.jpg"
          data-sizes="100vw" class="lazyload" alt="Responsive Image" />
      <!-- <a href="#">Shop Now</a> -->
  </div>

  <div class="section2">
      <div class="link_wrap">
          <a href="#" data-target="#flashsale" class="link_item check">
              <span>Flash Sale</span>
              <img class="fit_picture" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_dile_pc_border.png" alt="dile_pc_border.png">
          </a>
          <a href="#" data-target="#sign_in" class="link_item">
              <span>Sign In</span>
              <img class="fit_picture" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_dile_pc_border.png" alt="dile_pc_border.png">
          </a>
          <a href="#" data-target="#buy_more" class="link_item">
              <span>Buy More,<br>Save More</span>
              <img class="fit_picture" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_dile_pc_border.png" alt="dile_pc_border.png">
          </a>
          <a href="#" data-target="#inspiration" class="link_item">
              <span>Inspiration</span>
              <img class="fit_picture" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_dile_pc_border.png" alt="dile_pc_border.png">
          </a>
      </div>

  </div>


  <div class="section3" id="flashsale">
      <div class="title_pic">
          <img class="fit_picture" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_title_bg.jpg" alt="s3_title.png">
          <div class="text">Flash Sale</div>
      </div>
      <div class="flash_wrap">
          <!-- <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s2_pic1.jpg" alt=""> -->
          <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_s2_pic1.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s2_pic1.jpg"
          data-sizes="100vw" class="lazyload bg_pic" alt="Responsive Image" />
          <div class="abs_div">
              <div class="ender_wrap">
                  <div class="text1">ends in <span class="time-item"></span> </div>
                  <div class="time-wrap">
                      <!-- <div class="time-item">04</div> 
                      <span>:</span> -->
                      <div class="time-item">00</div>
                      <span>:</span>
                      <div class="time-item">00</div>
                      <span>:</span>
                      <div class="time-item">00</div>
                  </div>
                  <span class="bold countdown_text"></span>
              </div>
              <div class="flash_box">
                  <div class="flex-wrap">
                      <a href="{{ section.settings.sale1_link | escape }}" target="_blank" class="flex-item">
                          <div class="discount">
                              <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_discount_icon_07ffaa02-f93f-4698-892a-3c855ab40b1b.jpg?v=1711070222" alt="discount_icon.jpg">
                              <span>{{section.settings.sale1_text}}</span>
                          </div>
                          <div class="sale_detail">
                              <div class="sale_price">
                                  <span class="new_price">{{section.settings.sale1_new_price}}</span>
                                  <span class="old_price">{{section.settings.sale1_old_price}}</span>
                              </div>
                              <div class="sale_progress">
                                  <div class="sale_line" style="width: {{section.settings.sale1_progress}}%;">
                                      <span class="progress_text">{{section.settings.sale1_progress}}%</span>
                                      <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_icon3.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <img class="fit_picture product_pic" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_sale1.jpg" alt="">
                      </a>
                      <a href="{{ section.settings.sale2_link | escape }}" target="_blank" class="flex-item">
                          <div class="discount">
                              <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_discount_icon_07ffaa02-f93f-4698-892a-3c855ab40b1b.jpg?v=1711070222" alt="discount_icon.jpg">
                              <span>{{section.settings.sale2_text}}</span>
                          </div>
                          <div class="sale_detail">
                            <div class="sale_price">
                                <span class="new_price">{{section.settings.sale2_new_price}}</span>
                                <span class="old_price">{{section.settings.sale2_old_price}}</span>
                            </div>
                            <div class="sale_progress">
                                <div class="sale_line" style="width: {{section.settings.sale2_progress}}%;">
                                    <span class="progress_text">{{section.settings.sale2_progress}}%</span>
                                      <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_icon3.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <img class="fit_picture product_pic" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_sale2.jpg" alt="">
                      </a>
                      <a href="{{ section.settings.sale3_link | escape }}" target="_blank" class="flex-item">
                          <div class="discount">
                              <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_discount_icon_07ffaa02-f93f-4698-892a-3c855ab40b1b.jpg?v=1711070222" alt="discount_icon.jpg">
                              <span>{{section.settings.sale3_text}}</span>
                          </div>
                          <div class="sale_detail">
                              <div class="sale_price">
                                  <span class="new_price">{{section.settings.sale3_new_price}}</span>
                                  <span class="old_price">{{section.settings.sale3_old_price}}</span>
                              </div>
                              <div class="sale_progress">
                                  <div class="sale_line" style="width: {{section.settings.sale3_progress}}%;">
                                      <span class="progress_text">{{section.settings.sale3_progress}}%</span>
                                      <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_icon3.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <img class="fit_picture product_pic" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_sale3.jpg" alt="">
                      </a>
                      <a href="{{ section.settings.sale4_link | escape }}" target="_blank" class="flex-item">
                          <div class="discount">
                              <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_discount_icon_07ffaa02-f93f-4698-892a-3c855ab40b1b.jpg?v=1711070222" alt="discount_icon.jpg">
                              <span>{{section.settings.sale4_text}}</span>
                          </div>
                          <div class="sale_detail">
                              <div class="sale_price">
                                  <span class="new_price">{{section.settings.sale4_new_price}}</span>
                                  <span class="old_price">{{section.settings.sale4_old_price}}</span>
                              </div>
                              <div class="sale_progress">
                                  <div class="sale_line" style="width: {{section.settings.sale4_progress}}%;">
                                      <span class="progress_text">{{section.settings.sale4_progress}}%</span>
                                      <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_icon3.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <img class="fit_picture product_pic" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_sale4.jpg" alt="">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section4" id="sign_in">
      <div class="title_pic">
          <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_title_bg.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_title_bg.jpg"
          data-sizes="100vw" class="lazyload" alt="Responsive Image" />
          <div class="text">Sign In Continuously <br class="mb">To Get Goodies</div>
      </div>

      <div class="gift_wrap">
          <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_s3_pic1.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s3_pic1.jpg"
          data-sizes="100vw" class="lazyload" alt="Responsive Image" />

          <!-- <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s3_pic1.jpg" alt="" srcset=""> -->
          <div class="abs_div">
              <div class="tips_div">
                  <div class="log_text" style="display: none;">
                      ops, You must log in to <a href="/account/login?return_url=/pages/creality-x-falcon1-0th-anniversary-celebration" style="color: #0FD601; text-decoration: underline;" class="fontBold" target="_blank">sign in.</a> 
                  </div>
              </div>
              <div class="gift_box">
                  <div class="gift_item gift1">
                      <img class="show default day1" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_gift_default.png" alt="gift_default.png">
                      <img class="opened_gift" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_day1_gift.png" alt="gift_default.png">
                  </div>
                  <div class="gift_radar day2">
                      <div class="radar-btn">
                          <div class="radar-wave wave1"></div>
                          <div class="radar-wave wave2"></div>
                          <div class="radar-wave wave3"></div>
                          <div class="radar-wave wave4"></div>
                          <div class="radar-wave wave5"></div>
                          <div class="radar-wave wave6"></div>
                      </div>
                  </div>
                  <div class="gift_item gift2">
                      <img class="show default day3" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_gift_default.png" alt="gift_default.png">
                      <img class="opened_gift" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_day3_gift.png" alt="gift_default.png">
                  </div>
                  <div class="gift_radar day4">
                      <div class="radar-btn">
                          <div class="radar-wave wave1"></div>
                          <div class="radar-wave wave2"></div>
                          <div class="radar-wave wave3"></div>
                          <div class="radar-wave wave4"></div>
                          <div class="radar-wave wave5"></div>
                          <div class="radar-wave wave6"></div>
                      </div>
                  </div>
                  <div class="gift_item gift3">
                      <img class="show default day5" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_gift_default.png" alt="gift_default.png">
                      <img class="opened_gift" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_day5_gift.png" alt="gift_default.png">
                  </div>
                  <div class="gift_radar day6">
                      <div class="radar-btn">
                          <div class="radar-wave wave1"></div>
                          <div class="radar-wave wave2"></div>
                          <div class="radar-wave wave3"></div>
                          <div class="radar-wave wave4"></div>
                          <div class="radar-wave wave5"></div>
                          <div class="radar-wave wave6"></div>
                      </div>
                  </div>
                  <div class="gift_item gift4">
                      <img class="show default day7" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_gift_default2.png" alt="gift_default2.png">
                      <img class="opened_gift" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_day7_gift.png" alt="gift_default.png">
                  </div>
                  <img class="gift7_icon" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_gift7_icon_5898bb8f-ea65-4e59-a27c-00c7c879ebfb.png?v=1711070225" alt="gift_default.png">
              </div>
          </div>
          <div class="gift_dialog">
              <div class="gift_wrap">
                  <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_dialog_success.jpg" alt="">
                  <div class="abs_div">
                      <div class="text_wrap">
                          <div class="title"></div>
                          <!-- Sign in successfully! -->
                          <div class="content">
                              <div class="text-item gift_parent">
                                  <span class="gift_text"></span>

                              </div>
                              <div class="text-item">
                                  <span>Code: </span>
                                  <span class="gift_code"></span>
                                  <span class="tips">(Click to copy)</span>
                              </div>
                          </div>

                          <div class="sign_text"></div>

                      </div>
                      <div class="close_btn"></div>
                  </div>
              </div>

          </div>
      </div>
  </div>



  <div class="section5">
      <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_s5_bg.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s5_bg.jpg"
      data-sizes="100vw" class="lazyload" alt="Responsive Image" />
      <div class="abs_div">
          <div class="title_pic">
              <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_title_bg.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_title_bg.jpg"
              data-sizes="100vw" class="lazyload" alt="Responsive Image" />
              <div class="text">Special Offer For 40W</div>
          </div>
          <div class="s5_pic">
              <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s5_pic.jpg" alt="s5_pic.jpg">
              <div class="saleText ">
                  <div class="tips_text">SAVE</div>
                  <div class="text fontBold">{{section.settings.special_offer_text}}</div>
              </div>
              <a href="{{section.settings.special_offer_learn_more}}" class="learn_more" target="_blank"></a>
          </div>
      </div>
  </div>

  <div class="section6" id="buy_more">
      <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_s2_pic1.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s6_bg.jpg"
      data-sizes="100vw" class="lazyload" alt="Responsive Image" />
      <div class="abs_div">
          <div class="title_pic">
              <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_title_bg.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_title_bg.jpg"
              data-sizes="100vw" class="lazyload" alt="Responsive Image" />
              <div class="text">Buy More, Save More</div>
          </div>
          <div class="s6_pic2">
              <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s6_pic2.png" alt="s6_pic2.png">
          </div>
          <div class="swiper-wrap">
              <div class="swiper-tablist">
                  <div class="swiper-tabitem">Accessory</div>
                  <div class="swiper-tabitem">Materials</div>
              </div>

              <div class="swiper-container s5_swiper">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_s6_pic3.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s6_pic3.jpg"
                              data-sizes="100vw" class="lazyload" alt="Responsive Image" />
                          <div class="link-wrap">
                              <a href="{{section.settings.product_link1}}" class="link-item" target="_blank"></a>
                              <a href="{{section.settings.product_link2}}" class="link-item" target="_blank"></a>
                              <a href="{{section.settings.product_link3}}" class="link-item" target="_blank"></a>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s6_pic4_5b1947fa-cf92-464c-8558-b506d22f34b7.jpg?v=1711337184 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s6_pic4_5b1947fa-cf92-464c-8558-b506d22f34b7.jpg?v=1711337184"
                              data-sizes="100vw" class="lazyload" alt="Responsive Image" />
                            <div class="link-wrap">
                              <a href="{{section.settings.product_link4}}" class="link-item" target="_blank"></a>
                              <a href="{{section.settings.product_link5}}" class="link-item" target="_blank"></a>
                              <a href="{{section.settings.product_link6}}" class="link-item" target="_blank"></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- <div class="switch_wrap">
              <div class="flex-wrap">
                  <div class="flex-item">
                      Accessory
                  </div>
                  <div class="flex-item">
                      Materials
                  </div>
              </div>
              <div class="pic-wrap">
                  <img class="show" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s6_pic3.jpg" alt="s6_pic3.jpg">
                  <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s6_pic4.jpg" alt="s6_pic4.jpg">
              </div>
          </div> -->
      </div>

  </div>


  <div class="section7" id="inspiration">
      <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_s7_bg.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s7_bg.jpg"
      data-sizes="100vw" class="lazyload bg_pic" alt="Responsive Image" />
      <div class="abs_div">
          <div class="title_pic">
              <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_title_bg.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_title_bg.jpg"
              data-sizes="100vw" class="lazyload" alt="Responsive Image" />
              <div class="text">Inspired By</div>
          </div>

          <div class="s7_pic2">
              <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s7_pic2.jpg" alt="s7_pic2.jpg">
          </div>
          <div class="flex-wrap">
              <div class="flex-item">
                  <iframe width="100%" src="https://www.youtube.com/embed/{{ section.settings.youtube_video_id1 }}?rel=0&controls=1&showinfo=0{% if section.settings.autoplay %}&autoplay=1{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="flex-item">
                  <iframe width="100%" src="https://www.youtube.com/embed/{{ section.settings.youtube_video_id2 }}?rel=0&controls=1&showinfo=0{% if section.settings.autoplay %}&autoplay=1{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="flex-item">
                  <iframe width="100%" src="https://www.youtube.com/embed/{{ section.settings.youtube_video_id3 }}?rel=0&controls=1&showinfo=0{% if section.settings.autoplay %}&autoplay=1{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
      </div>

  </div>




  <div class="tips_wrap">
      <img data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_mb_s7_pic1.jpg 768w, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/x_falcon_pc_s7_pic1.jpg"
          data-sizes="100vw" class="lazyload" alt="Responsive Image" />
      <div class="abs_div">
          <div class="mtitle fontBold">Event Details and Terms:</div>
          <div class="tips_text">
              1. Creality X Falcon's 10th Anniversary Promotion runs from April 2nd to April 10th. During this period, customers can enjoy exclusive discounts and a 30-day price guarantee. <br>
              2. Exclusive discounts and the 30-day price guarantee apply only to the engraving machines displayed on the promotional page; accessories and consumables are not covered by the price guarantee. <br>
              3. If you find a lower price on <a href="http://www.crealityfalcon.com" style="color: #00D3F0;" target="_blank">crealityfalcon.com</a> within 30 days of your purchase, Creality Falcon will refund the difference. <br>
              4. All rights reserved by Creality Falcon."							
          </div>
      </div>
  </div>
</div>




<script type="module">
      
  $(function(){
        let email = '';
        let is_login = false;
        {% if customer %}
          is_login = true;
          email = `{{ customer.email }}`;            
        {% else %}
          is_login = false;
        {% endif %}
        let station = 'us'
        let headHref = window.location.href.split('.')[0]
        if(headHref.indexOf('eu') != -1){
          station = 'eu'
        }else if(headHref.indexOf('uk') != -1){
          station = 'uk'
        }


        window.myMessage = function (text) {
            var div = document.createElement('div');
            div.className = 'my-message';
            div.innerHTML = `<div style="position: fixed;transform: translate(-50%,-50%);left: 50%;top: 50%;padding: 20px;font-size: 14px;color: #fff;background-color: rgba(0,0,0,.5);z-index: 999;word-break: keep-all;white-space: nowrap;">${text}</div>`;
            document.body.appendChild(div);
            setTimeout(function () {
                div.style.transition = 'opacity .3s ease';
                div.style.opacity = 0;
            }, 1200)
            setTimeout(function () {
                div.remove();
            }, 2200)
        }

        function copy(text) {
            var textareaEl = document.createElement('textarea');
            textareaEl.setAttribute('readonly', 'readonly'); // 
            // input.setAttribute('value', text);
            textareaEl.value = text;
            document.body.appendChild(textareaEl);
            // input.setSelectionRange(0, 9999);
            textareaEl.select();
            var res = document.execCommand('copy');
            document.body.removeChild(textareaEl);
            console.log("");
            return res;
        }

        const delay = ms => new Promise(res => setTimeout(res, ms));
        gsap.registerPlugin(ScrollToPlugin);
        gsap.registerPlugin(ScrollTrigger)


        $('.radar-wave').toggleClass('radar-animate')

        $('.radar-btn .wave6').on('animationend', async function () {
            $(this).parent().find('.radar-wave').toggleClass('radar-animate');
            await delay(300)
            $(this).parent().find('.radar-wave').toggleClass('radar-animate');
        })

        function giftOpened(day) {
            for (let i = 1; i < day; i++) {
                $(`.day${i}`).hide()
                $(`.day${i}`).parent('.gift_item').find('.opened_gift').css({
                    opacity: .7
                });
            }
        }
        function ajaxPromise(url, options) {
            return new Promise(function(resolve, reject) {
                $.ajax(url, options)
                    .done(function(data) {
                        resolve(data); //  resolve 
                    })
                    .fail(function(xhr, status, error) {
                        reject(error); //  reject 
                    });
            });
        }
       // 

      // 
        function getActivityCountdown(activityStartTime_) {
          // 
          

          // 
          var currentTime = new Date();
          var activityStartTime = activityStartTime_


          // 
          var countdown = Math.max(0, activityStartTime - currentTime);
          var hours = Math.floor(countdown / (1000 * 60 * 60));
          var minutes = Math.floor((countdown % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((countdown % (1000 * 60)) / 1000);

          // 
          var countdownString = ("0" + hours).slice(-2) + "h" + ("0" + minutes).slice(-2) + "m" + ("0" + seconds).slice(-2) + "s";

          return countdownString;
      }

        function updateCountdown() {
            const timeZoneOffsets = {
              'us': 7, //  -7 
              'uk': 1, //  +1 
              'es': 2, //  +2 
              'eu': 1 //  +2 
            };
          
            var currentTime = new Date();
            const activityStartTime = new Date(Date.UTC(2024, 2, 26, 0, 0, 0)); // UTC  3  26  0 
            // const activityStartTime = new Date(Date.UTC(2024, 2, 22, 14, 59, 0)); // UTC  3  26  0 
            
            // const activityStartTime =  new Date(currentTime.getFullYear(), 2, 26, 0, 0, 0); // 3  26  0 
            var timeZoneOffset = timeZoneOffsets[station];

            activityStartTime.setHours(activityStartTime.getHours() + timeZoneOffset);

            var timer = setInterval(function(){
              var currentTime = new Date();
              if (currentTime >= activityStartTime) {
                  clearInterval(timer); // 
                  return getUserData();
              }
              
              let countdownResult = getActivityCountdown(activityStartTime);
              let timeText = "Countdown to Event Start " + countdownResult;
              $('.tips_div').text(timeText)
            }, 1000); //             

            // 

        }
        updateCountdown()
        //
        function updateText(day_num,gift_content,gift_code, already_day_num){
          // 
          if (day_num == 2 || day_num == 4 || day_num == 6) {
              $('.gift_dialog .title').text('Sign in successfully!')
              $('.gift_dialog .content').hide()
          } else {    //
              $('.gift_dialog .title').text('congratulations')

              $('.gift_dialog .gift_text').text(gift_content)
              $('.gift_dialog .gift_code').text(gift_code)

              let gift_img = $(`.day${day_num}`).parent('.gift_item').find('.opened_gift').clone()
              if(day_num === 7) {
                  gift_img = $('.gift7_icon').clone()
              }
              $('.gift_dialog .gift_parent').find('img').remove();
              $('.gift_dialog .gift_parent').append(gift_img)
          }
          let sign_text = `Already signed up for ${already_day_num} days, sign up again for ${7 - already_day_num} days to receive all gifts.`
          if (day_num === 7) {
              sign_text = `Already signed up for 7 days, Congrats on all the gifts!`
          }
          $('.gift_dialog .sign_text').text(sign_text)
          $('.tips_div').text(sign_text)
        }

        async function getUserData() { //          
            if(!is_login) {  //
                return $('.log_text').show()
            }
            
            //
            let userdata = await ajaxPromise('https://bsplugins.creality.com/openapi/dtc/activity/falcon/anniversary/10/signin/pre/count',{
                contentType: 'application/json', //  JSON
                dataType: 'json', //  jQuery  JSON
                data: JSON.stringify({
                    email,
                    station
                }), //  JSON 
                type: 'post'
            })
            userdata = userdata.data
            console.log(userdata)  


        
            let day_num = userdata.countSignInDays,    //
                is_opened = userdata.isSignIn;  //
            let already_day_num = day_num;
            let gift_content = userdata.msg,
                gift_code = userdata.code
            if (is_opened) {  //
                $(`.day${day_num}`).hide();
                $(`.day${day_num}`).parent('.gift_item').find('.opened_gift').css({
                    opacity: 1,
                    cursor: 'pointer'
                });


            } else { //
                day_num = day_num + 1;
                already_day_num = day_num - 1;
                $(`.day${day_num}`).click(async function () { //
                    let userdata = await ajaxPromise('https://bsplugins.creality.com/openapi/dtc/activity/falcon/anniversary/10/signin/pre',{
                        contentType: 'application/json', //  JSON
                        dataType: 'json', //  jQuery  JSON
                        data: JSON.stringify({
                            email,
                            station
                        }), //  JSON 
                        type: 'post'
                    })
                    userdata = userdata.data
                    var day_num = userdata.countSignInDays,    //
                        gift_content = userdata.msg,
                        gift_code = userdata.code
                    updateText(day_num,gift_content,gift_code,day_num); //
                    
                    $('.gift_dialog').fadeIn()

                    $(this).hide();
                    $(this).parent('.gift_item').find('.opened_gift').css({
                        opacity: 1,
                        cursor: 'pointer'
                    });
                })
            }
            
            updateText(day_num,gift_content,gift_code,already_day_num); //



            // 
            $(`.day${day_num}`).css({
                cursor: 'pointer',
                opacity: 1
            })
            

            //
            giftOpened(day_num)


            // 
            $(`.day${day_num}`).parent('.gift_item').find('.opened_gift').click(function () {
                $('.gift_dialog').fadeIn()
            })

            $('.close_btn').click(function () {
                $('.gift_dialog').fadeOut()
            })

            $('.gift_code').click(function () {
                copy($(this).text())
                window.myMessage('Copied')
            })
        }


        var softSwiper = new Swiper('.s5_swiper', {
            allowTouchMove: false // Disable dragging
        });
        $('.swiper-tabitem').eq(0).addClass('slide-check')
        $('.swiper-tabitem').click(function () {

            $('.swiper-tabitem').removeClass('slide-check')
            $(this).addClass('slide-check')

            var index = $(this).index();
            softSwiper.slideTo(index); // Change to the specified slide index
        })

        $('.drawer_item').click(function () {
            $('.drawer_item').removeClass('check')
            $(this).addClass('check')
        })


        function CountdownTimer(endDate) {
            this.endDate = new Date(endDate).getTime();
            this.timeoutId = null;
        }

        CountdownTimer.prototype.calculateTimeLeft = function () {
            const now = new Date().getTime();
            const distance = this.endDate - now;
            return distance < 0 ? 0 : distance;
        };

        CountdownTimer.prototype.start = function (callback) {
            const update = () => {
                const distance = this.calculateTimeLeft();

                if (distance <= 0) {
                    callback(null);
                    return;
                }

                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                callback({
                    days: days,
                    hours: hours,
                    minutes: minutes,
                    seconds: seconds,
                    totalMilliseconds: distance
                });

                // 
                const nextTick = 1000 - (new Date().getTime() % 1000);
                this.timeoutId = setTimeout(update, nextTick);
            };
            update();
        };

        CountdownTimer.prototype.stop = function () {
            clearTimeout(this.timeoutId);
        };
        function padZero(num) {
            if (num < 10) {
                return '0' + num;
            } else {
                return '' + num;
            }
        }

        // API
        const countdown = new CountdownTimer('{{section.settings.endet_time}}'); // 202321500:00
        let day_text = $('.ender_wrap .time-item').eq(0)
        let hours_text = $('.ender_wrap .time-item').eq(1)
        let min_text = $('.ender_wrap .time-item').eq(2)
        let seconds_text = $('.ender_wrap .time-item').eq(3)
        countdown.start((timeLeft) => {
            if (timeLeft) {
                // countdown_text.text(`${timeLeft.days}d:${timeLeft.hours}h:${timeLeft.minutes}m:${timeLeft.seconds}s`)
                day_text.text(padZero(timeLeft.days) + ' days')
                hours_text.text(padZero(timeLeft.hours))
                min_text.text(padZero(timeLeft.minutes))
                seconds_text.text(padZero(timeLeft.seconds))
                // countdown_text.text(`${timeLeft.days}days:${timeLeft.hours}hours:${timeLeft.minutes}minutes:${timeLeft.seconds}seconds`)
                console.log(`Time left:`);
            } else {
                console.log('Countdown finished!');
                countdown.stop();
            }
        });


        $('[data-target]').click(function (e) {
            e.preventDefault();
            // $('.page-pagination li').removeClass('active')
            // $(this).addClass('active')
            let target = $(this).data('target')
            let targetTop = 0;
            document.documentElement.clientWidth < 769? targetTop = 90 : targetTop = 0;
            gsap.to(window, {
                duration: 0.5,
                scrollTo: {
                    y: $(target).offset().top - $('.section2').height() - targetTop,
                }
            });
        })
  })
</script>

{% schema %}
  {
    "name": "x falcon activlity",
    "settings": [
      {
        "type": "text",
        "id": "endet_time",
        "label": "endet in ",
        "default": "2024-04-01T00:00:00+08:00"
      },
      {
        "type": "text",
        "id": "sale1_text",
        "label": "1",
        "default": "-50%"
      },
      {
        "type": "text",
        "id": "sale1_new_price",
        "label": "1",
        "default": "$1,000"
      },
      {
        "type": "text",
        "id": "sale1_old_price",
        "label": "1",
        "default": "$2,000"
      },
      {
        "type": "text",
        "id": "sale1_progress",
        "label": "1",
        "default": "50"
      },
      {
        "type": "text",
        "id": "sale1_link",
        "label": "1",
        "default": "#"
      },
      {
        "type": "text",
        "id": "sale2_text",
        "label": "2",
        "default": "-50%"
      },
      {
        "type": "text",
        "id": "sale2_new_price",
        "label": "2",
        "default": "$1,000"
      },
      {
        "type": "text",
        "id": "sale2_old_price",
        "label": "2",
        "default": "$2,000"
      },
      {
        "type": "text",
        "id": "sale2_progress",
        "label": "2",
        "default": "50"
      },
      {
        "type": "text",
        "id": "sale2_link",
        "label": "2",
        "default": "#"
      },
      {
        "type": "text",
        "id": "sale3_text",
        "label": "3",
        "default": "-50%"
      },
      {
        "type": "text",
        "id": "sale3_new_price",
        "label": "3",
        "default": "$1,000"
      },
      {
        "type": "text",
        "id": "sale3_old_price",
        "label": "3",
        "default": "$2,000"
      },
      {
        "type": "text",
        "id": "sale3_progress",
        "label": "3",
        "default": "50"
      },
      {
        "type": "text",
        "id": "sale3_link",
        "label": "3",
        "default": "#"
      },
      {
        "type": "text",
        "id": "sale4_text",
        "label": "4",
        "default": "-50%"
      },
      {
        "type": "text",
        "id": "sale4_new_price",
        "label": "4",
        "default": "$1,000"
      },
      {
        "type": "text",
        "id": "sale4_old_price",
        "label": "4",
        "default": "$2,000"
      },
      {
        "type": "text",
        "id": "sale4_progress",
        "label": "4",
        "default": "50"
      },
      {
        "type": "text",
        "id": "sale4_link",
        "label": "4",
        "default": "#"
      },
      {
        "type": "text",
        "id": "special_offer_text",
        "label": "special_offer_text",
        "default": "$432"
      },
      {
        "type": "text",
        "id": "special_offer_learn_more",
        "label": "special_offer_learn_more",
        "default": "#"
      },
      {
        "type": "text",
        "id": "product_link1",
        "label": "1-",
        "default": "#"
      },
      {
        "type": "text",
        "id": "product_link2",
        "label": "2-",
        "default": "#"
      },
      {
        "type": "text",
        "id": "product_link3",
        "label": "3-",
        "default": "#"
      },
      {
        "type": "text",
        "id": "product_link4",
        "label": "4-",
        "default": "#"
      },
      {
        "type": "text",
        "id": "product_link5",
        "label": "5-",
        "default": "#"
      },
      {
        "type": "text",
        "id": "product_link6",
        "label": "6-",
        "default": "#"
      },
      
      {
        "type": "text",
        "id": "youtube_video_id1",
        "label": "YouTube Video ID",
        "default": "wsW0C35kXAY"
      },
      {
        "type": "text",
        "id": "youtube_video_id2",
        "label": "YouTube Video ID",
        "default": "MyGbl-_wMGk"
      },
      {
        "type": "text",
        "id": "youtube_video_id3",
        "label": "YouTube Video ID",
        "default": "qaEubZxrSNA"
      }
    ],
    "presets": [
      {
        "name": "x falcon activlity"
      }
    ]
  }
{% endschema %}