<style>
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  #app-{{section.id}} img {
    vertical-align: middle;
  }

  #app-{{section.id}} a {
    text-decoration: none;
  }

  #app-{{section.id}} .common-title {
    text-align: center;
    font-weight: 800;
    font-size: 2.083vw;
    line-height: 1.25em;
    letter-spacing: 0vw;
    font-family: "Plus_Jakarta_Sans,sans-serif";
  }

  #app-{{section.id}} .content {
    width: 62.5vw;
    margin: 0 auto;
  }

  #app-{{section.id}} .section1 {
    position: relative;
    position: relative;
  }
  #app-{{section.id}} .section1 .banner-img {
    width: 100%;
  }

  #app-{{section.id}} .section2 {
    padding: 3.906vw 0;
  }
  #app-{{section.id}} .section2 .time-box {
    text-align: center;
    width: 51.875vw;
    margin: 0 auto;
    background-color: #F4F4F4;
    padding: 2.083vw 1.042vw;
    border-radius: 0.521vw;
  }
  #app-{{section.id}} .section2 .time-box .title {
    font-weight: 800;
    font-size: 1.25vw;
    line-height: 1.2em;
    letter-spacing: 0vw;
    font-family: "Plus_Jakarta_Sans,sans-serif";
    text-transform: uppercase;
  }
  #app-{{section.id}} .section2 .time-box .small-title {
    font-size: 1.042vw;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.4em;
    font-family: Montserrat;
  }
  #app-{{section.id}} .section2 .time-box .small-title {
    margin-top: 1.563vw;
  }
  #app-{{section.id}} .section2 .time-box .count-down {
    margin-top: 2.083vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #app-{{section.id}} .section2 .time-box .count-down .time-item {
    background-color: #ffffff;
    border-radius: 50%;
    border: 0.15625vw solid #ED1F22;
    margin-right: 0.521vw;
    text-align: center;
    padding: 1.042vw;
    width: 5.469vw;
    height: 5.573vw;
  }
  #app-{{section.id}} .section2 .time-box .count-down .time-item .num {
    font-size: 1.888vw;
    font-weight: 700;
    color: #ED1F22;
  }
  #app-{{section.id}} .section2 .time-box .count-down .time-item .date-text {
    font-size: 0.638vw;
    font-weight: 600;
  }

  #app-{{section.id}} .section3 {
    position: relative;
    padding: 3.125vw 0;
    background-color: #FBF8F2;
  }
  #app-{{section.id}} .section3 .content .common-subtitle {
    margin-top: 1.042vw;
    text-align: center;
    font-size: 0.833vw;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
  }
  #app-{{section.id}} .section3 .content .ecom-list {
    margin-bottom: 1.5625vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.521vw;
  }
  #app-{{section.id}} .section3 .content .ecom-list .ecom-core {
    color: #6f6e6e;
    display: flex;
    align-items: center;
  }
  #app-{{section.id}} .section3 .content .ecom-list .ecom-core .ecom-icon {
    margin-right: 1.042vw; 
    width: 32px;
    height: 32px;
  }
  #app-{{section.id}} .section3 .content .ecom-list .ecom-core .ecom--title {
    font-size: 0.833vw;
  }
  #app-{{section.id}} .section3 .content .shop-list {
    margin-top: 1.5625vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.083vw;
    grid-row: auto;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item {
    position: relative;
    border-radius: 0.78125vw;
    overflow: hidden;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .discount {
    position: absolute;
    left: 1.5625vw;
    top: 1.5625vw;
    padding: 0.365vw 0.521vw;
    text-align: center;
    background-color: #DE1D1D;
    border-radius: 1.042vw;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .discount .discount-rate {
    color: #ffffff;
    font-size: 0.625vw;
    font-weight: 600;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-img {
    width: 100%;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info {
    border-radius: 0 0 0.78125vw 0.78125vw;
    background-color: #ffffff;
    padding: 1.042vw;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .shop-title {
    padding: 0.625vw 0 0.833vw 0;
    border-bottom: 0.052vw solid #EBEBEB;
    font-size: 0.9375vw;
    font-family: "Outfit";
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0vw;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .price {
    display: flex;
    align-items: center;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .price .now-price {
    margin-right: 1.042vw;
    color: #e61515;
    font-size: 1.33vw;
    line-height: 1.25em; 
    font-weight: 600;
    font-family: Outfit;
    font-style: normal;
    letter-spacing: 0vw;
    text-decoration: none;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .price .old-price {
    color: #999;
    font-size: 0.833vw;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0vw;
    font-family: "Outfit";
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .buying-point {
    margin-top: 0.833vw;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .buying-point .point-item {
    display: flex;
    font-size: 0.729vw;
    font-weight: 500;
    line-height: 1.2em;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0vw;
    font-family: "Albert Sans";
    margin-bottom: 0.521vw;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .buying-point .point-item .containers-c {
    width: 0.9375vw;
    height: 0.9375vw;
    margin-right: 0.833vw;
    flex-shrink: 0;
    fill: #F1953E;
    stroke: #F1953E;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .b-img {
    width: 80%;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap {
    margin-top: 0.521vw;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap .buy-btn, #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap .buy-out {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0vw;
    font-style: normal;
    font-size: 0.729vw;
    text-decoration: none;
    font-family: Outfit;
    line-height: 1.4em;
    text-transform: none;
    box-shadow: 0 0 rgba(0, 0, 0, 0.3019607843) inset;
    width: 100%;
    height: 2.1875vw;
    min-height: 2.1875vw;
    color: #fff;
    background-color: #de7214;  
    border-style: solid;
    border-width: 1px;
    border-radius: 2.604vw;
    transition-duration: 0.3s;
    padding: 0.521vw;
    margin: 0; 
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap .buy-btn:hover {
    background-color: #ffffff;
    color: #de7214;
    border-color: #de7214;
  }
  #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap .buy-out {
    display: none;
    background-color: #d5d3d3;
  }

  #app-{{section.id}} .section4 {
    position: relative;
    padding: 3.125vw 0;
  }
  #app-{{section.id}} .section4 .content {
    position: relative;
    border: 0.104vw solid #c1c1c1;
    padding: 1.042vw;
  }
  #app-{{section.id}} .section4 .content .left-title {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 5.208vw;
    padding: 0 1.042vw;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.25em;
    letter-spacing: 0vw;
    font-family: "Outfit";
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  #app-{{section.id}} .section4 .content .small-count-down {
    position: absolute;
    right: 2.604vw;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    padding: 0 1.042vw;
    background-color: #ffffff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  #app-{{section.id}} .section4 .content .small-count-down .time-item {
    color: #DE1D1D;
    font-size: 1.25vw;
    font-weight: 600;
  }
  #app-{{section.id}} .section4 .content .small-count-down .time-item::after {
    content: ":";
    margin-right: 0.521vw;
  }
  #app-{{section.id}} .section4 .content .small-count-down .time-item:last-child::after {
    display: none;
  }
  #app-{{section.id}} .section4 .content .shop-list {
    margin-top: 1.5625vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.083vw;
    grid-row: auto;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item {
    position: relative;
    border-radius: 0.78125vw;
    overflow: hidden;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .slod-out-tag {
    position: absolute;
    left: 1.042vw;
    top: 1.042vw;
    padding: 0.26vw 1.042vw;
    text-align: center;
    background-color: #000000;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    color: #ffffff;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-img {
    width: 100%;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info {
    border-radius: 0 0 0.78125vw 0.78125vw;
    background-color: #ffffff;
    padding: 1.042vw;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .star-wrap {
    display: flex;
    justify-content: center;
    font-size: 0.833vw;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .star-wrap .image-picture {
    margin-right: 0.417vw;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .shop-title {
    padding: 0.625vw 0 0.833vw 0;
    font-size: 0.9375vw;
    font-family: "Outfit";
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0vw;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .price {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .price .now-price {
    margin-right: 1.25vw;
    color: #e61515;
    font-size: 1.042vw;
    line-height: 1.25em;
    font-weight: 600;
    font-family: "Outfit";
    font-style: normal;
    letter-spacing: 0vw;
    text-decoration: none;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .shipping {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .price .old-price {
    color: #999;
    font-size: 0.833vw;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0vw;
    font-family: "Outfit";
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap {
    margin-top: 0.521vw;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap .add-cart, #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap .buy-out {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0vw;
    font-style: normal;
    font-size: 0.833vw;
    text-decoration: none;
    font-family: Poppins;
    line-height: 1.4em;
    box-shadow: 0 0 rgba(0, 0, 0, 0.3019607843) inset;
    width: 100%;
    height: 2.917vw;
    min-height: 2.917vw;
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 0.104vw;
    border-color: #000;
    border-radius: 1.042vw;
    transition-duration: 0.3s;
    padding: 0.521vw 1.667vw;
    margin: 0;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap .add-cart:hover {
    color: #db3737;
    background-color: #fff;
  }
  #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap .buy-out {
    display: none;
    background-color: #d5d3d3;
  }

  #app-{{section.id}} .section5 {
    padding: 3.125vw 0;
    position: relative;
  }
  #app-{{section.id}} .section5 .content .video-shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.833vw;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item {
    position: relative;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .video {
    width: 100%;
    border-radius: 1.042vw;
    -webkit-border-radius: 1.042vw;
    -moz-border-radius: 1.042vw;
    -ms-border-radius: 1.042vw;
    -o-border-radius: 1.042vw;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop {
    background-color: #ffffff;
    border-radius: 0.625vw;
    position: absolute;
    display: flex;
    bottom: 1.5625vw;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .discount {
    position: absolute;
    top: 0;
    left: 1.042vw;
    align-self: flex-start;
    font-size: 0.573vw;
    font-weight: 500;
    font-family: Inter;
    height: 1.146vw;
    min-height: 1.146vw;
    color: #fff;
    background-color: #ba1e1e;
    border-radius: 0.15625vw;
    padding: 0.26vw 0.78125vw 0.26vw 0.26vw;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop {
    padding: 1.042vw;
    display: flex;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .img-wrap {
    cursor: pointer;
    margin-right: 1.042vw;
    flex-shrink: 0;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .img-wrap .shop-img {
    border: 0.052vw solid #c1c1c1;
    width: 5.208vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .shop-title {
    cursor: pointer;
    font-size: 0.9375vw;
    text-decoration: none;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    line-height: 1.3em;
    letter-spacing: 0vw;
    font-family: "Questrial";
    margin-bottom: 0.521vw;
    transition: 0.3s;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .shop-title :hover {
    color: #e289d4;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price {
    display: flex;
    align-items: center;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price .now-price {
    font-size: 0.9375vw;
    font-weight: 700;
    color: #f53b3b;
    border-radius: 0;
    margin-right: 0.521vw;
    padding: 0;
    font-family: "Questrial,sans-serif";
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price .old-price {
    text-decoration: line-through;
    color: #777777;
    font-size: 0.729vw;
    font-weight: 400;
    font-family: "Questrial";
    text-transform: none;
    font-style: normal;
    line-height: 1.25em;
    letter-spacing: 0vw;
  }

  #app-{{section.id}} .section6 .content .up-number {
    margin-top: 4.167vw;
    height: 12.031vw;
    background: url("https://cdn.shopifycdn.net/s/files/1/0623/8303/0317/files/ecom-no-replace-dkmBtXWr5xecom-no-replace-12.png?v=1719222356") no-repeat scroll center center/cover #dbba66;
  }
  #app-{{section.id}} .section6 .content .up-number .numbers {
    display: flex;
    justify-content: space-between;
    padding: 1.5625vw 5.208vw 2.083vw; 
  }
  #app-{{section.id}} .section6 .content .up-number .numbers .number-item {
    flex: 1;
    padding: 1.042vw;
    text-align: center;
  }
  #app-{{section.id}} .section6 .content .up-number .numbers .number-item .number, #app-{{section.id}} .section6 .content .up-number .numbers .number-item .n-text {
    font-family: "Cormorant_SC";
    font-size: 3.333vw;
    font-weight: 500;
    line-height: 1.2em;
    color: #fff;
    padding: 0 0 0.521vw;
  }
  #app-{{section.id}} .section6 .content .up-number .numbers .number-item .text {
    color: #ffffff;
    font-family: "Nunito_Sans";
    font-size: 1.042vw;
    font-weight: 600;
    line-height: 1.75em;
  }

  @media (min-width: 768px) {
    #app-{{section.id}} .pc {
      display: block;
    }
    #app-{{section.id}} .mb {
      display: none;
    }
  }
  @media (max-width: 768px) {
    #app-{{section.id}} .pc {
      display: none;
    }
    #app-{{section.id}} .mb {
      display: block;
    }
    #app-{{section.id}}  .common-title {
      padding: 0 4.267vw;
      text-align: center; 
      font-size: 5.467vw;
      color: #000000;
      font-weight: 600;
      margin-bottom: 4.267vw;
    }
    #app-{{section.id}} .containers .common-subtitle {
      padding: 0 4.267vw;
      font-size: 3.733vw;
      color: #666666;
      font-weight: 400;
      text-align: center;
    }
    #app-{{section.id}} .containers .listing1, #app-{{section.id}} .containers .listing2 {
      display: none;
    }
    #app-{{section.id}} .containers .listing1.checked, #app-{{section.id}} .containers .listing2.checked {
      display: block;
    }
    #app-{{section.id}} .containers .view-btn {
      margin: 0 auto;
      margin-top: 0.521vw;
      font-size: 4.042vw;
      text-decoration: underline;
      display: flex;
      color: #93D500;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      border-radius: 1.563vw;
      height: 2.604vw;
      cursor: pointer;
    }
    #app-{{section.id}} .containers .hidden {
      display: none;
    }
    #app-{{section.id}} .containers .icon-box {
      background-color: #FFA018;
      border-radius: 4vw;
      padding: 2.667vw 0;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8vw;
    }
    #app-{{section.id}} .containers .icon-box .icon-box-mb {
      display: flex;
      width: 100%;
      margin-bottom: 2.667vw;
    }
    #app-{{section.id}} .containers .icon-box .icon-box-mb .icon-item {
      width: 50%;
    }
    #app-{{section.id}} .containers .icon-box .icon-item {
      cursor: pointer;
      flex: 1;
    }
    #app-{{section.id}} .containers .icon-box .icon-item.active {
      color: #02B95D;
    }
    #app-{{section.id}} .containers .icon-box .icon-item img {
      width: 21.333vw;
    }
    #app-{{section.id}} .containers .icon-box .icon-item .text-title {
      font-weight: 600;
      color: #FFC878;
      font-size: 3.433vw;
      text-align: center;
    }
    #app-{{section.id}} .containers .icon-box .icon-item .text-title.active {
      color: #ffffff;
    }
    #app-{{section.id}} .content {
      width: 100%;
      margin: 0 auto;
      padding: 0 4.267vw;
      box-sizing: border-box;
    }
    #app-{{section.id}} .section1 {
      position: relative;
      position: relative;
    }
    #app-{{section.id}} .section1 .banner-img {
      width: 100%;
    }
    #app-{{section.id}} .section2 {
      padding: 3.906vw 0;
    }
    #app-{{section.id}} .section2 .time-box {
      width: 100%;
      padding: 10.667vw 5.333vw;
    }
    #app-{{section.id}} .section2 .time-box .title {
      font-size: 5.333vw;
      font-family: "Plus_Jakarta_Sans,sans-serif";
      text-transform: uppercase;
    }
    #app-{{section.id}} .section2 .time-box .small-title {
      font-size: 4.267vw;
      font-family: Montserrat;
      margin-top: 5.333vw;
    }
    #app-{{section.id}} .section2 .time-box .count-down {
      margin-top: 2.083vw;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    #app-{{section.id}} .section2 .time-box .count-down .time-item {
      border: 0.533vw solid #ED1F22;
      margin-right: 4.267vw;
      text-align: center;
      padding: 1.042vw;
      width: 15.469vw;
      height: 15.573vw;
    }
    #app-{{section.id}} .section2 .time-box .count-down .time-item:last-child {
      margin-right: 0;
    }
    #app-{{section.id}} .section2 .time-box .count-down .time-item .num {
      font-size: 6.188vw;
    }
    #app-{{section.id}} .section2 .time-box .count-down .time-item .date-text {
      font-size: 2.638vw;
    }
    #app-{{section.id}} .section3 {
      padding: 16vw 0;
    }
    #app-{{section.id}} .section3 .content .common-subtitle {
      margin-top: 1.042vw;
      text-align: center;
      font-size: 3.733vw;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      line-height: 1.2em;
    }
    #app-{{section.id}} .section3 .content .ecom-list {
      margin-bottom: 8vw;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2.667vw;
    }
    #app-{{section.id}} .section3 .content .ecom-list .ecom-core {
      color: #6f6e6e;
      display: flex;
      align-items: center;
    }
    #app-{{section.id}} .section3 .content .ecom-list .ecom-core .ecom-icon {
      margin-right: 5.333vw;
    }
    #app-{{section.id}} .section3 .content .ecom-list .ecom-core .ecom--title {
      font-size: 3.833vw;
    } 
    #app-{{section.id}} .section3 .content .shop-list {
      margin-top: 8vw;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10.667vw;
      grid-row: auto;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item {
      position: relative;
      border-radius: 4vw;
      overflow: hidden;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .discount {
      position: absolute;
      left: 8vw;
      top: 8vw;
      padding: 1.867vw 2.667vw;
      text-align: center;
      background-color: #DE1D1D;
      border-radius: 5.333vw;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .discount .discount-rate {
      color: #ffffff;
      font-size: 3.2vw;
      font-weight: 600;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-img {
      width: 100%;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info {
      border-radius: 0 0 4vw 4vw;
      background-color: #ffffff;
      padding: 5.333vw;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .shop-title {
      padding: 3.2vw 0 4.267vw 0;
      border-bottom: 0.267vw solid #EBEBEB;
      font-size: 4.8vw;
      font-family: "Outfit";
      font-weight: 600;
      line-height: 1.25em;
      letter-spacing: 0vw;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .price {
      display: flex;
      align-items: center;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .price .now-price {
      margin-right: 5.333vw;
      color: #e61515;
      font-size: 4.267vw;
      line-height: 1.25em;
      font-weight: 600;
      font-family: Outfit;
      font-style: normal;
      letter-spacing: 0vw;
      text-decoration: none;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .price .old-price {
      color: #999;
      font-size: 4.267vw;
      font-weight: 600;
      line-height: 1.25em;
      letter-spacing: 0vw;
      font-family: "Outfit";
      font-style: normal;
      text-decoration: line-through;
      text-transform: none;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .buying-point {
      margin-top: 4.267vw;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .buying-point .point-item {
      display: flex;
      font-size: 3.733vw;
      font-weight: 500;
      line-height: 1.2em;
      text-decoration: none;
      font-style: normal;
      text-transform: none;
      letter-spacing: 0vw;
      font-family: "Albert Sans";
      margin-bottom: 2.667vw;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .buying-point .point-item .containers-c {
      width: 4.8vw;
      height: 4.8vw;
      margin-right: 4.267vw;
      flex-shrink: 0;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .b-img {
      width: 80%;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap {
      margin-top: 2.667vw;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap .buy-btn, #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap .buy-out {
      cursor: pointer;
      text-align: center;
      justify-content: center;
      font-weight: 600;
      letter-spacing: 0vw;
      font-style: normal;
      font-size: 3.733vw;
      text-decoration: none;
      font-family: Outfit;
      line-height: 1.4em;
      text-transform: none;
      box-shadow: 0 0 rgba(0, 0, 0, 0.3019607843) inset;
      width: 100%;
      height: 11.2vw;
      min-height: 11.2vw;
      color: #fff;
      background-color: #de7214;
      border-style: solid;
      border-width: 0.267vw;
      border-radius: 13.333vw;
      transition-duration: 0.3s;
      padding: 2.667vw;
      margin: 0;
    }
    #app-{{section.id}} .section3 .content .shop-list .shop-item .shop-info .btn-wrap .buy-out {
      display: none;
      background-color: #d5d3d3;
    }
    #app-{{section.id}} .section4 {
      position: relative;
      padding: 16vw 4.267vw;
      padding-top: 26.667vw;
    }
    #app-{{section.id}} .section4 .content {
      position: relative;
      border: 0.533vw solid #c1c1c1;
      padding: 5.333vw;
    }
    #app-{{section.id}} .section4 .content .left-title {
      text-align: center;
      width: 100%;
      background-color: #ffffff;
      position: absolute;
      top: -13.333vw;
      left: 0;
      padding: 0;
      font-size: 5.333vw;
      line-height: 1.25em;
      letter-spacing: 0vw;
      font-weight: 700;
    }
    #app-{{section.id}} .section4 .content .small-count-down {
      position: absolute;
      right: 12vw;
      top: 0;
      transform: translateY(-50%);
      display: flex;
      padding: 0 5.333vw;
      background-color: #ffffff;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
    #app-{{section.id}} .section4 .content .small-count-down .time-item {
      font-size: 4.8vw;
    }
    #app-{{section.id}} .section4 .content .small-count-down .time-item::after {
      content: ":";
      margin-right: 2.667vw;
    }
    #app-{{section.id}} .section4 .content .small-count-down .time-item:last-child::after {
      display: none;
    }
    #app-{{section.id}} .section4 .content .shop-list {
      margin-top: 8vw;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10.667vw;
      grid-row: auto;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item {
      position: relative;
      border-radius: 4vw;
      overflow: hidden;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .slod-out-tag {
      position: absolute;
      left: 5.333vw;
      top: 5.333vw;
      padding: 1.333vw 5.333vw;
      text-align: center;
      background-color: #000000;
      clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
      color: #ffffff;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-img {
      width: 100%;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info {
      border-radius: 0 0 4vw 4vw;
      background-color: #ffffff;
      padding: 5.333vw;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .star-wrap {
      display: flex;
      justify-content: center;
      font-size: 4.267vw;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .star-wrap .image-picture {
      margin-right: 2.133vw;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .shop-title {
      padding: 3.2vw 0 4.267vw 0;
      font-size: 4.8vw;
      font-family: "Outfit";
      font-weight: 600;
      line-height: 1.25em;
      letter-spacing: 0vw;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .price {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .price .now-price {
      margin-right: 6.4vw;
      color: #e61515;
      font-size: 5.333vw;
      line-height: 1.25em;
      font-weight: 600;
      font-family: "Outfit";
      font-style: normal;
      letter-spacing: 0vw;
      text-decoration: none;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .price .old-price {
      color: #999;
      font-size: 4.267vw;
      font-weight: 600;
      line-height: 1.25em;
      letter-spacing: 0vw;
      font-family: "Outfit";
      font-style: normal;
      text-decoration: line-through;
      text-transform: none;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap {
      margin-top: 2.667vw;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap .add-cart, #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap .buy-out {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0vw;
      font-style: normal;
      font-size: 4.267vw;
      text-decoration: none;
      font-family: Poppins;
      line-height: 1.4em;
      box-shadow: 0 0 rgba(0, 0, 0, 0.3019607843) inset;
      width: 100%;
      height: 14.933vw;
      min-height: 14.933vw;
     background-color: #fff;
      color: #db3737;
      border-style: solid;
      border-width: 0.533vw;
      border-color: #000;
      border-radius: 5.333vw;
      transition-duration: 0.3s;
      padding: 2.667vw 8.533vw;
      margin: 0;
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap .add-cart:hover {
      
      color: white;
      background-color: black; 
    }
    #app-{{section.id}} .section4 .content .shop-list .shop-item .shop-info .btn-wrap .buy-out {
      display: none;
      background-color: #d5d3d3;
    }
    #app-{{section.id}} .section5 {
      padding: 16vw 0;
      position: relative;
    }
    #app-{{section.id}} .section5 .content .video-shop {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 4.267vw;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item {
      position: relative;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .video {
      width: 100%;
      border-radius: 5.333vw;
      -webkit-border-radius: 5.333vw;
      -moz-border-radius: 5.333vw;
      -ms-border-radius: 5.333vw;
      -o-border-radius: 5.333vw;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop {
      background-color: #ffffff;
      border-radius: 3.2vw;
      position: absolute;
      display: flex;
      bottom: 8vw;
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .discount {
      position: absolute;
      top: 0;
      left: 5.333vw;
      align-self: flex-start;
      font-size: 2.933vw;
      font-weight: 500;
      font-family: Inter;
      height: 5.867vw;
      min-height: 5.867vw;
      color: #fff;
      background-color: #ba1e1e;
      border-radius: 0.8vw;
      padding: 1.333vw 4vw 1.333vw 1.333vw;
      margin: 0;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop {
      padding: 5.333vw;
      display: flex;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .img-wrap {
      cursor: pointer;
      margin-right: 5.333vw;
      flex-shrink: 0;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .img-wrap .shop-img {
      border: 0.267vw solid #c1c1c1;
      width: 26.667vw;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .shop-title {
      cursor: pointer;
      font-size: 4.8vw;
      text-decoration: none;
      font-weight: 500;
      text-transform: none;
      font-style: normal;
      line-height: 1.3em;
      letter-spacing: 0vw;
      font-family: "Questrial";
      margin-bottom: 2.667vw;
      transition: 0.3s;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .shop-title :hover {
      color: #e289d4;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price {
      display: flex;
      align-items: center;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price .now-price {
      font-size: 4.8vw;
      font-weight: 700;
      color: #f53b3b;
      border-radius: 0;
      margin-right: 2.667vw;
      padding: 0;
      font-family: "Questrial,sans-serif";
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price .old-price {
      text-decoration: line-through;
      color: #777777;
      font-size: 3.733vw;
      font-weight: 400;
      font-family: "Questrial";
      text-transform: none;
      font-style: normal;
      line-height: 1.25em;
      letter-spacing: 0vw;
    }
    #app-{{section.id}} .section6 .content .up-number {
      margin-top: 21.333vw;
      height: 125.867vw;
      background: url("https://cdn.shopifycdn.net/s/files/1/0623/8303/0317/files/ecom-no-replace-dkmBtXWr5xecom-no-replace-12.png?v=1719222356") no-repeat scroll center center/cover #dbba66;
    } 
    #app-{{section.id}} .section6 .content .up-number .numbers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 8vw 0;
    }
    #app-{{section.id}} .section6 .content .up-number .numbers .number-item {
      flex: auto;
      width: 100%;
      padding: 2.667vw 0;
      text-align: center;
    }
    #app-{{section.id}} .section6 .content .up-number .numbers .number-item .number, #app-{{section.id}} .section6 .content .up-number .numbers .number-item .n-text {
      font-family: "Cormorant_SC";
      font-size: 10.667vw;
      font-weight: 500;
      line-height: 1.2em;
      color: #fff;
      padding: 0 0 2.667vw;
    }
    #app-{{section.id}} .section6 .content .up-number .numbers .number-item .text {
      color: #ffffff;
      font-family: "Nunito_Sans";
      font-size: 5.333vw;
      font-weight: 600;
      line-height: 1.75em;
    }
  }
</style>

<div id="app-{{section.id}}" class="containers">
  <div class="section1"> 
    <img class="banner-img" 
      src="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/img_v3_02ed_d704ea49-a248-450b-ae6f-91cf6301d1fg.jpg?v=1726128304" 
      srcset="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/img_v3_02ed_a1a5501f-e968-4c60-9037-b70ae253613g.jpg?v=1726128304 768w, https://cdn.shopify.com/s/files/1/0799/8714/7049/files/img_v3_02ed_d704ea49-a248-450b-ae6f-91cf6301d1fg.jpg?v=1726128304"
      alt="Summer Crafting Bonanza">
  </div>
  <div class="section2">
    <div class="content">
      <div class="time-box">
        <div class="title fadein">
          DISCOUNT LASER ENGRAVERS FOR FAMILY CRAFTING
          <br> <u style="color: #FF5C00;">SAVE UP TO 50%   DON'T MISS IT!</u>
        </div>
        <div class="small-title fadein">
          Shop in-store and enjoy Tier gifts. Unlock more rewards with every purchase!
          <br>Deals will end on Sep.13th 00:00PM (One Week Only!)
        </div>
        <div class="count-down">
          <div class="time-item">
            <div class="num">00</div>
            <div class="date-text">DAYS</div>
          </div>
          <div class="time-item">
            <div class="num">00</div>
            <div class="date-text">HOURS</div>
          </div>
          <div class="time-item">
            <div class="num">00</div>
            <div class="date-text">MINS</div>
          </div>
          <div class="time-item">
            <div class="num">00</div>
            <div class="date-text">SECS</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section3">
    <div class="content">
      <div class="ecom-list"> 
        <div class="ecom-core">
          <svg class="ecom-icon" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2419_29)"><path d="M22.62 24.2918C22.584 23.8189 22.2082 23.4431 21.7352 23.407C21.2063 23.4474 20.8102 23.9088 20.8505 24.4377C20.8865 24.9106 21.2623 25.2864 21.7352 25.3225C22.2642 25.2822 22.6603 24.8207 22.62 24.2918Z" ></path><path d="M24.9638 23.4701C24.9277 22.9972 24.5519 22.6214 24.079 22.5854C23.55 22.6257 23.154 23.0871 23.1942 23.616C23.2302 24.0889 23.606 24.4647 24.079 24.5008C24.6079 24.4605 25.004 23.999 24.9638 23.4701Z" ></path><path d="M31.9956 8.86105V8.81663C31.9835 8.78575 31.9686 8.75605 31.9512 8.7278L31.9179 8.68339L31.8513 8.61121L31.8124 8.5779L31.7402 8.54459H31.7125L19.6537 3.6145C19.5202 3.56051 19.3709 3.56051 19.2374 3.6145L7.20637 8.46131H7.17861L7.10644 8.49462L7.06757 8.52794L7.00095 8.60011L6.96764 8.64453C6.95022 8.67277 6.93537 8.70247 6.92323 8.73336V8.77777C6.9174 8.82385 6.9174 8.87049 6.92323 8.91657V13.3581H0.555191C0.248587 13.3581 0 13.6067 0 13.9133C0 14.2199 0.248587 14.4685 0.555191 14.4685V14.5406H6.8566V16.4394H4.69691C4.39031 16.4394 4.14172 16.688 4.14172 16.9946C4.14172 17.3012 4.39031 17.5498 4.69691 17.5498H6.8566V19.4485H1.73775C1.43114 19.4485 1.18256 19.6971 1.18256 20.0037C1.18256 20.3103 1.43114 20.5589 1.73775 20.5589H6.8566V22.8796C6.85771 23.1038 6.99353 23.3052 7.20082 23.3904L19.2374 28.3871C19.2975 28.411 19.3614 28.4241 19.4261 28.426C19.4908 28.4241 19.5547 28.411 19.6149 28.3871L31.6514 23.3904C31.8587 23.3052 31.9945 23.1038 31.9956 22.8796V8.99985C32.0015 8.95377 32.0015 8.90713 31.9956 8.86105ZM19.4428 4.74154L24.0064 6.56811L13.6244 10.9597L8.8775 8.98319L19.4428 4.74154ZM18.8709 27.0491L7.96698 22.5076V20.5534H10.271C10.5776 20.5534 10.8262 20.3048 10.8262 19.9982C10.8262 19.6916 10.5776 19.443 10.271 19.443H7.96698V17.5442H13.2413C13.5479 17.5442 13.7965 17.2956 13.7965 16.989C13.7965 16.6824 13.5479 16.4338 13.2413 16.4338H7.96698V14.5406H9.07736C9.38397 14.5406 9.63256 14.2921 9.63256 13.9855C9.63256 13.6789 9.38397 13.4303 9.07736 13.4303H7.96698V9.81043L12.2086 11.5648L18.8709 14.3408V27.0491ZM19.4483 13.4025L15.0623 11.5648L25.4555 7.15661L30.0025 8.98874L23.3791 11.7647L19.4483 13.4025ZM19.998 27.0491V14.3408L23.1237 13.0416L30.8964 9.79932L30.9241 22.5076L19.998 27.0491Z" ></path></g><defs><clipPath id="clip0_2419_29"><rect width="32" height="32" fill="white"></rect></clipPath></defs></svg>
          <p class="ecom--title">Free US shipping over $49.99</p>
        </div>
        <div class="ecom-core">
          <svg class="ecom-icon"  width="32" height="32" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M16.0036 24.51C15.938 24.5099 15.8732 24.4955 15.8137 24.4678L7.77155 20.5997C7.69809 20.5633 7.63619 20.5072 7.59273 20.4376C7.54927 20.3681 7.52596 20.2879 7.52539 20.2059V11.5483C7.52517 11.4743 7.54376 11.4015 7.57941 11.3367C7.61507 11.2719 7.66662 11.2173 7.72921 11.1779C7.79181 11.1385 7.8634 11.1157 7.93724 11.1116C8.01108 11.1075 8.08475 11.1222 8.15133 11.1544L16.1935 15.0226C16.267 15.059 16.3289 15.1151 16.3723 15.1847C16.4158 15.2542 16.4391 15.3344 16.4397 15.4164V24.074C16.4397 24.1478 16.421 24.2203 16.3853 24.2849C16.3496 24.3495 16.2982 24.404 16.2357 24.4432C16.1664 24.4874 16.0858 24.5107 16.0036 24.51ZM8.39748 19.9386L15.5676 23.3918V15.6942L8.39748 12.241V19.9386Z" ></path><path d="M16.0027 15.8488C15.9419 15.8532 15.8808 15.8448 15.8234 15.8242L7.78117 11.9561C7.7065 11.9213 7.64331 11.8659 7.59904 11.7965C7.55477 11.727 7.53125 11.6464 7.53125 11.564C7.53125 11.4816 7.55477 11.401 7.59904 11.3315C7.64331 11.2621 7.7065 11.2067 7.78117 11.1719L15.8234 7.28619C15.8822 7.25834 15.9464 7.2439 16.0115 7.2439C16.0766 7.2439 16.1408 7.25834 16.1996 7.28619L24.2418 11.1543C24.3158 11.1901 24.3781 11.2461 24.4217 11.3157C24.4653 11.3854 24.4882 11.466 24.488 11.5482C24.488 11.6298 24.4649 11.7098 24.4213 11.7789C24.3777 11.848 24.3155 11.9033 24.2418 11.9385L16.175 15.8242C16.1198 15.8439 16.0612 15.8523 16.0027 15.8488ZM8.96974 11.5447L16.0027 14.931L23.0357 11.5517L16.0027 8.1618L8.96974 11.5447Z" ></path><path d="M16.0025 24.5099C15.9203 24.5106 15.8396 24.4873 15.7704 24.4431C15.7079 24.4039 15.6564 24.3494 15.6208 24.2848C15.5851 24.2202 15.5664 24.1477 15.5664 24.0739V15.4198C15.5662 15.3377 15.5891 15.2571 15.6327 15.1874C15.6762 15.1177 15.7386 15.0618 15.8126 15.026L23.8548 11.1579C23.9213 11.1256 23.995 11.1109 24.0688 11.115C24.1427 11.1191 24.2143 11.1419 24.2769 11.1813C24.3395 11.2207 24.391 11.2754 24.4267 11.3402C24.4623 11.4049 24.4809 11.4777 24.4807 11.5517V20.2022C24.4809 20.2844 24.458 20.365 24.4144 20.4347C24.3709 20.5044 24.3085 20.5603 24.2345 20.5961L16.1748 24.4677C16.1208 24.4935 16.0622 24.5078 16.0025 24.5099ZM16.4385 15.6941V23.3811L23.6086 19.928V12.2409L16.4385 15.6941Z" ></path><path d="M11.9804 13.9147C11.8825 13.9137 11.7878 13.8798 11.7115 13.8184C11.6352 13.7571 11.5818 13.6718 11.5599 13.5764C11.538 13.4809 11.5488 13.3809 11.5906 13.2924C11.6325 13.2039 11.7029 13.132 11.7906 13.0884L19.8363 9.22023C19.9403 9.17065 20.0597 9.16427 20.1685 9.20249C20.2772 9.2407 20.3664 9.32041 20.4165 9.42418C20.4415 9.47561 20.4561 9.5315 20.4594 9.58861C20.4627 9.64571 20.4546 9.7029 20.4356 9.75686C20.4166 9.81082 20.3872 9.86048 20.3489 9.90298C20.3106 9.94547 20.2642 9.97994 20.2125 10.0044L12.1703 13.8725C12.1107 13.8999 12.046 13.9142 11.9804 13.9147Z" ></path><path d="M13.0591 17.7126C12.9935 17.7129 12.9286 17.6984 12.8692 17.6704L10.4956 16.5275C10.4439 16.5031 10.3976 16.4686 10.3593 16.4261C10.321 16.3836 10.2915 16.3339 10.2725 16.28C10.2536 16.226 10.2455 16.1688 10.2488 16.1117C10.252 16.0546 10.2666 15.9987 10.2916 15.9473C10.3418 15.8435 10.4309 15.7638 10.5397 15.7256C10.6484 15.6874 10.7678 15.6938 10.8719 15.7433L13.2455 16.8792C13.3329 16.9227 13.4032 16.9942 13.4451 17.0824C13.487 17.1706 13.4981 17.2703 13.4766 17.3655C13.4551 17.4607 13.4023 17.546 13.3266 17.6077C13.2509 17.6693 13.1567 17.7038 13.0591 17.7055V17.7126Z" ></path><path d="M2.79287 21.7074C2.70777 21.7087 2.62413 21.6851 2.55227 21.6395C2.48041 21.5939 2.42347 21.5282 2.38848 21.4507C1.0686 18.1866 0.966309 14.5567 2.10028 11.2234C3.23425 7.8902 5.52889 5.07577 8.56546 3.29374C11.602 1.51171 15.1781 0.880868 18.6412 1.51634C22.1042 2.1518 25.2233 4.01121 27.4294 6.75527C27.4703 6.79895 27.5017 6.85058 27.5218 6.90695C27.5419 6.96332 27.5502 7.02322 27.5461 7.08293C27.5421 7.14264 27.5258 7.20087 27.4982 7.254C27.4707 7.30713 27.4325 7.35403 27.3861 7.39177C27.3396 7.4295 27.2859 7.45728 27.2283 7.47336C27.1706 7.48944 27.1103 7.49348 27.051 7.48523C26.9917 7.47698 26.9348 7.45662 26.8837 7.42541C26.8327 7.39421 26.7886 7.35282 26.7542 7.30384C24.679 4.73056 21.7491 2.98758 18.4974 2.3919C15.2457 1.79622 11.8883 2.38741 9.03561 4.05794C6.18297 5.72848 4.02465 8.36739 2.95321 11.4947C1.88177 14.6221 1.96837 18.0301 3.19727 21.099C3.22368 21.1651 3.2335 21.2367 3.22587 21.3075C3.21824 21.3783 3.1934 21.4461 3.15351 21.5051C3.11361 21.5641 3.05989 21.6124 2.99702 21.6458C2.93416 21.6792 2.86407 21.6967 2.79287 21.6968V21.7074Z" ></path><path d="M16.0206 30.6252C13.8249 30.6304 11.6562 30.1424 9.67446 29.1971C7.69272 28.2519 5.9486 26.8736 4.57089 25.1641C4.49814 25.0708 4.46542 24.9525 4.47993 24.8351C4.49444 24.7177 4.55499 24.6109 4.64825 24.5381C4.74151 24.4654 4.85985 24.4327 4.97724 24.4472C5.09462 24.4617 5.20144 24.5222 5.27418 24.6155C7.36208 27.1857 10.3044 28.9197 13.5644 29.5009C16.8244 30.0822 20.1848 29.472 23.0323 27.7817C25.8798 26.0915 28.0248 23.4338 29.0757 20.2936C30.1267 17.1533 30.0137 13.74 28.7573 10.6762C28.7336 10.623 28.7209 10.5656 28.7198 10.5075C28.7187 10.4493 28.7292 10.3915 28.7508 10.3375C28.7723 10.2835 28.8045 10.2343 28.8453 10.1929C28.8862 10.1515 28.9349 10.1186 28.9887 10.0963C29.0424 10.0741 29.1 10.0627 29.1582 10.0631C29.2164 10.0634 29.2739 10.0754 29.3274 10.0983C29.3809 10.1212 29.4292 10.1545 29.4696 10.1964C29.51 10.2383 29.5416 10.2878 29.5625 10.3421C30.7606 13.2743 30.9842 16.5141 30.2003 19.5831C29.4164 22.6522 27.6666 25.3879 25.2091 27.3865C22.6074 29.4862 19.3639 30.6295 16.0206 30.6252Z" ></path><path d="M27.1255 7.49718H27.0763L23.0147 7.05762C22.9057 7.03842 22.808 6.97844 22.7415 6.88985C22.6751 6.80125 22.6448 6.69069 22.6569 6.58061C22.669 6.47052 22.7225 6.36916 22.8066 6.29709C22.8907 6.22502 22.999 6.18765 23.1097 6.19257L26.7246 6.5829L27.129 2.95388C27.1317 2.8943 27.1465 2.83589 27.1726 2.78227C27.1988 2.72864 27.2356 2.68095 27.2809 2.64214C27.3262 2.60333 27.379 2.57422 27.4359 2.55661C27.4929 2.53901 27.5529 2.53328 27.6122 2.53979C27.6715 2.5463 27.7288 2.5649 27.7806 2.59444C27.8325 2.62399 27.8777 2.66385 27.9134 2.71157C27.9492 2.75928 27.9749 2.81383 27.9887 2.87184C28.0026 2.92985 28.0044 2.99009 27.9941 3.04883L27.558 7.11037C27.545 7.22526 27.4868 7.33024 27.3963 7.40224C27.3197 7.46428 27.224 7.49784 27.1255 7.49718Z" ></path><path d="M4.44811 29.3521H4.39888C4.28429 29.3397 4.17927 29.2824 4.10678 29.1928C4.0343 29.1032 4.00024 28.9885 4.01207 28.8739L4.45163 24.8123C4.4571 24.7555 4.47392 24.7005 4.50111 24.6503C4.52829 24.6002 4.56528 24.556 4.60987 24.5205C4.6999 24.448 4.81487 24.4138 4.92987 24.4255L8.99141 24.8615C9.09996 24.8809 9.19715 24.9407 9.26339 25.0289C9.32964 25.117 9.36003 25.227 9.34844 25.3366C9.33685 25.4463 9.28414 25.5475 9.20093 25.6199C9.11772 25.6922 9.01019 25.7304 8.89998 25.7266L5.27449 25.3363L4.87712 28.9653C4.86586 29.0713 4.81583 29.1694 4.73665 29.2408C4.65748 29.3122 4.55472 29.3518 4.44811 29.3521Z" ></path></svg>
          <p class="ecom--title">14-day Money-Back Guarantee</p>
        </div>
        <div class="ecom-core">
          <svg class="ecom-icon" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M16.418 17.4642C16.3588 17.4514 16.298 17.4491 16.2381 17.4581C15.6371 17.3881 15.1837 16.8796 15.1827 16.2747C15.1827 15.9849 14.9476 15.7498 14.6578 15.7498C14.3679 15.7498 14.1329 15.9849 14.1329 16.2747C14.1344 17.2848 14.81 18.1695 15.7839 18.4368V18.9617C15.7839 19.2516 16.0189 19.4866 16.3088 19.4866C16.5987 19.4866 16.8337 19.2516 16.8337 18.9617V18.4686C17.9578 18.2333 18.7218 17.1864 18.6037 16.0441C18.4853 14.9018 17.5229 14.0337 16.3744 14.0334C15.7163 14.0334 15.1827 13.4998 15.1827 12.8417C15.1827 12.1835 15.7163 11.6499 16.3744 11.6499C17.0326 11.6499 17.5662 12.1835 17.5662 12.8417C17.5662 13.1315 17.8012 13.3666 18.0911 13.3666C18.381 13.3666 18.616 13.1315 18.616 12.8417C18.6144 11.7811 17.8714 10.8664 16.8337 10.6475V10.1698C16.8337 9.87992 16.5987 9.6449 16.3088 9.6449C16.0189 9.6449 15.7839 9.87992 15.7839 10.1698V10.6796C14.7008 10.9753 14.0037 12.0269 14.1529 13.1397C14.302 14.2526 15.2516 15.0832 16.3744 15.083C17.0239 15.083 17.5536 15.603 17.5654 16.2522C17.5775 16.9014 17.0669 17.4406 16.418 17.4642Z" ></path><path d="M8.76367 14.5986C8.76367 18.8023 12.1714 22.21 16.3751 22.21C20.5789 22.21 23.9866 18.8023 23.9866 14.5986C23.9866 10.3948 20.5789 6.98712 16.3751 6.98712C12.1734 6.99173 8.76854 10.3969 8.76367 14.5986ZM16.3751 8.03691C19.9991 8.03691 22.9368 10.9746 22.9368 14.5986C22.9368 18.2226 19.9991 21.1602 16.3751 21.1602C12.7511 21.1602 9.81346 18.2226 9.81346 14.5986C9.81756 10.9764 12.7529 8.04101 16.3751 8.03691Z" ></path><path d="M26.5725 23.5041L22.4607 25.4468C21.893 24.3908 20.804 23.7188 19.6056 23.685L15.8099 23.5807C15.2088 23.5635 14.6191 23.4113 14.0847 23.1353L13.6985 22.9351C11.7209 21.9043 9.36378 21.9068 7.38826 22.9418L7.41235 22.0668C7.4203 21.7769 7.19194 21.5355 6.90207 21.5275L2.73983 21.413C2.44996 21.405 2.20879 21.6334 2.20085 21.9232L1.94942 31.0571C1.94147 31.347 2.16983 31.5884 2.4597 31.5963L6.62194 31.7109H6.63629C6.92078 31.7109 7.15349 31.4846 7.16118 31.2003L7.17323 30.7634L8.25454 30.1844C8.67896 29.956 9.17515 29.9017 9.63879 30.0329L16.0959 31.8452C16.1072 31.8485 16.1184 31.8511 16.13 31.8536C16.5967 31.9513 17.0724 32.0002 17.5491 32C18.5589 32.0005 19.5569 31.7829 20.4747 31.3616C20.4972 31.3513 20.519 31.3393 20.5398 31.3257L29.902 25.2699C30.1352 25.119 30.2106 24.8127 30.074 24.5708C29.3789 23.3375 27.8373 22.8677 26.5725 23.5041ZM3.0133 30.5614L3.23577 22.4768L6.34847 22.5624L6.12601 30.6473L3.0133 30.5614ZM20.0018 30.424C18.8616 30.9387 17.588 31.0807 16.3624 30.8303L9.92276 29.0226C9.19796 28.8178 8.42215 28.9027 7.75912 29.2592L7.20655 29.5552L7.35443 24.1799C9.10544 23.0153 11.3511 22.8956 13.2159 23.8672L13.6021 24.0674C14.2772 24.416 15.0218 24.6082 15.7812 24.6302L19.5771 24.7345C20.6433 24.7653 21.5488 25.5244 21.7651 26.5691L16.111 26.413C15.8211 26.4051 15.58 26.6337 15.5718 26.9233C15.5638 27.2132 15.7924 27.4546 16.082 27.4625L22.3218 27.6343H22.3364C22.6206 27.634 22.8531 27.4077 22.8608 27.1237C22.8672 26.8956 22.8503 26.6673 22.81 26.4427L27.0274 24.45C27.0315 24.4483 27.0356 24.4462 27.0397 24.4442C27.6379 24.1415 28.3611 24.2427 28.8532 24.6981L20.0018 30.424Z" ></path><path d="M16.8994 5.51137V0.524892C16.8994 0.235023 16.6644 0 16.3745 0C16.0846 0 15.8496 0.235023 15.8496 0.524892V5.51137C15.8496 5.80124 16.0846 6.03626 16.3745 6.03626C16.6644 6.03626 16.8994 5.80124 16.8994 5.51137Z" ></path><path d="M20.8349 5.51137V3.14936C20.8349 2.85949 20.5999 2.62447 20.31 2.62447C20.0202 2.62447 19.7852 2.85949 19.7852 3.14936V5.51137C19.7852 5.80124 20.0202 6.03627 20.31 6.03627C20.5999 6.03627 20.8349 5.80124 20.8349 5.51137Z" ></path><path d="M12.9619 5.51137V3.14936C12.9619 2.85949 12.7269 2.62447 12.437 2.62447C12.1471 2.62447 11.9121 2.85949 11.9121 3.14936V5.51137C11.9121 5.80124 12.1471 6.03627 12.437 6.03627C12.7269 6.03627 12.9619 5.80124 12.9619 5.51137Z" ></path></svg>
          <p class="ecom--title">12-Month Warranty Offer</p>
        </div>
        <div class="ecom-core"> 
          <svg class="ecom-icon" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2419_62)"><path d="M3.40774 22.2795L5.32774 24.1995V29.3333C5.32859 30.0403 5.60981 30.7181 6.10973 31.218C6.60964 31.7179 7.28743 31.9992 7.99441 32H29.3325C30.0395 31.9992 30.7173 31.7179 31.2172 31.218C31.7171 30.7181 31.9984 30.0403 31.9992 29.3333V16C31.9972 15.3269 31.7402 14.6795 31.2801 14.1882C30.8199 13.6969 30.1908 13.3981 29.5192 13.352C29.7881 12.849 29.889 12.2732 29.8072 11.7087C29.7253 11.1443 29.465 10.6208 29.0643 10.2149L22.2728 3.4192L22.2696 3.41333H22.2648L19.6349 0.780264C19.135 0.281319 18.4575 0.00109863 17.7512 0.00109863C17.0449 0.00109863 16.3674 0.281319 15.8675 0.780264L0.77841 15.8752C0.280979 16.3778 0.00195313 17.0563 0.00195312 17.7635C0.00195312 18.4706 0.280979 19.1492 0.77841 19.6517L3.40774 22.2795ZM19.6312 2.2848L21.1379 3.79253L11.6024 13.3333H8.58588L19.6312 2.2848ZM5.33254 19.6032L3.78588 21.1499L2.27868 19.6427L5.33254 16.5867V19.6032ZM4.54001 21.904L5.33254 21.1115V22.6965L4.54001 21.904ZM30.9325 16V29.3333C30.9325 29.7577 30.764 30.1646 30.4639 30.4647C30.1639 30.7648 29.7569 30.9333 29.3325 30.9333H7.99921C7.57486 30.9333 7.1679 30.7648 6.86784 30.4647C6.56778 30.1646 6.39921 29.7577 6.39921 29.3333V16C6.39921 15.5757 6.56778 15.1687 6.86784 14.8686C7.1679 14.5686 7.57486 14.4 7.99921 14.4H29.3325C29.7569 14.4 30.1639 14.5686 30.4639 14.8686C30.764 15.1687 30.9325 15.5757 30.9325 16ZM28.3101 13.2336L28.2125 13.3333H13.1101L21.892 4.5472L28.3085 10.9675C28.6078 11.2686 28.7759 11.6757 28.7762 12.1002C28.7765 12.5247 28.6089 12.9321 28.3101 13.2336ZM1.53361 16.6277L16.6216 1.5344C16.9255 1.244 17.3295 1.08168 17.7498 1.08109C18.1701 1.08049 18.5745 1.24167 18.8792 1.5312L6.75974 13.6533C6.28827 13.9031 5.90259 14.2886 5.65254 14.76L1.52561 18.8875C1.23088 18.5847 1.06662 18.1785 1.06811 17.756C1.06961 17.3335 1.23674 16.9284 1.53361 16.6277Z" ></path><path d="M8.53346 20.2667H11.7335C12.0164 20.2667 12.2877 20.1543 12.4877 19.9542C12.6877 19.7542 12.8001 19.4829 12.8001 19.2V17.0667C12.8001 16.7838 12.6877 16.5125 12.4877 16.3124C12.2877 16.1124 12.0164 16 11.7335 16H8.53346C8.25057 16 7.97926 16.1124 7.77922 16.3124C7.57918 16.5125 7.4668 16.7838 7.4668 17.0667V19.2C7.4668 19.4829 7.57918 19.7542 7.77922 19.9542C7.97926 20.1543 8.25057 20.2667 8.53346 20.2667ZM8.53346 17.0667H11.7335V19.2H8.53346V17.0667Z" ></path><path d="M8.00013 23.4667C8.14158 23.4667 8.27723 23.4105 8.37725 23.3105C8.47727 23.2104 8.53346 23.0748 8.53346 22.9333V21.8667C8.53346 21.7252 8.47727 21.5896 8.37725 21.4895C8.27723 21.3895 8.14158 21.3333 8.00013 21.3333C7.85868 21.3333 7.72303 21.3895 7.62301 21.4895C7.52299 21.5896 7.4668 21.7252 7.4668 21.8667V22.9333C7.4668 23.0748 7.52299 23.2104 7.62301 23.3105C7.72303 23.4105 7.85868 23.4667 8.00013 23.4667Z" ></path><path d="M10.1329 21.3333C9.99149 21.3333 9.85584 21.3895 9.75582 21.4895C9.6558 21.5896 9.59961 21.7252 9.59961 21.8667V22.9333C9.59961 23.0748 9.6558 23.2104 9.75582 23.3105C9.85584 23.4105 9.99149 23.4667 10.1329 23.4667C10.2744 23.4667 10.41 23.4105 10.5101 23.3105C10.6101 23.2104 10.6663 23.0748 10.6663 22.9333V21.8667C10.6663 21.7252 10.6101 21.5896 10.5101 21.4895C10.41 21.3895 10.2744 21.3333 10.1329 21.3333Z" ></path><path d="M11.7324 21.8667V22.9333C11.7324 23.0748 11.7886 23.2104 11.8886 23.3105C11.9887 23.4105 12.1243 23.4667 12.2658 23.4667C12.4072 23.4667 12.5429 23.4105 12.6429 23.3105C12.7429 23.2104 12.7991 23.0748 12.7991 22.9333V21.8667C12.7991 21.7252 12.7429 21.5896 12.6429 21.4895C12.5429 21.3895 12.4072 21.3333 12.2658 21.3333C12.1243 21.3333 11.9887 21.3895 11.8886 21.4895C11.7886 21.5896 11.7324 21.7252 11.7324 21.8667Z" ></path><path d="M14.4005 21.3333C14.2591 21.3333 14.1234 21.3895 14.0234 21.4895C13.9234 21.5896 13.8672 21.7252 13.8672 21.8667V22.9333C13.8672 23.0748 13.9234 23.2104 14.0234 23.3105C14.1234 23.4105 14.2591 23.4667 14.4005 23.4667C14.542 23.4667 14.6776 23.4105 14.7776 23.3105C14.8777 23.2104 14.9339 23.0748 14.9339 22.9333V21.8667C14.9339 21.7252 14.8777 21.5896 14.7776 21.4895C14.6776 21.3895 14.542 21.3333 14.4005 21.3333Z" ></path><path d="M16.5333 23.4667C16.6748 23.4667 16.8104 23.4105 16.9105 23.3105C17.0105 23.2104 17.0667 23.0748 17.0667 22.9333V21.8667C17.0667 21.7252 17.0105 21.5896 16.9105 21.4895C16.8104 21.3895 16.6748 21.3333 16.5333 21.3333C16.3919 21.3333 16.2562 21.3895 16.1562 21.4895C16.0562 21.5896 16 21.7252 16 21.8667V22.9333C16 23.0748 16.0562 23.2104 16.1562 23.3105C16.2562 23.4105 16.3919 23.4667 16.5333 23.4667Z" ></path><path d="M20.8009 21.3333C20.6595 21.3333 20.5238 21.3895 20.4238 21.4895C20.3238 21.5896 20.2676 21.7252 20.2676 21.8667V22.9333C20.2676 23.0748 20.3238 23.2104 20.4238 23.3105C20.5238 23.4105 20.6595 23.4667 20.8009 23.4667C20.9424 23.4667 21.078 23.4105 21.178 23.3105C21.2781 23.2104 21.3342 23.0748 21.3342 22.9333V21.8667C21.3342 21.7252 21.2781 21.5896 21.178 21.4895C21.078 21.3895 20.9424 21.3333 20.8009 21.3333Z" ></path><path d="M22.9337 21.3333C22.7923 21.3333 22.6566 21.3895 22.5566 21.4895C22.4566 21.5896 22.4004 21.7252 22.4004 21.8667V22.9333C22.4004 23.0748 22.4566 23.2104 22.5566 23.3105C22.6566 23.4105 22.7923 23.4667 22.9337 23.4667C23.0752 23.4667 23.2108 23.4105 23.3108 23.3105C23.4109 23.2104 23.4671 23.0748 23.4671 22.9333V21.8667C23.4671 21.7252 23.4109 21.5896 23.3108 21.4895C23.2108 21.3895 23.0752 21.3333 22.9337 21.3333Z" ></path><path d="M25.0665 21.3333C24.9251 21.3333 24.7894 21.3895 24.6894 21.4895C24.5894 21.5896 24.5332 21.7252 24.5332 21.8667V22.9333C24.5332 23.0748 24.5894 23.2104 24.6894 23.3105C24.7894 23.4105 24.9251 23.4667 25.0665 23.4667C25.208 23.4667 25.3436 23.4105 25.4437 23.3105C25.5437 23.2104 25.5999 23.0748 25.5999 22.9333V21.8667C25.5999 21.7252 25.5437 21.5896 25.4437 21.4895C25.3436 21.3895 25.208 21.3333 25.0665 21.3333Z" ></path><path d="M27.1993 21.3333C27.0579 21.3333 26.9222 21.3895 26.8222 21.4895C26.7222 21.5896 26.666 21.7252 26.666 21.8667V22.9333C26.666 23.0748 26.7222 23.2104 26.8222 23.3105C26.9222 23.4105 27.0579 23.4667 27.1993 23.4667C27.3408 23.4667 27.4765 23.4105 27.5765 23.3105C27.6765 23.2104 27.7327 23.0748 27.7327 22.9333V21.8667C27.7327 21.7252 27.6765 21.5896 27.5765 21.4895C27.4765 21.3895 27.3408 21.3333 27.1993 21.3333Z" ></path><path d="M10.1335 24.5333H8.00013C7.85868 24.5333 7.72303 24.5895 7.62301 24.6895C7.52299 24.7896 7.4668 24.9252 7.4668 25.0667C7.4668 25.2081 7.52299 25.3438 7.62301 25.4438C7.72303 25.5438 7.85868 25.6 8.00013 25.6H10.1335C10.2749 25.6 10.4106 25.5438 10.5106 25.4438C10.6106 25.3438 10.6668 25.2081 10.6668 25.0667C10.6668 24.9252 10.6106 24.7896 10.5106 24.6895C10.4106 24.5895 10.2749 24.5333 10.1335 24.5333Z" ></path><path d="M14.3991 24.5333H12.2658C12.1243 24.5333 11.9887 24.5895 11.8886 24.6895C11.7886 24.7896 11.7324 24.9252 11.7324 25.0667C11.7324 25.2081 11.7886 25.3438 11.8886 25.4438C11.9887 25.5438 12.1243 25.6 12.2658 25.6H14.3991C14.5405 25.6 14.6762 25.5438 14.7762 25.4438C14.8762 25.3438 14.9324 25.2081 14.9324 25.0667C14.9324 24.9252 14.8762 24.7896 14.7762 24.6895C14.6762 24.5895 14.5405 24.5333 14.3991 24.5333Z" ></path><path d="M10.1335 26.6667H8.00013C7.85868 26.6667 7.72303 26.7229 7.62301 26.8229C7.52299 26.9229 7.4668 27.0586 7.4668 27.2C7.4668 27.3415 7.52299 27.4771 7.62301 27.5771C7.72303 27.6771 7.85868 27.7333 8.00013 27.7333H10.1335C10.2749 27.7333 10.4106 27.6771 10.5106 27.5771C10.6106 27.4771 10.6668 27.3415 10.6668 27.2C10.6668 27.0586 10.6106 26.9229 10.5106 26.8229C10.4106 26.7229 10.2749 26.6667 10.1335 26.6667Z" ></path><path d="M14.3991 26.6667H12.2658C12.1243 26.6667 11.9887 26.7229 11.8886 26.8229C11.7886 26.9229 11.7324 27.0586 11.7324 27.2C11.7324 27.3415 11.7886 27.4771 11.8886 27.5771C11.9887 27.6771 12.1243 27.7333 12.2658 27.7333H14.3991C14.5405 27.7333 14.6762 27.6771 14.7762 27.5771C14.8762 27.4771 14.9324 27.3415 14.9324 27.2C14.9324 27.0586 14.8762 26.9229 14.7762 26.8229C14.6762 26.7229 14.5405 26.6667 14.3991 26.6667Z" ></path><path d="M18.6667 24.5333H16.5333C16.3919 24.5333 16.2562 24.5895 16.1562 24.6895C16.0562 24.7896 16 24.9252 16 25.0667C16 25.2081 16.0562 25.3438 16.1562 25.4438C16.2562 25.5438 16.3919 25.6 16.5333 25.6H18.6667C18.8081 25.6 18.9438 25.5438 19.0438 25.4438C19.1438 25.3438 19.2 25.2081 19.2 25.0667C19.2 24.9252 19.1438 24.7896 19.0438 24.6895C18.9438 24.5895 18.8081 24.5333 18.6667 24.5333Z" ></path></g><defs><clipPath id="clip0_2419_62"><rect width="32" height="32" fill="white"></rect></clipPath></defs></svg>
          <p class="ecom--title">Buy now, pay later financing</p>
        </div>
      </div>
      <div class="common-title fadein">Fall Equinox Crafts: Custom Engravings for Autumn</div>
      <div class="common-subtitle fadein">Your Ultimate Partner in Precision Engraving and Creative Expression.</div>
      <div class="shop-list">
        {% for block in section.blocks %}
          {% if block.type == 'product1' %}
            {% assign product = all_products[block.settings.product] %}
            <div class="shop-item">
              <div class="discount">
                {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
                <div class="discount-rate">SAVE {{discount_percentage}}%</div>
              </div>
              <img class="shop-img" srcset="
                {%- if product.featured_media.width >= 533 -%}
                    {{ product.featured_media | img_url: '533x' }} 533w, 
                {%- endif -%}
                {%- if product.featured_media.width >= 534 -%}
                    {{ product.featured_media | img_url: '534x' }} 534w,
                {%- endif -%}
                {%- if product.featured_media.width >= 720 -%}
                    {{ product.featured_media | img_url: '720x' }} 720w,
                {%- endif -%}
                {%- if product.featured_media.width >= 940 -%}
                    {{ product.featured_media | img_url: '940x' }} 940w,
                {%- endif -%}
                {%- if product.featured_media.width >= 1066 -%}
                    {{ product.featured_media | img_url: '1066x' }} 1066w
                {%- endif -%}" 
                src="{{ product.images[2] | img_url: '533x' }}"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                loading="lazy"
                class="motion-reduce"
              >
              <div class="shop-info">
                <div class="price">
                  <div class="now-price">{{product.price | money}}</div>
                  <del class="old-price">{{product.compare_at_price | money}}</del>
                </div>
                <div class="shop-title">{{product.title}}</div>
                <div class="buying-point">
                  <div class="point-item">
                    <svg class="containers-c" width="18" height="18" viewBox="0 0 18 18" stroke="#F1953E" fill="#F1953E" xmlns="http://www.w3.org/2000/svg"><path d="M8.55027 18L0 13.7288V4.21001L8.55027 0L17.1005 4.20764V13.7288L8.55027 18ZM1.5878 12.7476L8.55027 16.2233L15.5127 12.7452V5.19765L8.55027 1.77041L1.5878 5.19765V12.7476ZM9.34417 17.1124H7.7564V9.00913L0.443829 5.41679L1.14402 3.98776L9.34417 8.01995V17.1124ZM9.34417 17.1124H7.7564V8.01992L15.9565 3.9909L16.6567 5.41992L9.34417 9.00911V17.1124ZM8.55027 9.39575L0.443829 5.41679L1.14402 3.98776L8.55027 7.63017L15.9565 3.99175L16.6567 5.42074L8.55027 9.39575Z"></path></svg>
                    <p class="point-title">{{block.settings.point1}}</p>
                  </div>
                  <div class="point-item">
                    <svg class="containers-c"  width="15" height="18" viewBox="0 0 15 18" fill="#F1953E" xmlns="http://www.w3.org/2000/svg"><path d="M13.6935 3.39421L7.39099 0.242941C7.30351 0.199227 7.20706 0.176471 7.10927 0.176471C7.01147 0.176471 6.91502 0.199227 6.82754 0.242941L0.525001 3.39421C0.420232 3.44656 0.332124 3.52708 0.270561 3.62671C0.208998 3.72635 0.176416 3.84117 0.176471 3.95829V9.65579C0.177044 10.7224 0.434506 11.7732 0.927077 12.7193C1.41965 13.6654 2.13284 14.4789 3.00631 15.0911L6.74813 17.7098C6.85401 17.7838 6.98008 17.8235 7.10927 17.8235C7.23846 17.8235 7.36453 17.7838 7.4704 17.7098L11.2122 15.0911C12.0857 14.4789 12.7989 13.6654 13.2915 12.7193C13.784 11.7732 14.0415 10.7224 14.0421 9.65579V3.95829C14.0421 3.84117 14.0095 3.72635 13.948 3.62671C13.8864 3.52708 13.7983 3.44656 13.6935 3.39421ZM12.7816 9.65579C12.7811 10.5197 12.5725 11.3708 12.1735 12.1371C11.7745 12.9034 11.1968 13.5623 10.4893 14.0581L7.10927 16.4241L3.72921 14.0581C3.0217 13.5623 2.444 12.9034 2.04501 12.1371C1.64601 11.3708 1.43745 10.5197 1.43698 9.65579V4.34779L7.10927 1.51164L12.7816 4.34779V9.65579Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M0.176471 9.65579V3.95829C0.176416 3.84117 0.208998 3.72635 0.270561 3.62671C0.332124 3.52708 0.420232 3.44656 0.525001 3.39421L6.82754 0.242941C6.91502 0.199227 7.01147 0.176471 7.10927 0.176471C7.20706 0.176471 7.30351 0.199227 7.39099 0.242941L13.6935 3.39421C13.7983 3.44656 13.8864 3.52708 13.948 3.62671C14.0095 3.72635 14.0421 3.84117 14.0421 3.95829V9.65579C14.0415 10.7224 13.784 11.7732 13.2915 12.7193C12.7989 13.6654 12.0857 14.4789 11.2122 15.0911L7.4704 17.7098C7.36453 17.7838 7.23846 17.8235 7.10927 17.8235C6.98008 17.8235 6.85401 17.7838 6.74813 17.7098L3.00631 15.0911C2.13284 14.4789 1.41965 13.6654 0.927077 12.7193C0.434506 11.7732 0.177044 10.7224 0.176471 9.65579ZM14.2185 3.95837V9.65579C14.2179 10.7508 13.9536 11.8296 13.448 12.8008C12.9423 13.772 12.2102 14.6072 11.3135 15.2356L7.57159 17.8544C7.43606 17.9491 7.27463 18 7.10927 18C6.9439 18 6.78254 17.9492 6.64701 17.8544L2.90513 15.2357C2.00844 14.6072 1.27621 13.772 0.77055 12.8008C0.264892 11.8296 0.00058893 10.7509 5.35254e-08 9.65588V3.95837C5.35254e-08 3.95834 5.35254e-08 3.9584 5.35254e-08 3.95837C-5.45373e-05 3.80848 0.0416496 3.66146 0.120436 3.53395C0.199229 3.40643 0.311994 3.30338 0.446081 3.23637C0.446069 3.23638 0.446094 3.23637 0.446081 3.23637L6.74862 0.0851009C6.8606 0.0291477 6.98409 0 7.10927 0C7.23444 0 7.3579 0.0291288 7.46987 0.085082L13.7724 3.23635C13.7724 3.23635 13.7724 3.23636 13.7724 3.23635C13.9065 3.30337 14.0193 3.40643 14.0981 3.53395C14.1769 3.66146 14.2186 3.80848 14.2185 3.95837C14.2185 3.9584 14.2185 3.95834 14.2185 3.95837ZM12.017 12.0556C12.4029 11.3145 12.6046 10.4913 12.6051 9.65569V4.45685L7.10927 1.70894L1.61345 4.45685V9.65569C1.61391 10.4913 1.81562 11.3145 2.20153 12.0556C2.58744 12.7968 3.14618 13.4341 3.83049 13.9136L7.10927 16.2087L10.388 13.9136C11.0724 13.4341 11.6311 12.7968 12.017 12.0556ZM10.4893 14.0581C11.1968 13.5623 11.7745 12.9034 12.1735 12.1371C12.5725 11.3708 12.7811 10.5197 12.7816 9.65579V4.34779L7.10927 1.51164L1.43698 4.34779V9.65579C1.43745 10.5197 1.64601 11.3708 2.04501 12.1371C2.444 12.9034 3.0217 13.5623 3.72921 14.0581L7.10927 16.4241L10.4893 14.0581Z"></path></svg>
                    <p class="point-title">{{block.settings.point2}}</p>
                  </div>
                  <div class="point-item">
                    <svg class="containers-c"  width="15" height="18" viewBox="0 0 15 18" fill="#F1953E" xmlns="http://www.w3.org/2000/svg"><path d="M13.6935 3.39421L7.39099 0.242941C7.30351 0.199227 7.20706 0.176471 7.10927 0.176471C7.01147 0.176471 6.91502 0.199227 6.82754 0.242941L0.525001 3.39421C0.420232 3.44656 0.332124 3.52708 0.270561 3.62671C0.208998 3.72635 0.176416 3.84117 0.176471 3.95829V9.65579C0.177044 10.7224 0.434506 11.7732 0.927077 12.7193C1.41965 13.6654 2.13284 14.4789 3.00631 15.0911L6.74813 17.7098C6.85401 17.7838 6.98008 17.8235 7.10927 17.8235C7.23846 17.8235 7.36453 17.7838 7.4704 17.7098L11.2122 15.0911C12.0857 14.4789 12.7989 13.6654 13.2915 12.7193C13.784 11.7732 14.0415 10.7224 14.0421 9.65579V3.95829C14.0421 3.84117 14.0095 3.72635 13.948 3.62671C13.8864 3.52708 13.7983 3.44656 13.6935 3.39421ZM12.7816 9.65579C12.7811 10.5197 12.5725 11.3708 12.1735 12.1371C11.7745 12.9034 11.1968 13.5623 10.4893 14.0581L7.10927 16.4241L3.72921 14.0581C3.0217 13.5623 2.444 12.9034 2.04501 12.1371C1.64601 11.3708 1.43745 10.5197 1.43698 9.65579V4.34779L7.10927 1.51164L12.7816 4.34779V9.65579Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M0.176471 9.65579V3.95829C0.176416 3.84117 0.208998 3.72635 0.270561 3.62671C0.332124 3.52708 0.420232 3.44656 0.525001 3.39421L6.82754 0.242941C6.91502 0.199227 7.01147 0.176471 7.10927 0.176471C7.20706 0.176471 7.30351 0.199227 7.39099 0.242941L13.6935 3.39421C13.7983 3.44656 13.8864 3.52708 13.948 3.62671C14.0095 3.72635 14.0421 3.84117 14.0421 3.95829V9.65579C14.0415 10.7224 13.784 11.7732 13.2915 12.7193C12.7989 13.6654 12.0857 14.4789 11.2122 15.0911L7.4704 17.7098C7.36453 17.7838 7.23846 17.8235 7.10927 17.8235C6.98008 17.8235 6.85401 17.7838 6.74813 17.7098L3.00631 15.0911C2.13284 14.4789 1.41965 13.6654 0.927077 12.7193C0.434506 11.7732 0.177044 10.7224 0.176471 9.65579ZM14.2185 3.95837V9.65579C14.2179 10.7508 13.9536 11.8296 13.448 12.8008C12.9423 13.772 12.2102 14.6072 11.3135 15.2356L7.57159 17.8544C7.43606 17.9491 7.27463 18 7.10927 18C6.9439 18 6.78254 17.9492 6.64701 17.8544L2.90513 15.2357C2.00844 14.6072 1.27621 13.772 0.77055 12.8008C0.264892 11.8296 0.00058893 10.7509 5.35254e-08 9.65588V3.95837C5.35254e-08 3.95834 5.35254e-08 3.9584 5.35254e-08 3.95837C-5.45373e-05 3.80848 0.0416496 3.66146 0.120436 3.53395C0.199229 3.40643 0.311994 3.30338 0.446081 3.23637C0.446069 3.23638 0.446094 3.23637 0.446081 3.23637L6.74862 0.0851009C6.8606 0.0291477 6.98409 0 7.10927 0C7.23444 0 7.3579 0.0291288 7.46987 0.085082L13.7724 3.23635C13.7724 3.23635 13.7724 3.23636 13.7724 3.23635C13.9065 3.30337 14.0193 3.40643 14.0981 3.53395C14.1769 3.66146 14.2186 3.80848 14.2185 3.95837C14.2185 3.9584 14.2185 3.95834 14.2185 3.95837ZM12.017 12.0556C12.4029 11.3145 12.6046 10.4913 12.6051 9.65569V4.45685L7.10927 1.70894L1.61345 4.45685V9.65569C1.61391 10.4913 1.81562 11.3145 2.20153 12.0556C2.58744 12.7968 3.14618 13.4341 3.83049 13.9136L7.10927 16.2087L10.388 13.9136C11.0724 13.4341 11.6311 12.7968 12.017 12.0556ZM10.4893 14.0581C11.1968 13.5623 11.7745 12.9034 12.1735 12.1371C12.5725 11.3708 12.7811 10.5197 12.7816 9.65579V4.34779L7.10927 1.51164L1.43698 4.34779V9.65579C1.43745 10.5197 1.64601 11.3708 2.04501 12.1371C2.444 12.9034 3.0217 13.5623 3.72921 14.0581L7.10927 16.4241L10.4893 14.0581Z"></path></svg>
                    <p class="point-title">{{block.settings.point3}}</p>
                  </div>
                </div> 
                <img src="https://cdn.shopify.com/s/files/1/0799/8714/7049/files/payment.jpg?v=1721983833" alt="" class="b-img">
                <div class="btn-wrap">
                  {% if product.available %}
                    {% comment %} <div class="buy-btn" data-id="{{product.variants[0].id}}">Buy Now</div> {% endcomment %}
                    {%- assign product_form_id = 'product-quick-view-form-' | append: product.id -%}
                    {%- form 'product', product, id: product_form_id, class: 'form productView-action', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <div class="productView-group">
                        <div class="productView-groupTop">
                          <div class="productView-action">
                            <input
                              type="hidden"
                              name="id"
                              value="{{ product.variants[0].id }}">
                            <div class="product-form__buttons">
                              <button
                                type="submit"
                                name="add"
                                data-btn-addToCart
                                class="add-cart button buy-btn"
                                id="product-quick-shop-add-to-cart">
                                ADD TO CART
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endform -%}
                  {% else %}
                    <div class="buy-out">sold out</div>
                  {% endif %} 
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="section4">
    <div class="content">
      <div class="small-count-down">
        <div class="time-item ">
          <span class="date">00</span><span>D</span>
        </div>
        <div class="time-item ">
          <span class="date">00</span><span>H</span>
        </div>
        <div class="time-item ">
          <span class="date">00</span><span>M</span>
        </div>
        <div class="time-item ">
          <span class="date">00</span><span>S</span>
        </div>
      </div>
      <div class="left-title">BEST DEAL - LIMITED TIME OFFER</div>
      <div class="shop-list">
        {% for block in section.blocks %}
          {% if block.type == 'product2' %}
            {% assign product = all_products[block.settings.product] %}
            <div class="shop-item">
              {% unless product.available %}
                <div class="slod-out-tag">Not Available Now</div>
              {% endunless %}
              <img class="shop-img" srcset="
                {%- if block.settings.image.width >= 533 -%}
                    {{ block.settings.image | img_url: '533x' }} 533w, 
                {%- endif -%}
                {%- if block.settings.image.width >= 534 -%}
                    {{ block.settings.image | img_url: '534x' }} 534w,
                {%- endif -%}
                {%- if block.settings.image.width >= 720 -%}
                    {{ block.settings.image | img_url: '720x' }} 720w,
                {%- endif -%}
                {%- if block.settings.image.width >= 940 -%}
                    {{ block.settings.image | img_url: '940x' }} 940w,
                {%- endif -%}
                {%- if block.settings.image.width >= 1066 -%}
                    {{ block.settings.image | img_url: '1066x' }} 1066w
                {%- endif -%}"
                src="{{ product.images[2] | img_url: '533x' }}"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ block.settings.image.alt | escape }} {{block.settings.image.width}}"
                loading="lazy"
                class="motion-reduce"
              >
              <div class="shop-info">
                <div class="star-wrap">
                  <picture class="image-picture">
                    <img loading="lazy" fetchpriority="low"
                      src="https://cdn.shopify.com/s/files/1/0726/1221/7115/files/ecom-no-replace-DVlvEJhD5arate-star.png?v=1709094089"
                      alt="arate-star" width="86" height="14">
                  </picture>
                  <div>({{block.settings.star_num}})</div>
                </div> 
                <a href="{{product.url}}" target="_blank" rel="noopener noreferrer">
                  <div class="shop-title">{{product.title}}</div>
                </a>
                <div class="price">
                  <div class="now-price">{{product.price | money}}</div>
                  <del class="old-price">{{product.compare_at_price | money}}</del>
                </div> 
                {% if block.settings.dom %}
                  <div class="shipping">Free Shipping & 14-Day Money Back Guarantee</div> 
                  <div>{{block.settings.dom}}</div>
                {% endif %}
                <div class="btn-wrap">
                  {% if product.available %}
                    {% comment %} <div class="add-cart" data-id="{{product.variants[0].id}}">ADD TO CART</div> {% endcomment %}
                    {%- assign product_form_id = 'product-quick-view-form-' | append: product.id -%}
                    {%- form 'product', product, id: product_form_id, class: 'form productView-action', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <div class="productView-group">
                        <div class="productView-groupTop">
                          <div class="productView-action">
                            <input
                              type="hidden"
                              name="id"
                              value="{{ product.variants[0].id }}">
                            <div class="product-form__buttons">
                              <button
                                type="submit"
                                name="add"
                                data-btn-addToCart
                                class="add-cart button"
                                id="product-quick-shop-add-to-cart">
                                ADD TO CART
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endform -%}
                  {% else %} 
                  {% endif %}
                  <div class="buy-out" >sold out</div>
                </div> 
              </div>
            </div>
          {% endif %}
        {% endfor %}
        
        {% comment %} <div class="shop-item">
          <div class="slod-out-tag">Slod out</div>
          <img class="shop-img" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/1crealityfalcon212w.jpg?v=1714296001&width=1946" alt="shop-img">
          <!-- <img class="shop-img" srcset="
            {%- if product.featured_media.width >= 533 -%}
                {{ product.featured_media | img_url: '533x' }} 533w, 
            {%- endif -%}
            {%- if product.featured_media.width >= 534 -%}
                {{ product.featured_media | img_url: '534x' }} 534w,
            {%- endif -%}
            {%- if product.featured_media.width >= 720 -%}
                {{ product.featured_media | img_url: '720x' }} 720w,
            {%- endif -%}
            {%- if product.featured_media.width >= 940 -%}
                {{ product.featured_media | img_url: '940x' }} 940w,
            {%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}
                {{ product.featured_media | img_url: '1066x' }} 1066w
            {%- endif -%}"
            src="{{ product.images[2] | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
            loading="lazy"
            class="motion-reduce"
          > -->
          <div class="shop-info">
            <!-- <div class="price">
              <div class="now-price">{{product.price | money}}</div>
              <del class="old-price">{{product.compare_at_price | money}}</del>
            </div> -->
            <div class="star-wrap">
              <picture class="image-picture">
                <img loading="lazy" fetchpriority="low"
                  src="https://cdn.shopify.com/s/files/1/0726/1221/7115/files/ecom-no-replace-DVlvEJhD5arate-star.png?v=1709094089"
                  alt="arate-star" width="86" height="14">
              </picture>
              <div>(135)</div>
            </div>
            </figure>
            <div class="shop-title">Falcon2 12W Laser Engraver and Cutter</div>
            <div class="price">
              <div class="now-price">$379.00</div>
              <del class="old-price">$619.00</del>
            </div>
            <!-- <div class="shop-title">{{product.title}}</div> -->
            <div class="btn-wrap">
              <div class="add-cart" data-id="{{product.variants[0].id}}">ADD TO CART</div>
              <div class="buy-out" >sold out</div>
            </div>
          </div>
        </div>
        <div class="shop-item">
          <div class="slod-out-tag">Slod out</div>
          <img class="shop-img" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/1crealityfalcon212w.jpg?v=1714296001&width=1946" alt="shop-img">
          <!-- <img class="shop-img" srcset="
            {%- if product.featured_media.width >= 533 -%}
                {{ product.featured_media | img_url: '533x' }} 533w, 
            {%- endif -%}
            {%- if product.featured_media.width >= 534 -%}
                {{ product.featured_media | img_url: '534x' }} 534w,
            {%- endif -%}
            {%- if product.featured_media.width >= 720 -%}
                {{ product.featured_media | img_url: '720x' }} 720w,
            {%- endif -%}
            {%- if product.featured_media.width >= 940 -%}
                {{ product.featured_media | img_url: '940x' }} 940w,
            {%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}
                {{ product.featured_media | img_url: '1066x' }} 1066w
            {%- endif -%}"
            src="{{ product.images[2] | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
            loading="lazy"
            class="motion-reduce"
          > -->
          <div class="shop-info">
            <!-- <div class="price">
              <div class="now-price">{{product.price | money}}</div>
              <del class="old-price">{{product.compare_at_price | money}}</del>
            </div> -->
            <div class="star-wrap">
              <picture class="image-picture">
                <img loading="lazy" fetchpriority="low"
                  src="https://cdn.shopify.com/s/files/1/0726/1221/7115/files/ecom-no-replace-DVlvEJhD5arate-star.png?v=1709094089"
                  alt="arate-star" width="86" height="14">
              </picture>
              <div>(135)</div>
            </div>
            </figure>
            <div class="shop-title">Falcon2 12W Laser Engraver and Cutter</div>
            <div class="price">
              <div class="now-price">$379.00</div>
              <del class="old-price">$619.00</del>
            </div>
            <!-- <div class="shop-title">{{product.title}}</div> -->
            <div class="btn-wrap">
              <div class="add-cart" data-id="{{product.variants[0].id}}">ADD TO CART</div>
              <div class="buy-out" >sold out</div>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="section5">
    <div class="content">
       <div class="video-shop">
        <div class="video-shop-item">
          <video class="video" autoplay muted loop>
            <source src="https://cdn.shopify.com/videos/c/o/v/adcac4e826264318bcab463fa9a6c837.mp4" type="video/mp4">
            <p> The current browser does not support video tags </p>
          </video>
          <div class="float-shop">
            {% assign product = all_products[section.settings.product1] %}
            {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
            <div class="discount">-{{discount_percentage}}% OFF</div> 
            <div class="v-shop">
              <div class="img-wrap">
                <img class="shop-img" srcset="
                  {%- if product.featured_media.width >= 533 -%}
                      {{ product.featured_media | img_url: '533x' }} 533w, 
                  {%- endif -%}
                  {%- if product.featured_media.width >= 534 -%}
                      {{ product.featured_media | img_url: '534x' }} 534w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}
                      {{ product.featured_media | img_url: '720x' }} 720w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}
                      {{ product.featured_media | img_url: '940x' }} 940w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}
                      {{ product.featured_media | img_url: '1066x' }} 1066w
                  {%- endif -%}" 
                  src="{{ product.images[2] | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                  loading="lazy"
                  class="motion-reduce"
                >
              </div>
              <div class="r-info">
                <div class="shop-title">{{product.title}}</div>
                <div class="price">
                  <div class="now-price">{{product.price | money}}</div> 
                  <u class="old-price">{{product.compare_at_price | money}}</u>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="video-shop-item">
            <video class="video" autoplay muted loop>
              <source src="https://cdn.shopify.com/videos/c/o/v/ac5421f0defb4df2bbd554a0934b49e3.mp4" type="video/mp4">
              <p> The current browser does not support video tags </p>
            </video>
            <div class="float-shop">
            {% assign product = all_products[section.settings.product2] %}
            {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
            <div class="discount">-{{discount_percentage}}% OFF</div> 
            <div class="v-shop">
              <div class="img-wrap">
                <img class="shop-img" srcset="
                  {%- if product.featured_media.width >= 533 -%}
                      {{ product.featured_media | img_url: '533x' }} 533w, 
                  {%- endif -%}
                  {%- if product.featured_media.width >= 534 -%}
                      {{ product.featured_media | img_url: '534x' }} 534w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}
                      {{ product.featured_media | img_url: '720x' }} 720w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}
                      {{ product.featured_media | img_url: '940x' }} 940w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}
                      {{ product.featured_media | img_url: '1066x' }} 1066w
                  {%- endif -%}" 
                  src="{{ product.images[2] | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                  loading="lazy"
                  class="motion-reduce"
                >
              </div>
              <div class="r-info">
                <div class="shop-title">{{product.title}}</div>
                <div class="price">
                  <div class="now-price">{{product.price | money}}</div> 
                  <u class="old-price">{{product.compare_at_price | money}}</u>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="video-shop-item">
          <video class="video" autoplay muted loop>
            <source src="https://cdn.shopify.com/videos/c/o/v/5a44daa2d675467eb2076db7f7abc37b.mp4" type="video/mp4">
            <p> The current browser does not support video tags </p>
          </video>
          <div class="float-shop">
            {% assign product = all_products[section.settings.product3] %}
            {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
            <div class="discount">-{{discount_percentage}}% OFF</div> 
            <div class="v-shop">
              <div class="img-wrap"> 
                <img class="shop-img" srcset="
                  {%- if product.featured_media.width >= 533 -%}
                      {{ product.featured_media | img_url: '533x' }} 533w, 
                  {%- endif -%}
                  {%- if product.featured_media.width >= 534 -%}
                      {{ product.featured_media | img_url: '534x' }} 534w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}
                      {{ product.featured_media | img_url: '720x' }} 720w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}
                      {{ product.featured_media | img_url: '940x' }} 940w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}
                      {{ product.featured_media | img_url: '1066x' }} 1066w
                  {%- endif -%}" 
                  src="{{ product.images[2] | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                  loading="lazy"
                  class="motion-reduce"
                >
              </div>
              <div class="r-info">
                <div class="shop-title">{{product.title}}</div>
                <div class="price">
                  <div class="now-price">{{product.price | money}}</div> 
                  <u class="old-price">{{product.compare_at_price | money}}</u>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="section6">
    <div class="content">
      <div class="up-number">
        <div class="numbers">
          <div class="number-item">
            <span id="num1" class="number">0</span><span class="n-text">M</span>
            <div class="text">Warranty Offer</div>
          </div>
          <div class="number-item">
            <span id="num2" class="number">0</span><span class="n-text">+</span>
            <div class="text">Years Experience</div>
          </div>
          <div class="number-item">
            <span id="num3" class="number">0</span><span class="n-text">K+</span>
            <div class="text">Sale Per Year</div>
          </div> 
          <div class="number-item">
            <span id="num4" class="number">0</span><span class="n-text">+</span>
            <div class="text">Rating</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  $(function() {
    const isMobile = document.documentElement.clientWidth <= 768;
    // 
    function fadeInListen() {
      var fadeIn = $('.containers').find('.fadein');
      fadeIn.each(function () {
        let element = this;
        let {
          scrub,
          reverse,
          duration,
          actions,
          fn
        } = $(this).data()

        gsap.set(element, {
          opacity: 0,
          y: 20
        });
        let toggleActions = "play none none none";
        let start = $(this).data('start') || 70;
        duration ? '' : duration = 0.8
        let tl = gsap.to(element, {
          opacity: 1,
          y: 0,
          duration
        });
        if (reverse) {
          toggleActions = "play none none reverse"
        }

        ScrollTrigger.create({
          animation: tl,
          trigger: element,
          toggleActions,
          start: `top ${start}%`, // 
          onEnter: function () {

          },
          once: true // 
        });
      });
    }
    fadeInListen();

    // seciton 6 
    const tl6 = gsap.timeline({
      scrollTrigger: {
        trigger: ".section6",
        start: "top 70%", // .containers80%
        // end: "bottom top", // .containers 
        // scrub: 1, // 
        // markers: true // 
      }
    });

    // 
    function animateNumber(elementId, endValue, isUNnmber = false) {
      console.log(elementId, 'elementId');
      return gsap.to(`#${elementId}`, {
        innerText: endValue,
        duration: 1.5,
        snap: { innerText: 1 },
        ease: "none",
        onUpdate: function() {
          const element = document.getElementById(elementId); 
          // 
          let formattedValue = ""; 
          if(isUNnmber) {
            formattedValue = new Intl.NumberFormat('en-US').format(Math.ceil(this.targets()[0].innerText));
          } else {
            formattedValue = Math.ceil(this.targets()[0].innerText);
          }
          console.log(this.targets());
          element.innerText = formattedValue;
        }
      });
    }
    // Timeline
    tl6.add(animateNumber("num4", 3500, true), 0)
      .add(animateNumber("num3", 100), 0.5)
      .add(animateNumber("num2", 10), 1)
      .add(animateNumber("num1", 12), 1.5);

    // 
    $("#app-{{section.id}} .buy-btn").click(function(e) {
      var productId = $(this).attr("data-id"); 
      $.ajax({
        type: "POST",
        url: "/cart/clear.js",
        data: {},
        dataType: "json",
        success: function() { 
          $.ajax({
            type: "POST",
            url: "/cart/add.js",
            data: {
              quantity: 1,
              id: productId
            },
            dataType: "json",
            success: function() { 
              window.location.href = "/checkout";
            }
          });
        }
      });
    })
    // 
    const count_down = {{ section.settings.count_down | json}}; 
    (function () {
        if (!count_down && !count_down.length) return;
        let ymdarr = count_down.split(" ")[0].split("-");
        let hmsarr = count_down.split(" ")[1].split(":");
      
        if (ymdarr.length === 3 && hmsarr.length === 3) {
            let timer = null;
            clearInterval(timer);

            const oYear = Number(ymdarr[0]);
            const oMonth = Number(ymdarr[1]) - 1; // 1
            const oDay = Number(ymdarr[2]);
            const oHour = Number(hmsarr[0]);
            const oMinute = Number(hmsarr[1]);
            const oSecond = Number(hmsarr[2]);

            // 
            timer = setInterval(function () {
                // 
                const funtureDate = new Date(oYear, oMonth, oDay, oHour, oMinute, oSecond);
                const now = new Date();
                const beijingNow = new Date(now.getTime() + (now.getTimezoneOffset() * 60000) + 28800000); // 
                const isTime = funtureDate.getTime() - beijingNow.getTime();

                if (isTime < 1000) {
                    $(".count-down").hide();
                    clearInterval(timer);
                    return;
                }

                const funtureTime = funtureDate.getTime();
                const presenTime = beijingNow.getTime(); 

                if (funtureTime < presenTime) return; // 

                const allTime = funtureTime - presenTime;
                const allSecond = parseInt(allTime / 1000);

                const day = size(parseInt(allSecond / 3600 / 24));
                const hour = size(parseInt(allSecond / 3600 % 24));
                const minute = size(parseInt(allSecond / 60 % 60));
                const second = size(parseInt(allSecond % 60));

                const nodes = document.querySelectorAll(".num");
                const nodes2 = document.querySelectorAll(".date");
                nodes[0].innerHTML = day; 
                nodes[1].innerHTML = hour;
                nodes[2].innerHTML = minute;
                nodes[3].innerHTML = second;
                nodes2[0].innerHTML = day;
                nodes2[1].innerHTML = hour;
                nodes2[2].innerHTML = minute;
                nodes2[3].innerHTML = second;
            }, 1000);
        }
    })();
 
    function size(num) {
      return num < 10 && num >= 0 ? '0' + num : num;
    }
  })
</script>

{% schema %}
  {
    "name": "2024 08 ",
    "settings": [
      {
        "type": "text",
        "id": "count_down",
        "label": "",
        "default": "2024-08-09 10:00:00",
        "info": "2024-08-09 10:00:00"
      },
      {
        "type": "product",
        "id": "product1",
        "label": "1"
      },
      {
        "type": "product",
        "id": "product2",
        "label": "2"
      },
      {
        "type": "product",
        "id": "product3",
        "label": "3"
      }
    ],
    "blocks":[
      {
        "type":"product1",
        "name": "product1",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": ""
          },
          {
            "type": "text",
            "id": "point1",
            "label": "1"
          },
          {
            "type": "text",
            "id": "point2",
            "label": "2"
          },
          {
            "type": "text",
            "id": "point3",
            "label": "3"
          }
        ]
      },
      {
        "type":"product2",
        "name": "product2",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": ""
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": ""
          },
          {
            "type": "text",
            "id": "star_num",
            "label": ""
          },
          {
            "type": "textarea",
            "id": "dom", 
            "label": "dom"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "2024 08 "
      }
    ]
  }
{% endschema %}