<style>
.section-block-{{section.id}} {
  background: linear-gradient(to bottom, #DFD7EC 0%, #F3EEEA 50%, #F9F7E0 100%);
  line-height: normal;
}
.section-block-{{section.id}} .linear-gradient-text {
  background: linear-gradient(to right,#FE5550 0%, #F9165E 50%, #C282B0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}
.section-block-{{section.id}} .common-title {
  font-size: 1.679vw;
  font-weight: 600;
  color: #593169;
  text-align: center;
  margin-bottom: 1.563vw;
}
.section-block-{{section.id}} .common-subtitle {
  font-size: 1.042vw;
  font-weight: 500;
  text-align: center;
}
.section-block-{{section.id}} .content {
  width: 62.500vw;
  margin: 0 auto;
}
.section1 img {
  width: 100%;
}
.section-block-{{section.id}} .section2 .time-wrap {
  text-align: center;
  width: 15.625vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.521vw;

}
.section-block-{{section.id}} .section2 .time-item {
  /* height: 48px; */
  /* line-height: 48px; */
  font-size: 2.500vw;
  font-weight: 500;
  color: #000000;
}
.section-block-{{section.id}} .section2 .date {  
  color: #827C88; 
  font-size: 0.729vw;
}
.section-block-{{section.id}} .shop-list {
  width: 52.083vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25.521vw  25.521vw ;
  grid-gap: 1.042vw 1.042vw ;
  grid-auto-rows: auto;
}
.section-block-{{section.id}} .shop-list-three {
  width: 62.500vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 19.792vw  19.792vw  19.792vw ;
  grid-gap: 1.042vw  1.042vw ;
  grid-auto-rows: auto;
} 
.section-block-{{section.id}} .shop-list .shop {
  border-radius: 0.625vw;
  position: relative;
}
.section-block-{{section.id}} .shop-list .shop .geezer {
  position: absolute;
  left: 0.833vw;
  z-index: 50;
  top: 0;
  width: 2.604vw;
}
.section-block-{{section.id}} .shop-list .shop .geezer img {
 width: 100%;
}
.section-block-{{section.id}} .shop-list .shop .geezer .discount {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.833vw;
  top: 0;
}
.section-block-{{section.id}} .shop-list .shop .product-description {
  background-color: #F7F7F7;
  padding: 0.833vw;
  border-radius: 0 0 0.781vw  0.781vw ;
}
.section-block-{{section.id}} .shop-list .shop .product-description .left-box {
  display: flex;
  justify-content: space-between;
}
.section-block-{{section.id}} .shop-list .shop .product-description .product-name {
  font-size: 1.042vw;
  font-weight: bold;
  height: 2.708vw;
  /* white-space: nowrap; 确保文本在同一行显示 */
  overflow: hidden; /* 隐藏超出容器部分的文本 */
  /* text-overflow: ellipsis; 超出部分显示为省略号 */
  margin-bottom: 0.521vw;
}
.section-block-{{section.id}} .shop-list .shop .product-description .money-box {
  
}
.section-block-{{section.id}} .shop-list .shop .product-description .money-box .now-price {
  font-size: 1.042vw;
  font-weight: bold;
  margin-right: 0.521vw;
}
.section-block-{{section.id}} .shop-list .shop .product-description .money-box .old-price {
  font-size: 0.833vw;
}
.section-block-{{section.id}} .shop-list .shop .product-btn-box {
  display: flex;
  align-items: center;
}
.section-block-{{section.id}} .shop-list .shop .product-btn-box .buy-now {
  cursor: pointer;
  border-radius: 20px;
  width: 6.250vw;
  height: 1.667vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.833vw;
  background: linear-gradient(to right,#FF4469 0%, #D31361 65%, #67146A 100%);
}
.section-block-{{section.id}} .shop-list .shop .product-btn-box .product-form__submit {
  cursor: pointer;
  border-radius: 1.042vw;
  width: 6.250vw; 
  height: 1.667vw;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.833vw;
  background: linear-gradient(to right,#63247C 0%, #946ABB 100%);
  margin-right: 0.521vw;
}
.section-block-{{section.id}} .shop-list .shop .product-text {
  font-size: 0.833vw;
  padding: 0.833vw;
}
.section-block-{{section.id}} .section6 .content-box {
  display: flex;
}
.section-block-{{section.id}} .section6 .content-box .left-img {
  border-radius: 0 1.042vw  1.042vw  0;
  width: 60%;
}
.section-block-{{section.id}} .section6 .content-box .right-box {
  align-items: center;
  padding: 2.604vw;
  width: 40%;
}
.section-block-{{section.id}} .section6 .content-box .right-box .title {
  font-size: 1.979vw;
  font-weight: bold;
  color: #593169;
}
.section-block-{{section.id}} .section6 .content-box .right-box .subtitle {
  margin-top: 0.521vw;
  margin-bottom: 2.604vw;
  font-size: 1.146vw;
  font-weight: 500;
  color: #593169;
}
.section-block-{{section.id}} .section6 .content-box .right-box .learn-more {
  cursor: pointer;
  border-radius: 50px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,#63247C 0%, #946ABB 100%);
  font-size: 0.833vw;
  width: 10.417vw;
  height: 2.188vw;
}
.section-block-{{section.id}} .section7 .card-list {
  display: flex;
  justify-content: space-between;
}
.section-block-{{section.id}} .section7 .card-list .card-item {
  width: 19.792vw;
}
.section-block-{{section.id}} .section7 .card-btn {
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.833vw;
  font-weight: 600;
  color: #ffffff;
  width: 10.417vw;
  margin: 1.042vw  auto 0 auto;
  height: 2.188vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,#63247C 0%, #946ABB 100%);
}
.section-block-{{section.id}} .section8 .input-box {
  width: 100%;
  position: relative;
}
.section-block-{{section.id}} .section8 .email-input  {
  height: 2.604vw;
  width: 100%;
  border-radius: 2.604vw;
  padding-left: 2.604vw;
  border: none;
  font-size: 1.146vw;
  font-weight: 600;
  background-color: #E2DEDD;
}
.section-block-{{section.id}} .section8 .submit-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 10.417vw;
  height: 2.604vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.250vw;
  font-weight: 600;
  border: none;
  background: linear-gradient(to right,#9472BF 0%, #692B80 100% );
}
.section-block-{{section.id}} .section8 .customer-section-form {
  display: block;
  width: 52.083vw;
  margin: 1.563vw  auto 0 auto;
}
.section-block-{{section.id}} .section9 .icon-list {
  border-radius: 0.781vw;
  background-color: #FAFAF0;
  width: 52.083vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.section-block-{{section.id}} .section9 .icon-list .icon-item {
  width: 19.792vw;
  padding: 1.563vw;
}
.section-block-{{section.id}} .section9 .icon-list .icon-img { 
  width: 7.813vw;
  margin: 0 auto;
}
.section-block-{{section.id}} .section9 .icon-list .icon-name {
  margin-top: 0.833vw;
  text-align: center;
  font-size: 1.042vw;
  font-weight: 500;
}
.section-block-{{section.id}} .section11 {
  padding: 3.125vw 0;
}
.section-block-{{section.id}} .rule-text {
  font-size: 0.938vw;
  font-weight: 500;
}
.section-block-{{section.id}} .product-img {
  width: 100%;
  border-radius: 0.781vw 0.781vw 0 0;
}
@media (min-width: 768px) {
  .section-block-{{section.id}} .mb {
    display: none;
  }
  .section-block-{{section.id}} .mt-60 {
    margin-top: 60px;
  }
  .section-block-{{section.id}} .mb-60 {
    margin-bottom: 60px; 
  }
  .section-block-{{section.id}} .vertical-center {
    margin-top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 768px) {
  .section-block-{{section.id}} .product-img {
    width: 100%;
    border-radius: 2.667vw 2.667vw 0 0;
  }
  .section-block-{{section.id}} .mt-60 {
    margin-top: 10.667vw;
  }
  .section-block-{{section.id}} .pc {
    display: none;
  }
  .section-block-{{section.id}} .common-title {
    font-size: 5.333vw;
    margin-bottom: 1.600vw;
  }
  .section-block-{{section.id}} .common-subtitle {
    font-size: 4.267vw;
  }
  .section-block-{{section.id}} .content {
    width: 100%;
    padding: 0 4.267vw;
  }
  .section-block-{{section.id}} .section2 .time-wrap {
    width: 66.667vw;
    margin-bottom: 2.667vw;
  }
  .section-block-{{section.id}} .section2 .time-item {
    font-size: 10.667vw;
    font-weight: 400;
  }
  .section-block-{{section.id}} .section2 .date {  
    font-size: 3.733vw;
  }
  .section-block-{{section.id}} .shop-list {
    width: 100%;
    grid-template-columns: 49% 49%;
    grid-gap: 16px 2%;
  }
  .section-block-{{section.id}} .shop-list .shop {
    border-radius: 2.667vw;
  }
  .section-block-{{section.id}} .shop-list .shop .geezer {
    left: 2.667vw;
    width: 10.667vw;
  }
  .section-block-{{section.id}} .shop-list .shop .geezer .discount {
    font-size: 3.733vw;
  }
  .section-block-{{section.id}} .shop-list .shop .product-description {
    padding: 2.667vw 2.667vw 2.667vw 2.667vw;;
    border-radius: 0 0 2.667vw 2.667vw;
  }
  .section-block-{{section.id}} .shop-list .shop .product-description .left-box {
    flex-wrap: wrap;
  }
  .section-block-{{section.id}} .shop-list .shop .product-description .money-box {
    width: 100%;
  }
  .section-block-{{section.id}} .shop-list .shop .product-description .product-name {
    font-size: 3.733vw;
    height: 9.708vw;
    margin-bottom: 2.133vw;
    display: -webkit-box; /* 将对象作为弹性伸缩盒子模型显示 */
    -webkit-line-clamp: 2; /* 控制在块元素显示的文本的行数 */
    -webkit-box-orient: vertical;  /* 设置或检索伸缩盒对象的子元素的排列方式 */
    overflow: hidden;  /* 内容会被裁剪，并且其余内容是不可见的 */
    text-overflow: ellipsis;  /* 当对象内文本溢出时显示省略标记(...), 仅在一行时生效 */
  }
  .section-block-{{section.id}} .shop-list .shop .product-description .money-box .now-price {
    font-size: 3.733vw;
    margin-right: 4.267vw;
  }
  .section-block-{{section.id}} .shop-list .shop .product-description .money-box .old-price {
    font-size: 3.200vw;
  }
  .section-block-{{section.id}} .shop-list .shop .product-description .product-btn-box {
    width: 100%;
    flex-wrap: wrap;
  }
  .section-block-{{section.id}} .shop-list .shop .product-btn-box .buy-now {
    border-radius: 5.333vw;
    width: 100%;
    height: 4.800vw;
    font-size: 3.467vw;
    margin-right: 0;
  }
  .section-block-{{section.id}} .shop-list .shop .product-btn-box form {
    width: 100%;
    margin-bottom: 1.600vw;
  }
  .section-block-{{section.id}} .shop-list .shop .product-btn-box .product-form__submit {
    border-radius: 5.333vw;
    width: 100%;
    height: 4.800vw;
    font-size: 3.467vw;
    margin-right: 0;
  }
  .section-block-{{section.id}} .shop-list .shop .product-text {
    font-size: 2.667vw;
    padding: 1.067vw;
  }
  .content-box {
    flex-wrap: wrap;
  }
  .section-block-{{section.id}} .section6 .content-box .left-img {
    width: 100%;
    border-radius: 0;
  }
  .section-block-{{section.id}} .section6 .content-box .right-box {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 4.267vw;
  }
  .section-block-{{section.id}} .section6 .content-box .right-box .title {
    font-size: 5.333vw;
  }
  .section-block-{{section.id}} .section6 .content-box .right-box .subtitle {
    margin-top: 2.133vw;
    margin-bottom: 5.333vw;
    font-size: 4.267vw;
  }
  .section-block-{{section.id}} .section6 .content-box .right-box .learn-more {
    border-radius: 5.333vw;
    font-size: 4.267vw;
    width: 40.000vw;
    margin: 0 auto;
    height: 8.533vw;
  }
  .section-block-{{section.id}} .section7 .card-list .card-item {
    width: 32%;
  }
  .section-block-{{section.id}} .section7 .card-btn {
    border-radius: 5.333vw;
    font-size: 3.200vw;
    width: 26.667vw;
    margin: 1.600vw auto 0 auto;
    height: 5.867vw;
  }
  .section-block-{{section.id}} .section8 .email-input  {
    height: 8.533vw;
    border-radius: 5.333vw;
    padding-left: 4.267vw;
    font-size: 3.200vw;
  }
  .section-block-{{section.id}} .section8 .submit-button {
    width: 40.000vw;
    height: 8.533vw;
    font-size: 4.267vw;
  }
  .section-block-{{section.id}} .section8 .customer-section-form {
    width: 100%;
    margin: 4.267vw auto 0 auto;
  }
  .section-block-{{section.id}} .section9 .icon-list {
    border-radius: 4.000vw;
    width: 100%;
  }
  .section-block-{{section.id}} .section9 .icon-list .icon-item {
    width: 32%;
    padding: 2.667vw;
  }
  .section-block-{{section.id}} .section9 .icon-list .icon-img { 
    width: 18.667vw;
  }
  .section-block-{{section.id}} .section9 .icon-list .icon-name {
    margin-top: 2.667vw;
    font-size: 4.267vw;
  }
  .section-block-{{section.id}} .section11 {
    padding: 3.125vw 0;
  }
  .section-block-{{section.id}} .rule-text {
    padding: 6.667vw;
    font-size: 3.733vw;
  }
  .section-block-{{section.id}} .shop-list-three {
    width: 100%;
    grid-template-columns: 100%;
    grid-gap: 2%;
  } 
  .section-block-{{section.id}} .shop-list-three .shop {
    display: flex;
  }
  .section-block-{{section.id}} .shop-list-three .shop .img-wrap  {
    width: 50%; 
  }
  .section-block-{{section.id}} .shop-list-three .shop .product-description {
    width: 50%;
    padding: 2.667vw;
  }
}
</style> 
<!-- 折叠面板 -->
<style>
  .el-collapse-item {
    border-bottom: 1px solid #dcdfe6;
  }
  .el-collapse-item__header {
    padding: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    transition: border .3 ;
  }
  .commont-subtitle {
    font-size: 22px;
    font-size: 500;
    /* color: #ffffff; */
  }
  .el-collapse-item__arrow {
    margin-right: 10px;
    float: right;
  }
  .el-collapse-item__arrow.open {
    display: none;
  }
  .el-collapse-item__content {
    padding: 15px;
    font-size: 20px;
    /* color: #ffffff; */
    display: none;
  }
  .el-collapse-icon {
    margin-right: 5px;
    width: 20px;
    transition: all .3s;
    transform: rotate(90deg);
  }
  .el-collapse-icon.active {
    transform: rotate(270deg);
  }
  @media (max-width: 768px) {
    .el-collapse-icon {
      width: 14px;
    }
    .commont-subtitle {
      font-size: 16px;
    }
    .el-collapse-item__content {
      padding: 8px;
      font-size: 14px;
      display: none;
    }
  }
</style>
<div id="container" class="section-block-{{section.id}}"> 
  <div class="section1">
    <img class="banner-img pc" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/1_3f5b26cd-dbdf-46d5-9a95-b2c90b5e34eb.png?v=1711764822" alt="banner">
    <img class="banner-img mb" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/1_afc91b23-3bdc-4053-b75d-eaf2b60a76ad.png?v=1711765061" alt="banner">
  </div>
  <div class="section2 mt-60">
    <div class="content">
      <div class="time-wrap">
        <div>
          <div class="time-item linear-gradient-text day">00</div> 
          <div class="date">DAY</div>
        </div>
        <div>
          <div class="time-item hour">00</div> 
          <div class="date">HOUR</div>
        </div>
        <div>
          <div class="time-item minute">00</div> 
          <div class="date">MINUTE</div>
        </div>
        <div>
          <div class="time-item second">00</div> 
          <div class="date">SECOND</div>
        </div>
      </div>
      <div class="common-title">Ends on April 10th</div>
    </div>
  </div>
  <div class="section3 mt-60">
    <div class="content">
      <div class="common-title">
        Creality Falcon 10th Anniversary Celebration: <br class="pc"> 
        Embrace the Challenge, Unleash Endless Creativity!
      </div>
      <div class="shop-list">
        {% assign products = section.settings.collection1.products %}
        {% for product in products %}
          <div class="shop tw-relative">
            {% unless product.compare_at_price <= product.price %}
              <div class="geezer tw-absolute">
                {% assign str = product.compare_at_price | minus: product.price | money %}
                {% assign size = str | size | minus: 3 %}
                {% assign removed_three = str | slice: 0, size %}
                <img class="lazyload" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/6_793048f4-ec00-4c30-832f-72dd1347498a.png?v=1711786954" alt="">
                <div class="discount tw-absolute">
                  <div class="money">{{ removed_three }}</div>
                  <div>Save</div>
                </div>
              </div>
            {% endunless %}
            <div class="img-wrap album-product-surplus-image tw-col-span-2">
              <a class="tw-relative tw-block tw-w-full product-hover-img"  href="{{product.url }}">
                <img class="product-img" srcset="
                    {%- if product.featured_media.width >= 720 -%}
                        {{ product.featured_media | img_url: '720x' }} 720w,
                    {%- endif -%}
                    {%- if product.featured_media.width >= 940 -%}
                        {{ product.featured_media | img_url: '940x' }} 940w,
                    {%- endif -%}
                    {%- if product.featured_media.width >= 1066 -%}
                        {{ product.featured_media | img_url: '1066x' }} 1066w
                    {%- endif -%}"
                    src="{{ product.featured_media | img_url: '533x' }}"
                    sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                    loading="lazy"
                    class="motion-reduce"
                >
              </a>
            </div>
            <div class="product-description">
              <div class="product-name">{{product.title}}</div>
              <div class="left-box">
                <div class="money-box">
                  <span class="now-price linear-gradient-text">{{product.price | money}}</span>
                  <del class="old-price">{{product.compare_at_price | money}}</del>
                </div>
                <div class="product-btn-box">
                  {%- assign product_form_id = 'product-quick-view-form-' | append: product.id -%}
                  {%- form 'product', product, id: product_form_id, class: 'form productView-action', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <div class="productView-group">
                      <div class="productView-groupTop">
                        <div class="productView-action">
                          <input
                            type="hidden"
                            name="id"
                            value="{{ product.variants[0].id }}">
                          <div class="product-form__buttons">
                            <button
                              type="submit"
                              name="add"
                              data-btn-addToCart
                              class="product-form__submit button"
                              id="product-quick-shop-add-to-cart">
                              {{ 'products.product.add_to_cart' | t }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- endform -%}
                  <!-- <div product-id="{{product.variants[0].id}}" class="add-cart">Add to Card</div> -->
                  <div product-id="{{product.variants[0].id}}" class="buy-now">Buy Now</div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div> 
  <div class="section4 mt-60">
    <div class="content">
      <div class="common-title">
        Unbeateble Value: <br> 
        Grab Yours Now!
      </div>
      <div class="shop-list">
        {% assign products = section.settings.collection2.products %}
        {% for product in products %}
          <div class="shop tw-relative">
            {% unless product.compare_at_price == product.price %}
              <div class="geezer tw-absolute">
                {% assign str = product.compare_at_price | minus: product.price | money %}
                {% assign size = str | size | minus: 3 %}
                {% assign removed_three = str | slice: 0, size %}
                <img class="lazyload" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/6_793048f4-ec00-4c30-832f-72dd1347498a.png?v=1711786954" alt="">
                <div class="discount tw-absolute">
                  <div class="money">{{ removed_three }}</div>
                  <div>Save</div>
                </div>
              </div>
            {% endunless %}
            <div class="img-wrap album-product-surplus-image tw-col-span-2">
              <a class="tw-relative tw-block tw-w-full product-hover-img"  href="{{product.url }}">
                <img class="product-img" srcset="
                    {%- if product.featured_media.width >= 533 -%}
                        {{ product.featured_media | img_url: '533x' }} 533w,
                    {%- endif -%}
                    {%- if product.featured_media.width >= 534 -%}
                        {{ product.featured_media | img_url: '534x' }} 534w,
                    {%- endif -%}
                    {%- if product.featured_media.width >= 720 -%}
                        {{ product.featured_media | img_url: '720x' }} 720w,
                    {%- endif -%}
                    {%- if product.featured_media.width >= 940 -%}
                        {{ product.featured_media | img_url: '940x' }} 940w,
                    {%- endif -%}
                    {%- if product.featured_media.width >= 1066 -%}
                        {{ product.featured_media | img_url: '1066x' }} 1066w
                    {%- endif -%}"
                    src="{{ product.featured_media | img_url: '533x' }}"
                    sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                    loading="lazy"
                    class="motion-reduce"
                >
              </a>
            </div>
            <div class="product-description">
              <div class="product-name">{{product.title}}</div>
              <div class="left-box">
                <div class="money-box">
                  <span class="now-price linear-gradient-text">{{product.price | money}}</span>
                  <del class="old-price">{{product.compare_at_price | money}}</del>
                </div>
                <div class="product-btn-box">
                  {%- assign product_form_id = 'product-quick-view-form-' | append: product.id -%}
                  {%- form 'product', product, id: product_form_id, class: 'form productView-action', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <div class="productView-group">
                      <div class="productView-groupTop">
                        <div class="productView-action">
                          <input
                            type="hidden"
                            name="id"
                            value="{{ product.variants[0].id }}">
                          <div class="product-form__buttons">
                            <button
                              type="submit"
                              name="add"
                              data-btn-addToCart
                              class="product-form__submit button"
                              id="product-quick-shop-add-to-cart">
                              {{ 'products.product.add_to_cart' | t }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- endform -%}
                  <!-- <div product-id="{{product.variants[0].id}}" class="add-cart">Add to Card</div> -->
                  <div product-id="{{product.variants[0].id}}" class="buy-now">Buy Now</div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="section5 mt-60">
    <div class="content">
      <div class="common-title">
        Upgrade Your Setup: <br> 
        Exclusive Accessory Deals!
      </div>
      <div class="shop-list shop-list-three">
        {% for block in section.blocks %}
          {% if block.type == 'product' %}
          {% assign product = all_products[block.settings.product] %}
            <div class="shop tw-relative">
              {% unless product.compare_at_price == product.price %}
                <div class="geezer tw-absolute">
                  {% assign str = product.compare_at_price | minus: product.price | money %}
                  {% assign size = str | size | minus: 3 %}
                  {% assign removed_three = str | slice: 0, size %}
                  <img class="lazyload" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/6_793048f4-ec00-4c30-832f-72dd1347498a.png?v=1711786954" alt="">
                  <div class="discount tw-absolute">
                    <div class="money">{{ removed_three }}</div>
                    <div>Save</div>
                  </div>
                </div>
              {% endunless %}
              <div class="img-wrap album-product-surplus-image tw-col-span-2">
                <a class="tw-relative tw-block tw-w-full product-hover-img"  href="{{product.url }}">
                  <img class="product-img" srcset="
                      {%- if product.featured_media.width >= 165 -%}
                          {{ product.featured_media | img_url: '165x' }} 165w,
                      {%- endif -%}
                      {%- if product.featured_media.width >= 360 -%}
                          {{ product.featured_media | img_url: '360x' }} 360w,
                      {%- endif -%}
                      {%- if product.featured_media.width >= 533 -%}
                          {{ product.featured_media | img_url: '533x' }} 533w,
                      {%- endif -%}
                      {%- if product.featured_media.width >= 534 -%}
                          {{ product.featured_media | img_url: '534x' }} 534w,
                      {%- endif -%}
                      {%- if product.featured_media.width >= 720 -%}
                          {{ product.featured_media | img_url: '720x' }} 720w,
                      {%- endif -%}
                      {%- if product.featured_media.width >= 940 -%}
                          {{ product.featured_media | img_url: '940x' }} 940w,
                      {%- endif -%}
                      {%- if product.featured_media.width >= 1066 -%}
                          {{ product.featured_media | img_url: '1066x' }} 1066w
                      {%- endif -%}"
                      src="{{ product.featured_media | img_url: '533x' }}"
                      sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                      loading="lazy"
                      class="motion-reduce"
                  >
                </a>
              </div>
              <div class="product-description">
                <div class="product-name">{{product.title}}</div>
                <div class="left-box">
                  <div class="money-box">
                    <span class="now-price linear-gradient-text">{{product.price | money}}</span>
                    <del class="old-price">{{product.compare_at_price | money}}</del>
                  </div>
                  <div class="product-btn-box">
                    {%- assign product_form_id = 'product-quick-view-form-' | append: product.id -%}
                    {%- form 'product', product, id: product_form_id, class: 'form productView-action', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <div class="productView-group">
                        <div class="productView-groupTop">
                          <div class="productView-action">
                            <input
                              type="hidden"
                              name="id"
                              value="{{ product.variants[0].id }}">
                            <div class="product-form__buttons">
                              <button
                                type="submit"
                                name="add"
                                data-btn-addToCart
                                class="product-form__submit button"
                                id="product-quick-shop-add-to-cart">
                                {{ 'products.product.add_to_cart' | t }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endform -%}
                    <!-- <div product-id="{{product.variants[0].id}}" class="add-cart">Add to Card</div> -->
                    <div product-id="{{product.variants[0].id}}" class="buy-now">Buy Now</div>
                  </div>
                </div>
                <div class="product-text">
                  {{block.settings.bottom_text}}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="section6 mt-60">
    <div class="common-title">
      Capturing the Story of Creality X Falcon
    </div>
    <div class="content-box">
      <img class="left-img" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/23_f2d6a0a7-c63e-4c52-823b-4b017628b512.png?v=1711790664" alt="">
      <div class="right-box">
        <div class="vertical-center">
          <div class="title">Our Storyion</div>
          <div class="subtitle">This is a story about CrealityFalcon birth, where we arrived with a sense of miss</div>
          <a href="https://www.crealityfalcon.com/pages/brand-story" target="_blank" rel="noopener noreferrer">
            <div class="learn-more">Learn About Us</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section7 mt-60">
    <div class="content">
      <div class="common-title">
        Capturing the Story of Creality X Falcon
      </div>
      <div class="card-list">
        <div class="card-item">
          <img class="card-img" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/2_1eba1abe-1f97-4ebd-a053-041fd7bb1f06.png?v=1711793927" alt="">
            <a href="https://www.crealityfalcon.com/blogs/news/chef-to-laser-crafts-andres-journey" target="_blank" rel="noopener noreferrer">
              <div class="card-btn">Learn About Us</div>
            </a> 
        </div>
        <div class="card-item">
          <img class="card-img" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/3_85fc649d-aa56-46ae-86b5-e267799145d6.png?v=1711793927" alt="">
          <a href="https://www.crealityfalcon.com/blogs/news/precision-and-passion-athanasioss-laser-engraving-odyssey" target="_blank" rel="noopener noreferrer">
            <div class="card-btn">Learn About Us</div>
          </a>
        </div>
        <div class="card-item">
          <img class="card-img" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/4_0afce2f5-fd68-49e3-946a-c11ba63f89d2.png?v=1711793926" alt="">
          <a href="https://www.crealityfalcon.com/blogs/news/laser-engraving-cutting-business" target="_blank" rel="noopener noreferrer">
            <div class="card-btn">Learn About Us</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section8 mt-60">
    <div class="content">
      <div class="common-title">Sign up to get 5% off your first order!</div>
      <div class="common-subtitle">The first order discount code cannot be combined <br> with discounted products during promotional periods. </div>
        <!-- <mag-form><div class="mag-form" data-token="NiXn0DDAtwnjp0vCbH1Joobw0EO8wZnT"></div></mag-form> -->
      <div class="customer-section-form">
        {%- form 'customer', id: 'NewsletterSection', class: 'newsletter-block newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="input-box">
            <input id="NewsletterForm--{{ section.id }}" type="email" name="contact[email]" class="email-input" value="{{ form.email }}" 
              aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email"{% if form.errors %} 
              autofocus aria-invalid="true" aria-describedby="ContactFooter-error"{% elsif form.posted_successfully? %} aria-describedby="ContactFooter-success" {% endif %} 
              placeholder="Enter Your Best Email Address Here" required="required"
            >
            <button type="submit" class="button newsletter-form__button submit-button" name="commit" id="Subscribe-{{ section.id }}" aria-label="{{ 'newsletter.button_label' | t }}">SUBMIT</button>
          </div> 
          {%- if form.errors -%}
            <div class="newsletter-form__message newsletter-form__message--error form__message" id="ContactFooter-error">
              {% render 'icon-error' -%}
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
  <div class="section9 mt-60">
    <div class="content">
      <div class="common-title">We Are Here To Help</div>
      <div class="icon-list">
        <div class="icon-item">
          <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/2_be5d22ed-c4dc-4653-a9e8-3e1dddb21304.png?v=1711855398" alt="" class="icon-img">
          <div class="icon-name">Live Chat</div>
        </div>
        <div class="icon-item">
          <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/3_2d496d77-2cfa-4a17-82cb-19a6f27b055b.png?v=1711855304" alt="" class="icon-img">
          <div class="icon-name">E-mail Us</div>
        </div>
        <div class="icon-item">
          <img src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/4_fd38c821-bd5a-460e-8017-2934e2c4e0ee.png?v=1711855399" alt="" class="icon-img">
          <div class="icon-name">Facebook Group</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section10 mt-60">
    <div class="content">
      <div class="common-title">Help and FAQS</div>
      <div class="collapse-wrap">
        <div class="el-collapse">
          {% for block in section.blocks%}
            {% if block.type == 'rule_item' %}
              <div class="el-collapse-item">
                <div class="el-collapse-item__header collapse-actived">
                  <div class="commont-subtitle">{{block.settings.rule_title}}</div>
                  <img class="el-collapse-icon" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/4_fece3fd1-8455-418c-8b57-a02c64e5e3b2.png?v=1711857592" alt="">
                </div>
                <div class="el-collapse-item__content">
                  {{block.settings.rule_text}}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="section11">
    <div class="content">
      <div class="common-title">{{section.settings.rule_title}}</div>
      <p class="rule-text">
        {{section.settings.rule_text}}
      </p>
    </div>
  </div>
</div>

<script type="module">
  (function() {
    $(".add-cart").click(function(e) {
      var productId = $(this).attr("product-id");
      fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          items: [{
            id: productId,
            quantity: 1
          }]
        })
      })
      .then(response => {
        if (response.ok) {
          // 成功加入购物车后，跳转到购物车页面
          window.location.href = '/cart';
        } else {
          // 处理错误情况
          alert('商品加入购物车失败，请重试。');
        }
      });
    })

     //  折叠面板
    $('.el-collapse-item__header').each(function(i,item) {
      $(this).click(function() {
        $(this).next('.el-collapse-item__content').slideToggle();
        var iconNode = $(this).find(".el-collapse-icon");
        iconNode.hasClass('active') ? iconNode.removeClass('active') : iconNode.addClass('active');
      });
    })

     // 购买按钮事件
    $(".buy-now").click(function(e) {
      var productId = $(this).attr("product-id");
      $.ajax({
        type: "POST",
        url: "/cart/clear.js",
        data: {},
        dataType: "json",
        success: function() { 
          $.ajax({
            type: "POST",
            url: "/cart/add.js",
            data: {
              quantity: 1,
              id: productId
            },
            dataType: "json",
            success: function() { 
              window.location.href = "/checkout";
            }
          });
        }
      });
    })
    function CountdownTimer(endDate) {
      this.endDate = new Date(endDate).getTime();
      this.timeoutId = null;
    }

    CountdownTimer.prototype.calculateTimeLeft = function () {
      const now = new Date().getTime();
      const distance = this.endDate - now;
      return distance < 0 ? 0 : distance;
    };

    CountdownTimer.prototype.start = function (callback) {
      const update = () => {
        const distance = this.calculateTimeLeft();

        if (distance <= 0) {
          callback(null);
          return;
        }

        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        callback({
          days: days,
          hours: hours,
          minutes: minutes,
          seconds: seconds,
          totalMilliseconds: distance
        });

        // 调整下一次更新的间隔时间，以保证准确性
        const nextTick = 1000 - (new Date().getTime() % 1000);
        this.timeoutId = setTimeout(update, nextTick);
      };
      update();
    };

    CountdownTimer.prototype.stop = function () {
      clearTimeout(this.timeoutId);
    };
    function padZero(num) {
      if (num < 10) {
        return '0' + num;
      } else {
        return '' + num;
      }
    }

    // 使用API
    const countdown = new CountdownTimer('{{section.settings.endet_time}}'); // 设置北京时间2023年2月15日00:00
    let day_text = $('.time-wrap .day');
    let hours_text = $('.time-wrap .hour');
    let min_text = $('.time-wrap .minute');
    let seconds_text = $('.time-wrap .second');
    countdown.start((timeLeft) => {
      if (timeLeft) {
        // countdown_text.text(`${timeLeft.days}d:${timeLeft.hours}h:${timeLeft.minutes}m:${timeLeft.seconds}s`)
        day_text.text(padZero(timeLeft.days))
        hours_text.text(padZero(timeLeft.hours))
        min_text.text(padZero(timeLeft.minutes))
        seconds_text.text(padZero(timeLeft.seconds))
        // countdown_text.text(`${timeLeft.days}days:${timeLeft.hours}hours:${timeLeft.minutes}minutes:${timeLeft.seconds}seconds`)
        console.log(`Time left:`);
      } else {
        console.log('Countdown finished!');
        countdown.stop();
      }
    });
  }) ()
  
</script>

{% schema %}
  {
    "name": "creality 2024 anniversary",
    "settings": [
      {
        "type": "text",
        "id": "endet_time",
        "label": "endet in 时间",
        "default": "2024-04-11 00:00:00"
      },
      {
        "type": "collection",
        "id": "collection1",
        "label": "第一栏专辑"
      },
      {
        "type": "collection",
        "id": "collection2",
        "label": "第二栏专辑"
      },
      {
        "type": "header",
        "content": "活动规则"
      },
      {
        "type": "text",
        "id": "rule_title",
        "label": "规则标题"
      },
      {
        "type": "textarea",
        "id": "rule_text",
        "label": "规则正文"
      }
    ],
    "blocks": [
      {
        "type":"product",
        "name": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "产品"
          },
          {
            "type": "textarea",
            "id": "bottom_text",
            "label": "底部文案"
          }
        ]
      },
      {
        "type":"rule_item",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "rule_title",
            "label": "标题"
          },
          {
            "type": "text",
            "id": "rule_text",
            "label": "正文"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "creality 2024 anniversary"
      }
    ]
  }
{% endschema %}