<style>
  #app-{{section.id}} {
    padding-top: {{section.settings.pc_top}}px;
    padding-bottom: {{section.settings.pc_bottom}}px;
  }
  #app-{{section.id}} img {
    vertical-align: middle;
  }

  #app-{{section.id}} a {
    text-decoration: none;
  }

  #app-{{section.id}} .common-title {
    text-align: center;
    font-weight: 800;
    font-size: 2.083vw;
    line-height: 1.25em;
    letter-spacing: 0vw;
    font-family: "Plus_Jakarta_Sans,sans-serif";
  }
  #app-{{section.id}} .common-subtitle {
    margin-top: 0.625vw;
    font-size: 1.05vw;
    font-weight: 400;
    text-align: center;
  }
  #app-{{section.id}} .content {
    width: 62.5vw;
    margin: 0 auto;
  }

  #app-{{section.id}} .numbers .content .up-number {
    margin-top: 4.167vw;
    height: 12.031vw;
    background: url("https://cdn.shopifycdn.net/s/files/1/0623/8303/0317/files/ecom-no-replace-dkmBtXWr5xecom-no-replace-12.png?v=1719222356") no-repeat scroll center center/cover #dbba66;
  }
  #app-{{section.id}} .numbers .content .up-number .numbers {
    display: flex;
    justify-content: space-between;
    padding: 1.5625vw 5.208vw 2.083vw; 
  }
  #app-{{section.id}} .numbers .content .up-number .numbers .number-item {
    flex: 1;
    padding: 1.042vw;
    text-align: center;
  }
  #app-{{section.id}} .numbers .content .up-number .numbers .number-item .number, #app-{{section.id}} .numbers .content .up-number .numbers .number-item .n-text {
    font-family: "Cormorant_SC";
    font-size: 3.333vw;
    font-weight: 500;
    line-height: 1.2em;
    color: #fff;
    padding: 0 0 0.521vw;
  }
  #app-{{section.id}} .numbers .content .up-number .numbers .number-item .text {
    color: #ffffff;
    font-family: "Nunito_Sans";
    font-size: 1.042vw;
    font-weight: 600;
    line-height: 1.75em;
  }

  @media (min-width: 768px) {
    #app-{{section.id}} .pc {
      display: block;
    }
    #app-{{section.id}} .mb {
      display: none;
    }
  }
  @media (max-width: 768px) {
    #app-{{section.id}} .pc {
      display: none;
    }
    #app-{{section.id}} .mb {
      display: block;
    }
    #app-{{section.id}} {
      padding-top: {{section.settings.md_top}}px; 
      padding-bottom: {{section.settings.md_bottom}}px;
    }
    #app-{{section.id}} .content {
      width: 100%;
      margin: 0 auto;
      padding: 0 4.267vw;
    }
    #app-{{section.id}} .common-title {
      padding: 0 4.267vw;
      text-align: center; 
      font-size: 5.467vw;
      color: #000000;
      font-weight: 600;
      margin-bottom: 4.267vw;
    }
    #app-{{section.id}} .common-subtitle {
      padding: 0 4.267vw;
      font-size: 3.733vw;
      color: #666666;
      font-weight: 400;
      text-align: center;
    }
    #app-{{section.id}} .numbers .content .up-number {
      margin-top: 21.333vw;
      height: 125.867vw;
      background: url("https://cdn.shopifycdn.net/s/files/1/0623/8303/0317/files/ecom-no-replace-dkmBtXWr5xecom-no-replace-12.png?v=1719222356") no-repeat scroll center center/cover #dbba66;
    } 
    #app-{{section.id}} .numbers .content .up-number .numbers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 8vw 0;
    }
    #app-{{section.id}} .numbers .content .up-number .numbers .number-item {
      flex: auto;
      width: 100%;
      padding: 2.667vw 0;
      text-align: center;
    }
    #app-{{section.id}} .numbers .content .up-number .numbers .number-item .number, #app-{{section.id}} .numbers .content .up-number .numbers .number-item .n-text {
      font-family: "Cormorant_SC";
      font-size: 10.667vw;
      font-weight: 500;
      line-height: 1.2em;
      color: #fff; 
      padding: 0 0 2.667vw;
    }
    #app-{{section.id}} .numbers .content .up-number .numbers .number-item .text {
      color: #ffffff;
      font-family: "Nunito_Sans";
      font-size: 5.333vw;
      font-weight: 600;
      line-height: 1.75em;
    }
  }
</style>

<div id="app-{{section.id}}" class="containers">
  <div class="numbers">
      <div class="common-title">{{section.settings.title}}</div>
      <div class="common-subtitle">{{section.settings.subtitle}}</div>
      <div class="content">
        <div class="up-number">
          <div class="numbers"> 
            <div class="number-item">
              <span id="num1" class="number">0</span><span class="n-text">{{section.settings.text_h_1}}</span>
              <div class="text">{{section.settings.text_1}}</div>
            </div> 
            <div class="number-item">
              <span id="num2" class="number">0</span><span class="n-text">{{section.settings.text_h_2}}</span>
              <div class="text">{{section.settings.text_2}}</div>
            </div>
            <div class="number-item">
              <span id="num3" class="number">0</span><span class="n-text">{{section.settings.text_h_3}}</span>
              <div class="text">{{section.settings.text_3}}</div>
            </div> 
            <div class="number-item">
              <span id="num4" class="number">0</span><span class="n-text">{{section.settings.text_h_4}}</span>
              <div class="text">{{section.settings.text_4}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="module">
  $(function() {
    // 动画
    const tl6 = gsap.timeline({ 
      scrollTrigger: {
        trigger: ".section6",
        start: "top 70%", // 当.container到达视口80%位置时触发
        // end: "bottom top", // 当.container到底部时结束 
        // scrub: 1, // 使动画跟随滚动
        // markers: true // 显示触发器的起始和终止点（调试用）
      }
    });

    // 定义每个数字的动画
    function animateNumber(elementId, endValue, isUNnmber = false) {
      return gsap.to(`#${elementId}`, {
        innerText: endValue,
        duration: 1.5,
        snap: { innerText: 1 },
        ease: "none",
        onUpdate: function() {
          const element = document.getElementById(elementId); 
          // 格式化数字
          let formattedValue = ""; 
          if(isUNnmber) {
            formattedValue = new Intl.NumberFormat('en-US').format(Math.ceil(this.targets()[0].innerText));
          } else {
            formattedValue = Math.ceil(this.targets()[0].innerText);
          }
          element.innerText = formattedValue;
        }
      });
    }
    console.log({{section.settings.num4}},{{section.settings.num3}},{{section.settings.num2}},{{section.settings.num1}});
    // 将动画添加到Timeline中，并增加较小的延迟时间 
    tl6.add(animateNumber("num4", {{section.settings.num4}}, true), 0)
    .add(animateNumber("num3", {{section.settings.num3}}), 0.5)
    .add(animateNumber("num2", {{section.settings.num2}}), 1)
    .add(animateNumber("num1", {{section.settings.num1}}), 1.5);
  })
</script>

{% schema %}
  {
    "name": "creality Number Spinner",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "标题"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "副标题"
      },
      {
        "type": "text",
        "id": "text_1",
        "label": "文案1",
        "default": "Warranty Offer"
      },
      {
        "type": "number",
        "id": "num1",
        "label": "数字1",
        "default": 12
      },
      {
        "type": "text",
        "id": "text_h_1",
        "label": "数字后缀1",
        "default": "M"
      },
      {
        "type": "text",
        "id": "text_2",
        "label": "文案2",
        "default": "Years Experience"
      },
      {
        "type": "number",
        "id": "num2",
        "label": "数字2",
        "default": 10
      },
      {
        "type": "text",
        "id": "text_h_2",
        "label": "数字后缀2",
        "default": "+"
      },
      {
        "type": "text",
        "id": "text_3",
        "label": "文案3",
        "default": "Sale Per Year"
      },
      {
        "type": "number",
        "id": "num3",
        "label": "数字3",
        "default": 100
      },
      {
        "type": "text",
        "id": "text_h_3",
        "label": "数字后缀3",
        "default": "K+"
      },
      {
        "type": "text",
        "id": "text_4",
        "label": "文案4",
        "default": "Rating"
      },
      {
        "type": "number",
        "id": "num4",
        "label": "数字4",
        "default": 3500
      },
      {
        "type": "text",
        "id": "text_h_4",
        "label": "数字后缀4",
        "default": "+"
      },
      {
        "type": "range",
        "id": "pc_top",
        "label": {
          "en-US": "PC top spacing",
          "zh-CN": "PC上边距"
        },
        "default": 30,
        "unit": "px",
        "step": 1,
        "max": 100,
        "min": 0
      },
      {
        "type": "range",
        "id": "pc_bottom",
        "label": {
          "en-US": "PC bottom spacing",
          "zh-CN": "PC端下边距"
        },
        "default": 30,
        "unit": "px",
        "step": 1,
        "max": 100,
        "min": 0
      },
      {
        "type": "range",
        "id": "md_top",
        "label": {
          "en-US": "Mobile top spacing",
          "zh-CN": "移动端上边距"
        },
        "default": 30,
        "unit": "px",
        "step": 1,
        "max": 100,
        "min": 0
      },
      {
        "type": "range",
        "id": "md_bottom",
        "label": {
          "en-US": "Mobile bottom spacing",
          "zh-CN": "移动端下边距"
        },
        "default": 30,
        "unit": "px",
        "step": 1,
        "max": 100,
        "min": 0
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "creality Number Spinner"
      }
    ]
  }
{% endschema %}
  