<style>
  #container-{{section.id}} {
    background-color: {{ section.settings.bg_color }}; 
  }
  @media (min-width: 1200px) {
    #container-{{section.id}} {
      padding-top: {{ section.settings.mg_top_desktop | append: 'px' }};
      padding-bottom: {{ section.settings.mg_bottom_desktop | append: 'px' }}
    } 
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    #container-{{section.id}} { 
      padding-top: {{ section.settings.mg_top_tablet | append: 'px' }};
      padding-bottom: {{ section.settings.mg_bottom_tablet | append: 'px' }}
    }
  }
  #container-{{section.id}} .sale-title {
    font-family: 'HarmonyOS_Sans_SC_Bold';
    font-size: 1.679vw;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.833vw;
  }
  #container-{{section.id}} .sale-subtitle {
    font-family: 'HarmonyOS_Sans_SC_Bold';
    font-size: 0.993vw; 
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.563vw;
  }
  #container-{{section.id}} .video-shop {
    display: flex; 
  }
  #container-{{section.id}} .video-shop .video-wrap {
    width: 40vw;
  }
  #container-{{section.id}} .video-shop .video-wrap .video-player {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: {{section.settings.product_bg_color}};
  }
  #container-{{section.id}} .video-shop .product-wrap {
    display: flex;
    padding: 3.125vw 0;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    background-color: {{section.settings.product_bg_color}}; 
  }
  #container-{{section.id}} .video-shop .product-wrap .product-img {
    width: 22.396vw;
  }
  #container-{{section.id}} .video-shop .product-wrap .product-info {
    width: 23.438vw;
    padding: 0.833vw;
  }
  #container-{{section.id}} .video-shop .product-wrap .product-info .product-title {
    font-size: 1.250vw;
    font-family: 'HarmonyOS_Sans_SC_Bold';
    /* white-space: nowrap; */
    /* overflow: hidden;  */
    /* text-overflow: ellipsis; */
  }
  #container-{{section.id}} .video-shop .product-wrap .product-info .buying-point {
    font-size: 1.042vw;
    font-weight: 500;
    margin-bottom: 0.521vw;
    color: #9BA09F;
  }
  #container-{{section.id}} .custom-select {
    position: relative;
    font-size: 0.833vw;
  }
  #container-{{section.id}} .custom-select select {
    display: none; /* 隐藏原生选择器 */
  }
  #container-{{section.id}} .select-selected {
    background-color: {{section.settings.product_bg_color}};
    border: 0.052vw solid #9BA09F;
    border-radius: 52.031vw;  
    padding: 0.417vw 0.833vw; 
    cursor: pointer;
  }
  #container-{{section.id}} .select-selected:after {
    position: absolute;
    content: "";
    top: 45%; 
    right: 0.625vw; 
    width: 0;
    height: 0;
    border: 0.313vw solid transparent;
    border-color: #9BA09F transparent transparent transparent;
  }
  #container-{{section.id}} .select-selected.select-arrow-active:after {
    border-color: transparent transparent #9BA09F transparent;
    top: 0.417vw; 
  }
  #container-{{section.id}} .select-items {
    position: absolute;
    background-color: #fff;
    border: 0.052vw solid #ccc;
    border-radius: 0.208vw;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  #container-{{section.id}} .select-items div {
    padding: 0.417vw 0.833vw;
    cursor: pointer;
  }
  #container-{{section.id}} .select-items div:hover {
    background-color: #f1f1f1;
  }
  #container-{{section.id}} .select-hide {
    display: none;
  } 
  #container-{{section.id}} .price-box { 
    vertical-align: bottom;
    margin-top: 1.042vw;
    display: flex;
    justify-content: flex-start;
    align-items: end; 
  }
  #container-{{section.id}} .price-box .now-price { 
    font-size: 1.563vw;
    line-height: 1.458vw;
    color: #E9600A;
    font-weight: bold;
    margin-right: 1.042vw;
  }
  #container-{{section.id}} .price-box .old-price {
    font-size: 0.833vw;
    color: #9BA09F;
    font-weight: 500;
  }
  #container-{{section.id}} .btn-box {
    margin-top: 1.042vw;
    display: flex;
    justify-content: space-between; 
  }
  #container-{{section.id}} .add-cart, #container-{{section.id}} .learn-more {
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: {{section.settings.jg_text_color}};
    background-color: {{section.settings.jg_color}};
    width: 10.417vw; 
    height: 1.979vw;
    border-radius: 52.031vw;
    font-size: 1.042vw;
    font-weight: 500;
  }
  #container-{{section.id}} .learn-more {
    color: {{section.settings.more_text_color}};
    background-color: {{section.settings.more_color}};
  }
  @media (max-width: 767px) { 
    #container-{{section.id}} {
      padding-top: {{ section.settings.mg_top_mobile | append: 'px' }};
      padding-bottom: {{ section.settings.mg_bottom_mobile | append: 'px' }}
    }
    #container-{{section.id}} .sale-title {
      font-family: 'HarmonyOS_Sans_SC_Bold';
      font-size: 5.679vw;
      padding: 0 16px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0.833vw;
    }
    #container-{{section.id}} .sale-subtitle {
      font-family: 'HarmonyOS_Sans_SC_Bold';
      font-size: 3.867vw; 
      padding: 0 16px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 16px;
    }
    #container-{{section.id}} .video-shop {
      display: flex; 
      flex-wrap: wrap;
    }
    #container-{{section.id}} .video-shop .video-wrap {
      width: 100vw;
    }
    #container-{{section.id}} .video-shop .video-wrap .video-player {
      width: 100vw;
      height: auto;
      object-fit: cover; 
    }
    #container-{{section.id}} .video-shop .product-wrap {
      display: flex;
      padding: 16px;
      justify-content: space-between; 
      align-items: center;  
      width: 100vw;
      background-color: {{section.settings.product_bg_color}}; 
    }
    #container-{{section.id}} .video-shop .product-wrap .product-img {
      width: 43vw;
    }
    #container-{{section.id}} .video-shop .product-wrap .product-info {
      width: 46.438vw; 
      padding: 10px;
    }
    #container-{{section.id}} .video-shop .product-wrap .product-info .product-title {
      font-size: 3.550vw;
      font-family: 'HarmonyOS_Sans_SC_Bold';
      /* white-space: nowrap; */
      /* overflow: hidden;  */
      /* text-overflow: ellipsis; */
    } 
    #container-{{section.id}} .video-shop .product-wrap .product-info .buying-point {
      font-size: 3.042vw; 
      font-weight: 500;
      margin-bottom: 0.521vw;
      color: #9BA09F;
    }
    #container-{{section.id}} .custom-select {
      position: relative;
      font-size: 3.833vw; 
    }
    #container-{{section.id}} .price-box .now-price {
      font-size: 4.563vw; 
      line-height: 4.458vw;
    }
    #container-{{section.id}} .price-box .old-price {
      font-size: 2.833vw;
      color: #9BA09F;
      font-weight: 500;
    }
    #container-{{section.id}} .add-cart, #container-{{section.id}} .learn-more {
      cursor: pointer;
      display: flex; 
      justify-content: center;
      align-items: center;
      color: {{section.settings.jg_text_color}};
      background-color: {{section.settings.jg_color}};
      width: 19.417vw;
      height: 4.979vw;
      border-radius: 52.031vw;
      font-size: 2.842vw;
      font-weight: 500; 
    }
    #container-{{section.id}} .learn-more {
      color: {{section.settings.more_text_color}};
      background-color: {{section.settings.more_color}};
    }
    #container-{{section.id}} .select-selected:after {
      position: absolute; 
      content: "";
      top: 45%;
      right: 1.625vw; 
      width: 0;
      height: 0;
      border: 1.313vw solid transparent;
      border-color: #9BA09F transparent transparent transparent;
    }
  } 
</style>
<div id="container-{{section.id}}">
    <div class="sale-title fadein">{{section.settings.title}}</div> 
    <div class="sale-subtitle fadein">{{section.settings.subtitle}}</div>
    <div class="video-shop">
      <div class="video-wrap">
        <video class="video-player" controls poster="{{section.settings.video_img}}">
          <source src="{{section.settings.video_link}}" type="video/mp4">
          Your browser does not support the video TAB, please upgrade your browser.
        </video> 
      </div> 
      <div class="product-wrap">
        {% assign product = all_products[section.settings.product] %}
        <a class="product-link" href="{{ product.url }}" target="_blank">
          <img class="product-img"
            src="{{ product.featured_media | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
            loading="lazy"
            class="motion-reduce lazyloaded"
          >
        </a>
        <div class="product-info"> 
          <div class="product-title">{{product.title}}</div>
          <div class="buying-point">{{section.settings.buying_point1}}</div>
          <div class="buying-point">{{section.settings.buying_point2}}</div>
          <div class="variants">
            <div class="custom-select">
              <select>
                {% for variant in product.variants %}
                  <option value="{{variant.id}}">{{variant.title}}</option> 
                {% endfor %}  
              </select> 
              <div class="select-selected">{{product.variants[0].title}}</div>  
              <div class="select-items select-hide">
                {% for variant in product.variants %}  
                  <div data-info='{{variant | json}}' value="{{variant.id}}">{{variant.title}}</div> 
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="price-box">
            <div class="now-price">{{product.price | money}}</div>
            <del class="old-price">{{product.compare_at_price | money}}</del>
          </div> 
          <div class="btn-box">
            {%- form 'product', product, id: product.id, class: 'form productView-action', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <div class="productView-action">
                <input 
                  id="product-id"
                  type="hidden" 
                  name="id"
                  value="{{ product.variants[0].id }}"> 
                <div class="product-form__buttons"> 
                  <button
                    type="submit" 
                    name="add"
                    data-btn-addToCart
                    class="add-cart product-form__submit"
                    id="product-quick-shop-add-to-cart">
                    Add To Cart
                  </button>
                </div>
              </div>
            {%- endform -%} 
            <a class="product-link" href="{{ product.url }}" target="_blank">
              <div class="learn-more">Learn More</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  $(function() {
    // 输出货币格式化
    function formatCurrency(amount, countryCode) {
      const formatter = new Intl.NumberFormat(getLocale(countryCode), {
        style: 'currency',
        currency: getCurrencyCode(countryCode)
      });
      return formatter.format(amount);
    }
    // 获取国家
    function getLocale(countryCode) {
      const locales = {
          'us': 'en-US',
          'eu': 'en-EU',
          'de': 'de-DE',
          'ca': 'en-CA',
          'au': 'en-AU',
          'uk': 'en-GB',
          'jp': 'ja-JP'
      };
      return locales[countryCode.toLowerCase()] || 'en-US';
    }
    // 获取货币格式
    function getCurrencyCode(countryCode) {
      const currencies = {
        'us': 'USD',
        'eu': 'EUR',
        'de': 'EUR',
        'ca': 'CAD',
        'au': 'AUD',
        'uk': 'GBP',
        'jp': 'JPY'
      };
      return currencies[countryCode.toLowerCase()] || 'USD';
    }

    $('.select-selected').click(function() {
      $('.select-items').toggleClass('select-hide');
      $('.select-selected').toggleClass('select-arrow-active');
    });

    $('.select-items div').click(function() {
      var text = $(this).text();
      var value = $(this).data('value');  
      var data = JSON.parse($(this).attr('data-info')); 
      $('.select-selected').text(text);  
      $('select').val(value);  
      $('.select-items').addClass('select-hide');
      $('.select-selected').removeClass('select-arrow-active'); 
      $('.productView-action input[name="id"]').val(data.id); 
      $('.product-img').attr('src', data.featured_image.src);
      $('.now-price').text(formatCurrency((data.price / 100).toFixed(2), "ku")); 
      $('.old-price').text(formatCurrency((data.compare_at_price / 100).toFixed(2), "ku"));
    });

    $(document).click(function(event) {
      if (!$(event.target).closest('.custom-select').length) {
        $('.select-items').addClass('select-hide');
        $('.select-selected').removeClass('select-arrow-active');
      }
    });
    function fadeInListen () { 
      var fadeIn = $('#container-{{section.id}}').find('.fadein');
      fadeIn.each(function () {
        let element = this;
        let {
          scrub,
          reverse,
          duration,
          actions,
          fn
        } = $(this).data()

        gsap.set(element, { 
          opacity: 0,
          y: 20
        });
        let toggleActions = "play none none none";
        let start = $(this).data('start') || 70; 
        duration ? '' : duration = 0.8
        let tl = gsap.to(element, {
          opacity: 1,
          y: 0,
          duration
        });
        if (reverse) {
          toggleActions = "play none none reverse"
        }

        ScrollTrigger.create({
          animation: tl,
          trigger: element,
          toggleActions,
          start: `top ${start}%`, // 调整触发点，视情况而定
          onEnter: function () {

          },
          once: true // 只触发一次
        });
      });
    }
    fadeInListen();
  })
</script>

{% schema %}
  {
    "name": "creality video product",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "标题"
      },
      {
        "type": "text", 
        "id": "subtitle",
        "label": "副标题"
      },
      {
        "type": "text", 
        "id": "video_link",
        "label": "视频链接"
      },
      {
        "type": "text", 
        "id": "video_img",
        "label": "视频封面图"
      },
      {
        "type": "product",
        "id": "product",
        "label": "产品"
      },
      {
        "type": "text", 
        "id": "buying_point1",
        "label": "买点1"
      },
      {
        "type": "text", 
        "id": "buying_point2",
        "label": "买点2"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "背景颜色",
        "default": "#f5f5f5"
      }, 
      {
        "type": "color",
        "id": "product_bg_color",
        "label": "产品区域背景颜色",
        "default": "#F4FEFC"
      }, 
      {
        "type": "color",
        "id": "jg_color",
        "label": "加购按钮背景色",
        "default": "#E9600A"
      },
      {
        "type": "color", 
        "id": "jg_text_color",
        "label": "加购按钮字体颜色",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "more_color",
        "label": "更多信息按钮颜色",
        "default": "#00B3DC"
      },
      {
        "type": "color",
        "id": "more_text_color",
        "label": "更多信息按钮字体颜色",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "t:sections.layout.margin_top"
      },
      {
        "type": "range",
        "id": "mg_top_desktop",
        "label": "t:sections.layout.mg_desktop.label",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
      },
      {
        "type": "range",
        "id": "mg_top_tablet",
        "label": "t:sections.layout.mg_tablet.label",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
      },
      {
        "type": "range",
        "id": "mg_top_mobile",
        "label": "t:sections.layout.mg_mobile.label",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
      },
      {
        "type": "header",
        "content": "t:sections.layout.margin_bottom"
      },
      {
        "type": "range",
        "id": "mg_bottom_desktop",
        "label": "t:sections.layout.mg_desktop.label",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
      },
      {
        "type": "range",
        "id": "mg_bottom_tablet",
        "label": "t:sections.layout.mg_tablet.label",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
      },
      {
        "type": "range",
        "id": "mg_bottom_mobile",
        "label": "t:sections.layout.mg_mobile.label",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "creality video product",
        "category": {
          "en-US": "limited sale",
          "zh-CN": "limited sale"
        },
        "blocks": []
      }
    ]
  }
{% endschema %}