<style>
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  #app-{{section.id}} img {
    vertical-align: middle;
  }

  #app-{{section.id}} a {
    text-decoration: none;
  }

  #app-{{section.id}} .common-title {
    text-align: center;
    font-weight: 800;
    font-size: 2.083vw;
    line-height: 1.25em;
    letter-spacing: 0vw;
    font-family: "Plus_Jakarta_Sans,sans-serif";
  }

  #app-{{section.id}} .content {
    width: 62.5vw;
    margin: 0 auto;
  }
  #app-{{section.id}} .section5 {
    padding: 3.125vw 0;
    position: relative;
  }
  #app-{{section.id}} .section5 .content .video-shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.833vw;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item {
    position: relative;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .video {
    width: 100%;
    border-radius: 1.042vw;
    -webkit-border-radius: 1.042vw;
    -moz-border-radius: 1.042vw;
    -ms-border-radius: 1.042vw;
    -o-border-radius: 1.042vw;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop {
    background-color: #ffffff;
    border-radius: 0.625vw;
    position: absolute;
    display: flex;
    bottom: 1.5625vw;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .discount {
    position: absolute;
    top: 0;
    left: 1.042vw;
    align-self: flex-start;
    font-size: 0.573vw;
    font-weight: 500;
    font-family: Inter;
    height: 1.146vw;
    min-height: 1.146vw;
    color: #fff;
    background-color: #ba1e1e;
    border-radius: 0.15625vw;
    padding: 0.26vw 0.78125vw 0.26vw 0.26vw;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop {
    padding: 1.042vw;
    display: flex;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .img-wrap {
    cursor: pointer;
    margin-right: 1.042vw;
    flex-shrink: 0;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .img-wrap .shop-img {
    border: 0.052vw solid #c1c1c1;
    width: 5.208vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .shop-title {
    cursor: pointer;
    font-size: 0.9375vw;
    text-decoration: none;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    line-height: 1.3em;
    letter-spacing: 0vw;
    font-family: "Questrial";
    margin-bottom: 0.521vw;
    transition: 0.3s;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .shop-title :hover {
    color: #e289d4;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price {
    display: flex;
    align-items: center;
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price .now-price {
    font-size: 0.9375vw;
    font-weight: 700;
    color: #f53b3b;
    border-radius: 0;
    margin-right: 0.521vw;
    padding: 0;
    font-family: "Questrial,sans-serif";
  }
  #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price .old-price {
    text-decoration: line-through;
    color: #777777;
    font-size: 0.729vw;
    font-weight: 400;
    font-family: "Questrial";
    text-transform: none;
    font-style: normal;
    line-height: 1.25em;
    letter-spacing: 0vw;
  }

  @media (min-width: 768px) {
    #app-{{section.id}} .pc {
      display: block;
    }
    #app-{{section.id}} .mb {
      display: none;
    }
  }
  @media (max-width: 768px) {

    #app-{{section.id}} .section5 {
      padding: 16vw 0;
      position: relative;
    }
    #app-{{section.id}} .section5 .content .video-shop {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 4.267vw;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item {
      position: relative;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .video {
      width: 100%;
      border-radius: 5.333vw;
      -webkit-border-radius: 5.333vw;
      -moz-border-radius: 5.333vw;
      -ms-border-radius: 5.333vw;
      -o-border-radius: 5.333vw;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop {
      background-color: #ffffff;
      border-radius: 3.2vw;
      position: absolute;
      display: flex;
      bottom: 8vw;
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .discount {
      position: absolute;
      top: 0;
      left: 5.333vw;
      align-self: flex-start;
      font-size: 2.933vw;
      font-weight: 500;
      font-family: Inter;
      height: 5.867vw;
      min-height: 5.867vw;
      color: #fff;
      background-color: #ba1e1e;
      border-radius: 0.8vw;
      padding: 1.333vw 4vw 1.333vw 1.333vw;
      margin: 0;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop {
      padding: 5.333vw;
      display: flex;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .img-wrap {
      cursor: pointer;
      margin-right: 5.333vw;
      flex-shrink: 0;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .img-wrap .shop-img {
      border: 0.267vw solid #c1c1c1;
      width: 26.667vw;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .shop-title {
      cursor: pointer;
      font-size: 4.8vw;
      text-decoration: none;
      font-weight: 500;
      text-transform: none;
      font-style: normal;
      line-height: 1.3em;
      letter-spacing: 0vw;
      font-family: "Questrial";
      margin-bottom: 2.667vw;
      transition: 0.3s;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .shop-title :hover {
      color: #e289d4;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price {
      display: flex;
      align-items: center;
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price .now-price {
      font-size: 4.8vw;
      font-weight: 700;
      color: #f53b3b;
      border-radius: 0;
      margin-right: 2.667vw;
      padding: 0;
      font-family: "Questrial,sans-serif";
    }
    #app-{{section.id}} .section5 .content .video-shop .video-shop-item .float-shop .v-shop .r-info .price .old-price {
      text-decoration: line-through;
      color: #777777;
      font-size: 3.733vw;
      font-weight: 400;
      font-family: "Questrial";
      text-transform: none;
      font-style: normal;
      line-height: 1.25em;
      letter-spacing: 0vw;
    }
  }
</style>
<div id="app-{{section.id}}" class="containers">
<div class="section5">
    <div class="content">
       <div class="video-shop">
        <div class="video-shop-item">
          <video class="video" autoplay muted loop>
            <source src="https://cdn.shopify.com/videos/c/o/v/64b5171ca4d6466cb2c8b52d407bffa9.mp4" type="video/mp4">
            <p> The current browser does not support video tags </p>
          </video>
          <div class="float-shop">
            {% assign product = all_products[section.settings.product1] %}
            {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
            <div class="discount">-{{discount_percentage}}% OFF</div> 
            <div class="v-shop">
              <div class="img-wrap">
                <img class="shop-img" srcset="
                  {%- if product.featured_media.width >= 533 -%}
                      {{ product.featured_media | img_url: '533x' }} 533w, 
                  {%- endif -%}
                  {%- if product.featured_media.width >= 534 -%}
                      {{ product.featured_media | img_url: '534x' }} 534w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}
                      {{ product.featured_media | img_url: '720x' }} 720w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}
                      {{ product.featured_media | img_url: '940x' }} 940w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}
                      {{ product.featured_media | img_url: '1066x' }} 1066w
                  {%- endif -%}" 
                  src="{{ product.images[2] | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                  loading="lazy"
                  class="motion-reduce"
                >
              </div>
              <div class="r-info">
                <div class="shop-title">{{product.title}}</div>
                <div class="price">
                  <div class="now-price">{{product.price | money}}</div> 
                  <u class="old-price">{{product.compare_at_price | money}}</u>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="video-shop-item">
            <video class="video" autoplay muted loop>
              <source src="https://cdn.shopify.com/videos/c/o/v/baa74940e7f24db1b42b50e417acff3d.mp4" type="video/mp4">
              <p> The current browser does not support video tags </p>
            </video>
            <div class="float-shop">
            {% assign product = all_products[section.settings.product2] %}
            {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
            <div class="discount">-{{discount_percentage}}% OFF</div> 
            <div class="v-shop">
              <div class="img-wrap">
                <img class="shop-img" srcset="
                  {%- if product.featured_media.width >= 533 -%}
                      {{ product.featured_media | img_url: '533x' }} 533w, 
                  {%- endif -%}
                  {%- if product.featured_media.width >= 534 -%}
                      {{ product.featured_media | img_url: '534x' }} 534w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}
                      {{ product.featured_media | img_url: '720x' }} 720w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}
                      {{ product.featured_media | img_url: '940x' }} 940w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}
                      {{ product.featured_media | img_url: '1066x' }} 1066w
                  {%- endif -%}" 
                  src="{{ product.images[2] | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                  loading="lazy"
                  class="motion-reduce"
                >
              </div>
              <div class="r-info">
                <div class="shop-title">{{product.title}}</div>
                <div class="price">
                  <div class="now-price">{{product.price | money}}</div> 
                  <u class="old-price">{{product.compare_at_price | money}}</u>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="video-shop-item">
          <video class="video" autoplay muted loop>
            <source src="https://cdn.shopify.com/videos/c/o/v/5d34ee4360864070865bbf43dc33918d.mp4" type="video/mp4">
            <p> The current browser does not support video tags </p>
          </video>
          <div class="float-shop">
            {% assign product = all_products[section.settings.product3] %}
            {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
            <div class="discount">-{{discount_percentage}}% OFF</div> 
            <div class="v-shop">
              <div class="img-wrap"> 
                <img class="shop-img" srcset="
                  {%- if product.featured_media.width >= 533 -%}
                      {{ product.featured_media | img_url: '533x' }} 533w, 
                  {%- endif -%}
                  {%- if product.featured_media.width >= 534 -%}
                      {{ product.featured_media | img_url: '534x' }} 534w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}
                      {{ product.featured_media | img_url: '720x' }} 720w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}
                      {{ product.featured_media | img_url: '940x' }} 940w,
                  {%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}
                      {{ product.featured_media | img_url: '1066x' }} 1066w
                  {%- endif -%}" 
                  src="{{ product.images[2] | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.featured_media.alt | escape }} {{product.featured_media.width}}"
                  loading="lazy"
                  class="motion-reduce"
                >
              </div>
              <div class="r-info">
                <div class="shop-title">{{product.title}}</div>
                <div class="price">
                  <div class="now-price">{{product.price | money}}</div> 
                  <u class="old-price">{{product.compare_at_price | money}}</u>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "活动视频卡片",
    "settings": [
      {
        "type": "product",
        "id": "product1",
        "label": "视频产品1"
      },
      {
        "type": "product",
        "id": "product2",
        "label": "视频产品2"
      },
      {
        "type": "product",
        "id": "product3",
        "label": "视频产品3"
      }
    ],
    "presets": [
      {
        "name": "活动视频卡片"
      }
    ]
  }
{% endschema %}