<style>
*{box-sizing:border-box;margin:0;padding:0}.may2025-activities{width:100%}.may2025-activities .bold{font-family:'Montserrat-Bold';font-weight:700}.may2025-activities .medium{font-family:'Montserrat-Medium';font-weight:500}.may2025-activities .regular{font-family:'Montserrat-Regular';font-weight:400}.may2025-activities img{-webkit-user-select:none;cursor:default;pointer-events:none;user-select:none;display:block;width:100%;object-fit:contain}.may2025-activities .may2025-activities-sec1{background:linear-gradient(to bottom, #ffebf6, #f7a4d3);overflow:hidden}.may2025-activities .may2025-activities-sec1 .sec1-list1{display:flex;justify-content:space-between;align-items:center}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item{background-color:#fffaee;aspect-ratio:310/420;display:flex;justify-content:space-evenly;align-items:center;flex-flow:column;flex:1}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item .item-title{background-color:#3cb564;color:#fff;width:90%;text-align:center;cursor:pointer;opacity:1;transition:opacity 0.3s ease}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item .item-title:hover{opacity:0.7}.may2025-activities .may2025-activities-sec1 .sec1-list2{position:relative}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-title{text-align:center}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper{width:100%;overflow:hidden}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide{position:relative}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide .sec1-list2-item{cursor:pointer}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide .item-title{position:absolute;top:47%;left:46%;transform:translate(-50%, -50%);display:flex;flex-flow:column;align-items:center;justify-content:center}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-prev,.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-next{position:absolute;top:66%;transform:translate(0, -50%);z-index:10;cursor:pointer;opacity:1;transition:opacity 0.3s ease}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-prev:hover,.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-next:hover{opacity:0.7}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-prev{transform:rotate(180deg);top:66% !important}.may2025-activities .may2025-activities-sec2 .sec2-title{text-align:center;color:#3cb564}.may2025-activities .may2025-activities-sec2 .sec2-list{position:relative}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper{overflow:hidden;position:relative}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box{position:absolute;top:0;display:flex;flex-flow:column;align-items:center;justify-content:center}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-bg{width:70%}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-price span:last-child{text-decoration:line-through}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn{position:relative}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn form{position:absolute;top:0;display:flex;height:100%}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn form .buy-now{height:100%;cursor:pointer;color:#fff;transition:opacity 0.3s ease;background-color:transparent;border:none;opacity:1}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn form .buy-now:hover{opacity:0.7}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn form .add-cart{background-color:transparent;border:none;opacity:1;cursor:pointer}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount{position:absolute;top:0;left:10%}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount div{position:absolute;top:46%;left:50%;transform:translate(-50%, -50%);display:flex;flex-flow:column;align-items:center}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount div span{color:#fff}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-hua{position:absolute;right:0}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-prev,.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-next{position:absolute;top:50%;transform:translate(0, -50%);z-index:10;cursor:pointer;opacity:1;transition:opacity 0.3s ease}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-prev:hover,.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-next:hover{opacity:0.7}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-prev{transform:rotate(180deg);top:44% !important}.may2025-activities .may2025-activities-sec3 .sec3-title{text-align:center;color:#3cb564}.may2025-activities .may2025-activities-sec3 .sec3-list{display:flex}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left{flex:1;position:relative}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount{position:absolute;top:0}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount div{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:flex;flex-flow:column;align-items:center;justify-content:center}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount div span{color:#fff}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount div span:last-child{font-style:italic}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right{flex:1}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data{display:flex}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div{display:flex;align-items:center;flex:1;justify-content:center}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-price span:first-child{color:#3cb564}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-price span:last-child{text-decoration:line-through;color:#717171}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn{position:relative}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn form{position:absolute;top:0;display:flex;height:100%}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn form .buy-now{height:100%;background-color:transparent;border:none;cursor:pointer;color:#fff;transition:opacity 0.3s ease;opacity:1}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn form .buy-now:hover{opacity:0.7}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn form .add-cart{background-color:transparent;border:none;opacity:1;cursor:pointer}.may2025-activities .may2025-activities-sec4 .sec4-title{text-align:center;color:#3cb564}.may2025-activities .may2025-activities-sec4 .sec4-list{position:relative}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper{overflow:hidden}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item{background-color:#f8f9fd;display:flex;flex-flow:column;align-items:center}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-price span:last-child{text-decoration:line-through}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-btn form{display:flex}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-btn form .add-cart{background-color:#3cb564;color:#fff;border:none;cursor:pointer;transition:opacity 0.3s ease;opacity:1}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-btn form .add-cart:hover{opacity:0.7}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-text{text-align:center}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount{position:absolute;top:0;left:10%}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount div{position:absolute;top:42%;left:50%;transform:translate(-50%, -50%);display:flex;flex-flow:column;align-items:center}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount div span{color:#fff}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-prev,.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-next{position:absolute;top:50%;transform:translate(0, -50%);z-index:10;cursor:pointer;opacity:1;transition:opacity 0.3s ease}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-prev:hover,.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-next:hover{opacity:0.7}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-prev{transform:rotate(180deg);top:44% !important}@media screen and (min-width: 901px){.may2025-activities .mb{display:none}.may2025-activities .container{width:62.5vw;margin:0px auto;max-width:62.5vw}.may2025-activities .may2025-activities-sec1{padding-bottom:5.20833vw}.may2025-activities .may2025-activities-sec1 .sec1-list1{gap:1.04167vw;margin-top:7.8125vw}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item{gap:1.82292vw;padding:.52083vw 0;border-radius:.52083vw}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item:last-child .item-img{width:9.375vw}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item .item-img{width:7.8125vw}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item .item-title{font-size:.72917vw;padding:.36458vw;border-radius:1.04167vw;font-size:.72917vw}.may2025-activities .may2025-activities-sec1 .sec1-list2{margin-top:10.41667vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-title{font-size:2.60417vw;padding:2.60417vw 0}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide .item-title{gap:2.60417vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide .item-title span:first-child{font-size:2.60417vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide .item-title span:last-child{font-size:1.5625vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-prev,.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-next{width:2.60417vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-prev{left:-3.64583vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-next{right:-3.64583vw}.may2025-activities .may2025-activities-sec2{padding-bottom:5.20833vw}.may2025-activities .may2025-activities-sec2 .sec2-title{font-size:2.60417vw;padding:5.20833vw 0}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item{margin-right:1.5625vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box{gap:.52083vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-bg{margin-top:.52083vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-price span:first-child{font-size:1.45833vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-price span:last-child{font-size:.9375vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn img{width:10.41667vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn form .buy-now{width:6.77083vw;font-size:.9375vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn form .add-cart{width:3.64583vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount{width:3.64583vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount div span:first-child{font-size:.9375vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount div span:last-child{font-size:.83333vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-hua{top:-11.45833vw;width:7.8125vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-prev,.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-next{width:2.60417vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-prev{left:-3.64583vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-next{right:-3.64583vw}.may2025-activities .may2025-activities-sec3{padding:2.60417vw 0}.may2025-activities .may2025-activities-sec3 .sec3-title{font-size:2.60417vw}.may2025-activities .may2025-activities-sec3 .sec3-list{margin-top:2.08333vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount{width:6.25vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount div span:first-child{font-size:1.45833vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount div span:last-child{font-size:.9375vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-title{padding:2.60417vw 0;font-size:2.08333vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div{gap:.52083vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div img{width:2.08333vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div span{font-size:.9375vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div:nth-child(2) img{width:1.82292vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div:nth-child(3) img{width:1.82292vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-price{margin:2.08333vw 0}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-price span:first-child{font-size:2.08333vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-price span:last-child{font-size:.9375vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn img{width:10.41667vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn form .buy-now{width:6.51042vw;font-size:1.04167vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn form .add-cart{width:3.90625vw}.may2025-activities .may2025-activities-sec4{padding-bottom:5.20833vw}.may2025-activities .may2025-activities-sec4 .sec4-title{font-size:2.60417vw}.may2025-activities .may2025-activities-sec4 .sec4-list{margin-top:5.20833vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item{margin-right:.52083vw;padding:2.60417vw 0 1.5625vw 0;border-radius:.52083vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-img{width:10.41667vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-price{margin:1.04167vw 0}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-price span:first-child{font-size:1.45833vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-price span:last-child{font-size:.9375vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-btn form .add-cart{padding:.52083vw 1.04167vw;border-radius:1.04167vw;font-size:.83333vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-text{font-size:.83333vw;margin-top:.625vw;padding:0 1.04167vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount{width:2.60417vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount div span:first-child{font-size:.72917vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount div span:last-child{font-size:.625vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-prev,.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-next{width:2.60417vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-prev{left:-3.64583vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-next{right:-3.64583vw}}@media screen and (max-width: 900px){.may2025-activities{overflow:hidden}.may2025-activities .pc{display:none}.may2025-activities .container{width:100%;padding-left:6.4vw;padding-right:6.4vw;box-sizing:border-box;max-width:100%}.may2025-activities .may2025-activities-sec1{padding-bottom:26.66667vw}.may2025-activities .may2025-activities-sec1 .sec1-list1{gap:2.66667vw;margin-top:26.66667vw;display:grid;grid-template-columns:repeat(2, 1fr)}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item{gap:8vw;padding:5.33333vw 0;border-radius:1.33333vw;aspect-ratio:1/1}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item:last-child .item-img{width:26.66667vw}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item .item-img{width:21.33333vw}.may2025-activities .may2025-activities-sec1 .sec1-list1 .sec1-list1-item .item-title{font-size:3.2vw;padding:1.6vw;border-radius:5.33333vw}.may2025-activities .may2025-activities-sec1 .sec1-list2{margin-top:26.66667vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-title{font-size:6.93333vw;padding:10.66667vw 0}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide .item-title{gap:5.33333vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide .item-title span:first-child{font-size:5.33333vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-swiper .swiper-slide .item-title span:last-child{font-size:3.2vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-prev,.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-next{width:5.33333vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-prev{left:1.06667vw}.may2025-activities .may2025-activities-sec1 .sec1-list2 .sec1-list2-button-next{right:1.86667vw}.may2025-activities .may2025-activities-sec2{padding-bottom:13.33333vw}.may2025-activities .may2025-activities-sec2 .sec2-title{font-size:6.93333vw;padding:10.66667vw 0}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box{gap:1.33333vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-bg{margin-top:2.66667vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-price span:first-child{font-size:4.26667vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-price span:last-child{font-size:3.2vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn img{width:21.33333vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn form .buy-now{width:16vw;font-size:2.13333vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-box .item-box-btn form .add-cart{width:5.33333vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount{width:8vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount div span:first-child{font-size:2.66667vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list-swiper .sec2-list-item .item-discount div span:last-child{font-size:2.13333vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-prev,.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-next{width:5.33333vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-prev{left:1.06667vw}.may2025-activities .may2025-activities-sec2 .sec2-list .sec2-list2-button-next{right:1.86667vw}.may2025-activities .may2025-activities-sec3{padding-bottom:13.33333vw}.may2025-activities .may2025-activities-sec3 .sec3-title{font-size:6.93333vw}.may2025-activities .may2025-activities-sec3 .sec3-list{margin-top:10.66667vw;flex-flow:column}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount{width:18.66667vw;right:0 !important;top:0 !important}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount div span:first-child{font-size:4.8vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-left .sec3-list-left-discount div span:last-child{font-size:3.2vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-title{padding:5.33333vw 0;font-size:6.93333vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div{gap:2.66667vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div img{width:8vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-data div span{font-size:2.66667vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-price{margin:5.33333vw 0}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-price span:first-child{font-size:9.33333vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-price span:last-child{font-size:4.8vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn img{width:37.33333vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn form .buy-now{width:22.66667vw;font-size:3.73333vw}.may2025-activities .may2025-activities-sec3 .sec3-list .sec3-list-right .sec3-list-right-btn .item-box-btn form .add-cart{width:14.66667vw}.may2025-activities .may2025-activities-sec4{padding-bottom:13.33333vw}.may2025-activities .may2025-activities-sec4 .sec4-title{font-size:6.93333vw}.may2025-activities .may2025-activities-sec4 .sec4-list{margin-top:10.66667vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item{padding:8vw 0 5.33333vw 0;border-radius:2.66667vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-img{width:32vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-price{margin:2.66667vw 0}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-price span:first-child{font-size:4.8vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-price span:last-child{font-size:3.2vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-item .item-btn form .add-cart{padding:1.33333vw 2.66667vw;border-radius:5.33333vw;font-size:2.66667vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .sec4-list-text{font-size:2.66667vw;margin-top:2.66667vw;padding:0 2.66667vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount{width:8vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount div span:first-child{font-size:2.66667vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-swiper .item-discount div span:last-child{font-size:2.13333vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-prev,.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-next{width:5.33333vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-prev{left:2.66667vw}.may2025-activities .may2025-activities-sec4 .sec4-list .sec4-list-button-next{right:2.66667vw}}

  </style>
      <div class="may2025-activities">
          <div class="may2025-activities-sec1">
              <div class="sec1-list1 container">
                  <div class="item1 sec1-list1-item">
                      <div class="item-img">
                          <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/6e5a67485a5df1eed69bc3bb5a5daef1.png?v=1745995560"
                              alt="">
                      </div>
                      <div class="item-title bold">Gift Card Promotion </div>
                  </div>
                  <div class="item2 sec1-list1-item">
                      <div class="item-img">
                          <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/570c1f85b70451949cf62d74ee60c4f0.png?v=1745995560"
                              alt="">
                      </div>
                      <div class="item-title bold">Recommend Gift</div>
                  </div>
                  <div class="item3 sec1-list1-item">
                      <div class="item-img">
                          <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1500.png?v=1745995560" alt="">
                      </div>
                      <div class="item-title bold">Hot-selling Products </div>
                  </div>
                  <div class="item4 sec1-list1-item">
                      <div class="item-img">
                          <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1501.png?v=1745995559" alt="">
                      </div>
                      <div class="item-title bold">Clearance Area</div>
                  </div>
              </div>
              <div class="sec1-list2 container" id="item1">
                <div class="sec1-list2-title bold">Gift Card Promotion</div>
                  <div class="sec1-list2-swiper">
                      <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% if block.type =="GiftCard" %}
                                <div class="swiper-slide">
                                    <div class="sec1-list2-item" onclick="window.open('{{ block.settings.sec1_url }}', '_blank')">
                                        <div class="item-img">
                                            <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1_4.png?v=1745995625"
                                                alt="">
                                        </div>
                                        <div class="item-title">
                                            <span class="bold">{{block.settings.sec1_price }}</span>
                                            <span class="bold">Gift Card</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                      
                      </div>
  
                  </div>
                  <div class="sec1-list2-button-prev pc">
                      <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/dbc7acec372d3103ab433df66574379f.png?v=1745995663"
                          alt="">
                  </div>
                  <div class="sec1-list2-button-next pc">
                      <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/dbc7acec372d3103ab433df66574379f.png?v=1745995663"
                          alt="">
                  </div>
              </div>
          </div>
          <div class="may2025-activities-sec2" id="item2">
            {% for block in section.blocks %}
                {% if block.type =="RecommendGift" %}
                    <div class="sec2-title container bold">{{ block.settings.sec2_title }}</div>
                {% endif %}
            {% endfor %}
              <div class="sec2-list container">
                  <div class="sec2-list-swiper sec2-swiper">
                      <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% if block.type =="RecommendGift" %}
                                {% for item in block.settings.sec2_product %}
                                <div class="swiper-slide">
                                    <div class="sec2-list-item ">
                                        <div class="item-img">
                                            <img class="pc"
                                                src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1472.png?v=1745995695"
                                                alt="">
                                            <img class="mb"
                                                src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1473.png?v=1745995702"
                                                alt="">
                                        </div>
                                        <div class="item-box">
                                            <div class="item-box-bg">
                                                <img src="{{ item.featured_image | img_url: 'large'}}"
                                                    alt="">
                                            </div>
                                            <div class="item-box-price">
                                                <span class="bold">{{ item.variants[0].price| money}}</span>
                                                <span>{{ item.variants[0].compare_at_price| money}}</span>
                                            </div>
                                            <div class="item-box-btn">
                                                <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/6b474b6e9f3caf3d4ba1fd9bdd81d8db.png?v=1745995734"
                                                    alt="">
                                                {%- form 'product', item -%}
                                                    <input  type="hidden"    name="id" value="{{ item.variants[0].id }}">
                                                    <button class="product-quick-shop-buy-now buy-now bold" type="button" data-id="{{ item.variants[0].id }}">Buy Now</button>
                                                    <button  name="add" class="add-cart" type="submit"></button>
                                                {%- endform -%}
                                            </div>
                                        </div>
                                        {% assign compare_at_price = item.variants[0].compare_at_price %}
                                        {% assign price = item.variants[0].price %}
                                        {% if compare_at_price > price %}
                                          {% assign discount = compare_at_price | minus: price %}
                                          <div class="item-discount">
                                              <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1995.png?v=1745996166" alt="">
                                              <div>
                                                  <span class="bold">{{ discount | money }}</span>
                                                  <span>OFF</span>
                                              </div>
                                          </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endfor %}
                      </div>
                  </div>
                  <div class="sec2-list2-button-prev pc sec2-prev">
                    <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/dbc7acec372d3103ab433df66574379f.png?v=1745995663"
                        alt="">
                </div>
                <div class="sec2-list2-button-next pc sec2-next">
                    <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/dbc7acec372d3103ab433df66574379f.png?v=1745995663"
                        alt="">
                </div>
                  <div class="pc sec2-list-hua">
                      <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/img_v3_02lr_01964415-532f-4b66-abed-ff9a463e608g.png?v=1745995793"
                          alt="">
                  </div>
              </div>
  
          </div>
          <div class="may2025-activities-sec3" id="item3">
            {% for block in section.blocks %}
                {% if block.type =="RecommendGift" %}
                    <div class="sec3-title bold container">{{ block.settings.sec3_title }}</div>
                {% endif %}
            {% endfor %}
            {% assign product_A1 = all_products["creality-falcon-a1-laser-engraver-cutter"]  %}
              <div class="sec3-list container">
                  <div class="sec3-list-left">
                      <div class="sec3-list-left-bg">
                          <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/img_v3_02lr_07e2e665-f772-4e0d-b19b-ad7b2b58411g.png?v=1746004589"
                              alt="">
                      </div>
                      {% assign compare_at_price = product_A1.variants[0].compare_at_price %}
                      {% assign price = product_A1.variants[0].price %}
                      {% if compare_at_price > price %}
                        {% assign discount = compare_at_price | minus: price %}
                        <div class="sec3-list-left-discount">
                            <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1967.png?v=1745995974" alt="">
                            <div>
                                <span class="bold">{{ discount | money }}</span>
                                <span>OFF</span>
                            </div>
                        </div>
                      {% endif %}
                
                  </div>
              
                  <div class="sec3-list-right">
                      <div class="sec3-list-right-title bold">Creality Falcon A1</div>
                      <div class="sec3-list-right-data">
                          <div>
                              <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/600.png?v=1745996022"
                                  alt="">
                              <span>CoreXY for Up to 600mm/s</span>
                          </div>
                          <div>
                              <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/10W_384e2db8-abd2-49e6-ab8f-c39121a261f6.png?v=1745996023"
                                  alt="">
                              <span>10W</span>
                          </div>
                          <div>
                              <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/88ICON_https88icon.com.png?v=1745996023"
                                  alt="">
                              <span>Smart Camera</span>
                          </div>
                      </div>
                      <div class="sec3-list-right-price">
                        <span class="bold">{{ product_A1.variants[0].price| money}}</span>
                        <span>{{ product_A1.variants[0].compare_at_price| money}}</span>
                      </div>
                      <div class="sec3-list-right-btn">
                          <div class="item-box-btn">
                              <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/6b474b6e9f3caf3d4ba1fd9bdd81d8db.png?v=1745995734"
                                  alt="">
                                  {%- form 'product', product_A1 -%}
                                    <input  type="hidden"    name="id" value="{{ product_A1.variants[0].id }}">
                                    <button class="product-quick-shop-buy-now buy-now bold" type="button" data-id="{{ product_A1.variants[0].id }}">Buy Now</button>
                                    <button  name="add" class="add-cart" type="submit"></button>
                                {%- endform -%}
                          </div>
                      </div>
                  </div>
  
              </div>
          </div>
          <div class="may2025-activities-sec2">
              <div class="sec2-list container">
                  <div class="sec2-list-swiper ">
                    <div class="sec2-list-swiper sec2-swiper2">
                        <div class="swiper-wrapper">
                          {% for block in section.blocks %}
                              {% if block.type =="RecommendGift" %}
                                  {% for item in block.settings.sec3_product %}
                                  <div class="swiper-slide">
                                      <div class="sec2-list-item ">
                                          <div class="item-img">
                                              <img class="pc"
                                                  src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1472.png?v=1745995695"
                                                  alt="">
                                              <img class="mb"
                                                  src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1473.png?v=1745995702"
                                                  alt="">
                                          </div>
                                          <div class="item-box">
                                              <div class="item-box-bg">
                                                  <img src="{{ item.featured_image | img_url: 'large'}}"
                                                      alt="">
                                              </div>
                                              <div class="item-box-price">
                                                  <span class="bold">{{ item.variants[0].price| money}}</span>
                                                  <span>{{ item.variants[0].compare_at_price| money}}</span>
                                              </div>
                                              <div class="item-box-btn">
                                                  <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/6b474b6e9f3caf3d4ba1fd9bdd81d8db.png?v=1745995734"
                                                      alt="">
                                                  {%- form 'product', item -%}
                                                      <input  type="hidden"    name="id" value="{{ item.variants[0].id }}">
                                                      <button class="product-quick-shop-buy-now buy-now bold" type="button" data-id="{{ item.variants[0].id }}">Buy Now</button>
                                                      <button  name="add" class="add-cart" type="submit"></button>
                                                  {%- endform -%}
                                              </div>
                                          </div>
                                          
                                          {% assign compare_at_price = item.variants[0].compare_at_price %}
                                          {% assign price = item.variants[0].price %}
                                          {% if compare_at_price > price %}
                                            {% assign discount = compare_at_price | minus: price %}
                                            <div class="item-discount">
                                                <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1995.png?v=1745996166" alt="">
                                                <div>
                                                    <span class="bold">{{ discount | money }}</span>
                                                    <span>OFF</span>
                                                </div>
                                            </div>
                                          {% endif %}
                                      </div>
                                  </div>
                              {% endfor %}
                              {% endif %}
                          {% endfor %}
                        </div>
                    </div>
                  </div>
                  <div class="sec2-list2-button-prev pc sec2-1-prev">
                    <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/dbc7acec372d3103ab433df66574379f.png?v=1745995663"
                        alt="">
                </div>
                <div class="sec2-list2-button-next pc sec2-1-next">
                    <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/dbc7acec372d3103ab433df66574379f.png?v=1745995663"
                        alt="">
                </div>
                  <div class="sec2-list-hua pc">
                      <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/img_v3_02lr_01964415-532f-4b66-abed-ff9a463e608g.png?v=1745995793"
                          alt="">
                  </div>
              </div>
  
          </div>
          <div class="may2025-activities-sec4 " id="item4">
            {% for block in section.blocks %}
                {% if block.type =="RecommendGift" %}
                    <div class="sec4-title bold container">{{ block.settings.sec4_title }}</div>
                {% endif %}
            {% endfor %}
      
              <div class="sec4-list container">
                  <div class="sec4-list-swiper">
                      <div class="swiper-wrapper">
                          {% for block in section.blocks %}
                              {% if block.type =="RecommendGift" %}
                                  {% for item in block.settings.sec4_product %}
                                    {% assign compare_at_price = item.variants[0].compare_at_price %}
                                    {% assign price = item.variants[0].price %}
                                    <div class="swiper-slide">
                                        <div class="sec4-list-item">
                                            <div class="item-img">
                                                <img src="{{ item.featured_image | img_url: 'large'}}"
                                                    alt="">
                                            </div>
                                            <div class="item-price">
                                                <span class="bold">{{price| money}}</span>
                                                <span>{{compare_at_price| money}}</span>
                                            </div>
                                            <div class="item-btn">
                                                {%- form 'product', item -%}
                                                    <input  type="hidden"    name="id" value="{{ item.variants[0].id }}">
                                                    <button  name="add" class="add-cart" type="submit">ADD TO CART</button>
                                                {%- endform -%}
                                            </div>
            
                                        </div>
                                        <div class="sec4-list-text medium">
                                           {{ item.title }}
                                        </div>
                               
                                        {% if compare_at_price > price %}
                                          {% assign discount = compare_at_price | minus: price %}
                                          <div class="item-discount">
                                              <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/1995.png?v=1745996166" alt="">
                                              <div>
                                                  <span class="bold">{{ discount | money }}</span>
                                                  <span>OFF</span>
                                              </div>
                                          </div>
                                        {% endif %}
                                    </div>
                        {% endfor %}
                            {% endif %}
                        {% endfor %}
                      </div>
                  </div>
                  <div class="sec4-list-button-prev pc">
                      <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/dbc7acec372d3103ab433df66574379f.png?v=1745995663"
                          alt="">
                  </div>
                  <div class="sec4-list-button-next pc">
                      <img src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/dbc7acec372d3103ab433df66574379f.png?v=1745995663"
                          alt="">
                  </div>
              </div>
          </div>
      </div>
  <script>
      // sec1
      $(function () {
          const sec1Swiper = new Swiper('.sec1-list2-swiper', {
              direction: 'horizontal', // 垂直切换选项
              slidesPerView: 3,
              loop: true,
              breakpoints: {
  
                  900: {
                      slidesPerView: 4,
                  }
              },
          })
          $(".sec1-list2-button-prev").on("click", function (e) {
              e.preventDefault();
              sec1Swiper.slidePrev();
          });
  
          $(".sec1-list2-button-next").on("click", function (e) {
              e.preventDefault();
              sec1Swiper.slideNext();
          });
      });
        // sec2
    $(function () {
        const sec2Swiper = new Swiper('.sec2-swiper', {
            direction: 'horizontal', // 垂直切换选项
            slidesPerView: 2,
            spaceBetween: 5,
            loop: true,
            breakpoints: {

                900: {
                    slidesPerView: 3,

                }
            },
        })
        $(".sec2-prev").on("click", function (e) {
            e.preventDefault();
            sec2Swiper.slidePrev();
        });

        $(".sec2-next").on("click", function (e) {
            e.preventDefault();
            sec2Swiper.slideNext();
        });
    })
    // sec2-2
    $(function () {
        const sec21Swiper = new Swiper('.sec2-swiper2', {
            direction: 'horizontal', // 垂直切换选项
            slidesPerView: 2,
            spaceBetween: 5,
            loop: true,
            breakpoints: {

                900: {
                    slidesPerView: 3,

                }
            },
        })
        $(".sec2-1-prev").on("click", function (e) {
            e.preventDefault();
            sec21Swiper.slidePrev();
        });

        $(".sec2-1-next").on("click", function (e) {
            e.preventDefault();
            sec21Swiper.slideNext();
        });
    })
      // sec4
      $(function () {
          const sec4Swiper = new Swiper('.sec4-list-swiper', {
              direction: 'horizontal', // 垂直切换选项
              slidesPerView: 2,
              spaceBetween: 5,
              loop: true,
              breakpoints: {
  
                  900: {
                      slidesPerView: 4,
                    
                  }
              },
          })
          $(".sec4-list-button-prev").on("click", function (e) {
              e.preventDefault();
              sec4Swiper.slidePrev();
          });
  
          $(".sec4-list-button-next").on("click", function (e) {
              e.preventDefault();
              sec4Swiper.slideNext();
          });
      })
      $(function () {
          $(".sec1-list1 .sec1-list1-item").on("click", function () {
              $(`
                #${$(this).attr("class").split(" ")[0]}`).get(0).scrollIntoView({ behavior: 'smooth' });
    })
    $(".product-quick-shop-buy-now").on("click",async function(){
        const id = $(this).attr("data-id");
        $(this).addClass("is-loading");
        $.ajax({
          type: "POST",
          url: "/cart/clear.js",
          data: {},
          dataType: "json",
          success: function() { 
            $.ajax({
              type: "POST",
              url: "/cart/add.js",
              data: {
                quantity: 1,
                id
              },
              dataType: "json",
              success: function() { 
                window.location.href = "/checkout";
                $(this).removeClass("is-loading");
              }
            });
          }
        });
      })
      })
 
  </script>
  {% schema %}
    {
      "name": "may2025-activities",
      "settings": [],
      "blocks": [
        {
            "type":"GiftCard",
            "name":"Gift Card",
            "settings":[
                {
                    "type":"text",
                    "id":"sec1_price",
                    "label":"优惠券的价格",
                    "default":"100"
                },
                {
                    "type":"text",
                    "id":"sec1_url",
                    "label":"优惠券的跳转链接",
                    "default":"/"
                }
            ]
        },
        {
            "type":"RecommendGift",
            "name":"Product",
            "limit":1,
            "settings":[
                {
                    "type":"text",
                    "id":"sec2_title",
                    "label":"Recommend Gift标题",
                    "default":"Recommend Gift"
                },
                {
                    "type":"product_list",
                    "id":"sec2_product",
                    "label":"Recommend Gift产品"
                },
                {
                    "type":"text",
                    "id":"sec3_title",
                    "label":"Hot-selling Products标题",
                    "default":"Hot-selling Products"
                },
                {
                    "type":"product_list",
                    "id":"sec3_product",
                    "label":"Hot-selling Products产品"
                },
                {
                    "type":"text",
                    "id":"sec4_title",
                    "label":"Clearance Area标题",
                    "default":"Clearance Area"
                },
                {
                    "type":"product_list",
                    "id":"sec4_product",
                    "label":"Clearance Area产品"
                },
            ]
        }
      ],
      "presets": [
                  {
                      "name": "may2025-activities"
                  }
          ]
    }
  {% endschema %}