{%- if request.page_type == 'index' -%}
    <h1 class="hidden">{{ shop.name }}</h1>
    {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": {{ shop.name | json }},
            "potentialAction": {
                "@type": "SearchAction",
                "target": {{ potential_action_target | json }},
                "query-input": "required name=search_term_string"
            },
            "url": {{ request.origin | append: page.url | json }}
        }
    </script>
{%- endif -%}

{%- if template.suffix == 'ajax_mega_menu' -%}
    {% section 'header-navigation-plain' %}
{%- endif -%}

{%- if settings.mobile_menu != 'default' -%}
	{% section 'halo-navigation-mobile' %}
	{% section 'halo-navigation-mobile-2' %}
	{% section 'halo-navigation-mobile-3' %}
{%- endif -%}

{%- unless settings.enable_currencies -%}
    <script src='//cdn.shopify.com/s/javascripts/currencies.js' defer="defer"></script>
    {%- if settings.currency_format_enable -%}
        <script src="{{ 'jquery.currencies-format.min.js' | asset_url }}" defer="defer"></script>
    {%- else -%}
        <script src="{{ 'jquery.currencies.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script type="text/javascript">let shopCurrency="{{ shop.currency }}"</script>
{%- endunless -%}



<style>
    @font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Montserrat-SemiBold.ttf?v=1715311107") format('truetype');
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Montserrat-Medium.ttf?v=1715311107") format('truetype');
  }

  @font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Montserrat-Regular.ttf?v=1715311107") format('truetype');
  }

  @font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Montserrat-SemiBold.ttf?v=1715311107") format('truetype');
  }

  @font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Montserrat-Light.ttf?v=1715311107") format('truetype');
  }

  @font-face {
    font-family: 'HarmonyOS_Sans_SC_Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/HarmonyOS_Sans_Bold.ttf?v=1715311194") format('truetype');
  }

  @font-face {
    font-family: 'HarmonyOS_Sans_SC_Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/HarmonyOS_Sans_Regular.ttf?v=1715311194") format('truetype');
  }

    @font-face {
    font-family: 'HarmonyOS_Sans_SC_Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/HarmonyOS_Sans_Regular.ttf?v=1715311194") format('truetype');
  }

    @font-face {
    font-family: 'HarmonyOS_Sans_SC_Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/HarmonyOS_Sans_Regular.ttf?v=1715311194") format('truetype');
  }

    @font-face {
    font-family: 'Nunito_Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Nunito_Sans.woff2?v=1722476509") format('truetype');
  }
  
  @font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Questrial.woff2?v=1722476509") format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Outfit.woff2?v=1722476509") format('truetype');
  }

  @font-face {
    font-family: 'Cormorant_SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Cormorant_SC.woff2?v=1722476509") format('truetype');
  }

  @font-face { 
    font-family: 'Plus_Jakarta_Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/Plus_Jakarta_Sans.woff2?v=1722476509") format('truetype');
  }
</style>
<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'plyr.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">

<script type="text/javascript" async src="{{ 'gsap.js' | asset_url }}"></script>
<script type="text/javascript" async src="{{ 'scroll_to_plugin.js' | asset_url }}"></script>
<script type="text/javascript" async src="{{ 'scroll_trigger.js' | asset_url }}"></script>
<script type="text/javascript" async src="{{ 'lazysizes.js' | asset_url }}"></script>
<script type="text/javascript" async src="{{ 'swiper.js' | asset_url }}"></script>
<script type="text/javascript" async src="{{ 'lozad.js' | asset_url }}"></script>
<script type="text/javascript" async src="{{ 'plyr.js' | asset_url }}"></script>